@model RadhekunkInfra.Models.AssociateBooking

@{
    ViewBag.Title = "AssociateTeamBookingList";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}


@using (Html.BeginForm("AssociateTeamBookingList", "AssociateDashboard", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">Team Plot Booking Details</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="card">
            <div class="card-header">
                <h4>Team Plot Booking Details</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Customer ID</label>
                            @Html.TextBoxFor(m => m.CustomerID, new { @class = "form-control", @Placeholder = "Search by Customer ID" })
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Associate ID</label>
                            @Html.TextBoxFor(m => m.AssociateID, new { @class = "form-control", @Placeholder = "Search by Associate ID" })

                        </div>
                    </div>

                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Booking No</label>
                            @Html.TextBoxFor(m => m.BookingNumber, new { @class = "form-control", @Placeholder = "Booking No" })

                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Select Site</label>
                            @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Select Phase</label>
                            @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @onchange = "return onSectorChange();" })
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label> Select Block</label>
                            @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Plot Number</label>
                            @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @Placeholder = "PlotNumber" })
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>From Date</label>
                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date", @readonly = "readonly" })

                        </div>
                    </div>
                    
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>To Date</label>
                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date", @readonly = "readonly" })

                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <input class="btn btn-primary mr-1" type="submit" value="Search" id="btnSearch" name="Search" onclick="return validate();"/>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover" data-page-length='50' id="tableExport" style="width:100%;">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Customer Detail</th>
                                <th>Associate Details</th>
                                <th>Booking No</th>
                                <th>Booking Date</th>
                                <th>Plot Number.</th>
                                <th>Plot Area.</th>
                                <th>Plot Status.</th>
                                <th>Plot Rate.</th>
                                <th>Plot Amt</th>
                                <th>Discount</th>
                                <th>Plot Rate</th>
                                <th>Net Amt</th>
                                <th>Paid Amt</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstPlot != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.lstPlot)
                                    {
                                        <tr class="text-left">
                                            <td>@i</td>
                                            <td>@Item.CustomerName (@Item.CustomerLoginID)</td>
                                            <td>@Item.AssociateName (@Item.AssociateLoginID)</td>
                                            <td>@Item.BookingNumber</td>
                                            <td>@Item.BookingDate</td>
                                            <td> @Item.PlotNumber</td>
                                            <td>@Item.PlotArea</td>
                                            <td>@Item.BookingStatus</td>
                                            <td>@Item.PlotRate</td>
                                            <td>@Item.PlotAmount</td>
                                            <td>@Item.Discount</td>
                                            <td>@Item.PlotRate</td>
                                            <td>@Item.NetPlotAmount</td>

                                            <td>@Item.PaidAmount</td>
                                            <td><div class="badge badge-success badge-shadow"><a class="badge badge-success badge-shadow" href="/AssociateDashboard/CustomerLedgerReport?BookingNumber=@Item.BookingNumber"><span>View Ledger</span></a></div></td>

                                        </tr>
                                        i++;
                                    }
                                }
                            }

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    function onSiteChange() {
        $("#divload").css({ 'display': '' });
        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/AssociateDashboard/GetSiteDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                var j = 1;
                if (data.Result == "yes") {
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Phase'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));

                    });
                    $("#SectorID").formSelect();
                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }


            }

        });

    }

    function onSectorChange() {

        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/AssociateDashboard/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });
                $("#BlockID").formSelect();
            }

        });
    }
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });

    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });

   
</script>


