@model RadhekunkInfra.Models.AssociateBooking

@{
    ViewBag.Title = "ChangePasswordAssociate";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}


@using (Html.BeginForm("ChangePasswordAssociate", "AssociateDashboard", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Change Password</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Change Password</h4>
                    <p style="color: red">
                        @TempData["Login"]
                    </p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label> Old Password <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label> New Password<span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label> Confirm New Password<span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.ConfirmNewPassword, new { @class = "form-control", @onchange = "return Check();" })
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <br />

                                <input class="btn cyan waves-effect waves-light left btn-primary" type="submit" value="Change" id="btnChange" name="Change" onclick="return validate();" />
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
}
<script>

    function validate() {
        $(".errortext").removeClass("errortext");
        if ($('#Password').val() == '') {
            $("#Password").addClass('errortext');
            $('#Password').focus();
            return false;
        }
        if ($('#NewPassword').val() == '') {
            $("#NewPassword").addClass('errortext');
            $('#NewPassword').focus();
            return false;
        }
        if ($('#ConfirmNewPassword').val() == '') {
            $("#ConfirmNewPassword").addClass('errortext');
            $('#ConfirmNewPassword').focus();
            return false;
        }

        return true;
    }

    function Check() {
        debugger
        if ($('#ConfirmNewPassword').val() != $('#NewPassword').val()) {

            alert("Confirm Password and new password should be same .")
            $('#ConfirmNewPassword').val('')
        }
    }
</script>




