@model RadhekunkInfra.Models.Master

@{
    ViewBag.Title = "EnquiryList";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}
@using (Html.BeginForm("EnquiryList", "AssociateDashboard", FormMethod.Post, new { @id = "form1" }))
{

    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Support</li>
            <li class="breadcrumb-item">Quiry Master</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Add New Quiry</h4>
                    <p style="color: red">
                        @TempData["Enquiry"]
                    </p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Name<span style="color:red">*</span></label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Placeholder = "Your Name" })
                                <span class="form-bar"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Query <span style="color: red">*</span></label>
                                @Html.TextAreaFor(m => m.Details, new { @class = "form-control", @Placeholder = "Fill Details" })

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    @if (Model.EnquiryID == null)
                    {
                        <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="btnSave" />
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.EnquiryID, new { @Value = @Model.EnquiryID })
                        <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Update" id="btnUpdate" name="btnUpdate" />
                    }
                </div>


            </div>
        </div>
    </div>
        <div class="section-body">
            <div class="card">
                <div class="card-header">
                    <h4>Quiry List</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Name</th>
                                <th>Details</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstBlock1 != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.lstBlock1)
                                    {
                                        <tr class="text-left">
                                            <td>@i</td>
                                            <td>@Item.Name</td>
                                            <td>@Item.Details</td>

                                        </tr>

                                        i++;
                                    }
                                }
                            }

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
}
