@model RadhekunkInfra.Models.AssociateBooking

@{
    ViewBag.Title = "PayoutRequestReport";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}
@using (Html.BeginForm("PayoutRequestReport", "AssociateDashboard", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Support</li>
            <li class="breadcrumb-item">Payout Request Report</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Payout Request Report</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>From Date</label>
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "ds" })
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label> To Date</label>
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "ds" })
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Status</label>
                                @Html.DropDownListFor(m => m.Status, new SelectList(ViewBag.RequestStatus, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <br />
                                <input class="btn btn-primary mr-1" type="submit" value="Search" id="btnSearch" name="Search" />
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>  Login ID</th>
                                    <th> First Name</th>
                                    <th>Requested Date</th>
                                    <th>Amount</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstPlot != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstPlot)
                                        {
                                            <tr class="text-left">
                                                <td>@i</td>
                                                <td hidden>@Item.RequestID</td>
                                                <td>@Item.AssociateLoginID</td>
                                                <td>@Item.FirstName</td>
                                                <td>@Item.ClosingDate  </td>
                                                <td>@Item.GrossAmount </td>

                                                <th><a class="@Item.DisplayName">@Item.Status</a></th>


                                            </tr>
                                            i++;
                                        }
                                    }
                                }

                            </tbody>

                        </table>
                    </div>
                    </div>
                </div>
        </div>
    </div>
}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });

</script>