@model RadhekunkInfra.Models.AssociateBooking

@{
    ViewBag.Title = "PayoutDetails";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}
@using (Html.BeginForm("PayoutDetails", "AssociateDashboard", FormMethod.Post, new { @id = "form1" }))
{

    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Payout</li>
            <li class="breadcrumb-item">Payout Details</li>
        </ul>
    </section>
    <div class="section-body">
                <div class="card">
                    <div class="card-header">
                        <h4>Payout Details</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label>PayOut No.</label>
                                    @Html.TextBoxFor(m => m.PayOutNo, new { @class = "form-control", @Placeholder = "Search by PayOutNo" })
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label>From Date</label>
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control",@readonly="true"})

                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label>To Date</label>
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "true" })

                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <br />
                                    <input class="btn btn-primary mr-1" type="submit" value="Search" id="btnSearch" name="Search" />
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th> Closing Date</th>
                                        <th> PayOut No</th>
                                        @*<th>Direct Income</th>
                                        <th>Pair Income</th>*@
                                        <th> Gross Amount</th>
                                        <th> TDS</th>
                                        <th> Processing</th>
                                        <th> NetAmount</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstPlot != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstPlot)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.ClosingDate</td>
                                                    <td>@Item.PayOutNo</td>
                                                    @*<td></td>
                                                    <td> </td>*@
                                                    <td>@Item.GrossAmount</td>
                                                    <td>@Item.TDS</td>
                                                    <td>@Item.Processing</td>
                                                    <td>@Item.NetAmount</td>

                                                </tr>
                                                i++;
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
 }
<script src="~/WebsiteCss/js/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy'
    })
    $('#ToDate').datepicker({
        format: "dd/mm/yy"
    })

</script>