@model RadhekunkInfra.Models.TraditionalAssociate

@{
    ViewBag.Title = "RegistrationDetails";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}

<h2></h2>
<style>
    #divload {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url("../files/assets/images/login-gif-11.gif") no-repeat center center rgba(0,0,0,0.25);
    }

    th.shso {
        padding: 0px 90px !important;
    }

    .errortext {
        border: 1px solid red !important;
    }
</style>
<div class="loader" id="divload"></div>
@using (Html.BeginForm("RegistrationDetails", "AssociateDashboard", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Associate</li>
            <li class="breadcrumb-item">Associate Details</li>
        </ul>
    </section>


    <div class="section-body">

        <div class="card">
            <div class="card-header">
                <h4>Associates Details</h4>

                <p style="color: red">
                    @TempData["Registration"]
                    @TempData["BlockUnblock"]
                </p>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- HTML5 Export Buttons table start -->

                        <div class="card-header table-card-header">

                            <a class="btn btn-primary btn-sm" style="margin-left:75%;margin-top:5px;" href="/Admin/Registration">Add New</a>
                        </div>
                        <div class="card-block" style="margin-left:5px;margin-right:5px">
                            <div class="form-group row">
                                <div class="input-field col m3 s12">
                                    Sponsor LoginId
                                    @Html.TextBoxFor(m => m.SponsorID, new { @class = "form-control", @Placeholder = "Sponsor LoginID" })
                                    <span class="form-bar"></span>
                                </div>
                                <div class="input-field col m3 s12">
                                    Sponsor Name
                                    @Html.TextBoxFor(m => m.SponsorName, new { @class = "form-control", @Placeholder = "Sponsor Name" })
                                    <span class="form-bar"></span>
                                </div>
                                <div class="input-field col m3 s12">
                                    Associate LoginId
                                    @Html.TextBoxFor(m => m.AssociateID, new { @class = "form-control", @Placeholder = "Search by Associate ID" })
                                    <span class="form-bar"></span>
                                </div>
                                <div class="input-field col m3 s12">
                                    Associate Name
                                    @Html.TextBoxFor(m => m.AssociateName, new { @class = "form-control", @Placeholder = "Associate Name" })
                                </div>
                                <div class="input-field col m3 s12">
                                    Joining From Date
                                    @Html.TextBoxFor(m => m.JoiningFromDate, new { @class = "form-control", @Placeholder = "From Date" })
                                </div>
                                <div class="input-field col m3 s12">
                                    Joining To Date
                                    @Html.TextBoxFor(m => m.JoiningToDate, new { @class = "form-control", @Placeholder = "To Date" })
                                </div>
                            </div>
                            <div class="input-field col s3 s12">
                                <input class="btn btn-success" type="submit" value="Search" id="btnSearchCustomer" name="btnSearchCustomer" />
                            </div>
                            <br />
                            <div class="table-responsive">
                                <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                    <thead>
                                        <tr>

                                            <th>S No.</th>
                                            @*<th>Branch</th>*@
                                            <th>Associate ID</th>
                                            <th>Associate Name</th>
                                            <th>Password</th>
                                            <th>Sponsor ID </th>
                                            <th>Sponsor Name</th>
                                            @*<th>Designation</th>*@
                                            @*<th>Name</th>*@
                                            <th>Contact Number</th>
                                            <th>Email</th>
                                            <th>PAN Number</th>
                                            @*<th class="shso">Action</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.lstTrad != null)
                                            {
                                                int i = 1;
                                                foreach (var Item in Model.lstTrad)
                                                {
                                                    <tr class="text-left">

                                                        <td>@i</td>
                                                        @*<td>@Item.BranchName</td>*@
                                                        <td>@Item.AssociateID</td>
                                                        <td>@Item.AssociateName</td>
                                                        <td>@Item.Password</td>
                                                        <td>@Item.SponsorID</td>
                                                        <td>@Item.SponsorName </td>
                                                        @*<td>@Item.DesignationName</td>*@
                                                        @*<td>@Item.FirstName</td>*@
                                                        <td>@Item.Contact</td>
                                                        <td>@Item.Email</td>
                                                        <td>@Item.PanNo</td>

                                                        @*<td>
                                                            <a href="/Admin/Registration?UserID=@Item.EncryptKey" class="btn btn-info btn-sm">Edit</a>

                                                            @if (Item.isBlocked == "False")
                                                            {
                                                                <a href="/Admin/BlockUser?LoginID=@Item.AssociateID" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to block this User ?')">Block</a>
                                                            }
                                                            else
                                                            {
                                                                <a href="/Admin/UnblockAssociate?LoginID=@Item.AssociateID" class="btn btn-sm btn-success" onclick="return confirm('Are you sure you want to unblock this User ?')">Unblock</a>
                                                            }

                                                            @if (Item.Status == "Inactive")
                                                            {
                                                                <a href="/Admin/ActivateUser?FK_UserID=@Item.UserID" class="btn btn-success" onclick="return confirm('Sure you want to activate this User ?')">
                                                                    Activate
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a href="/Admin/DeactivateUser?lid=@Item.AssociateID" class="btn btn-danger" onclick="return confirm('Sure you want to deactivate this User ?')">
                                                                    Deactivate
                                                                </a>
                                                            }


                                                        </td>*@
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>


    $('#JoiningFromDate').datepicker({
        dateFormat: 'dd/mm/yy'
    });
    $('#JoiningToDate').datepicker({
        dateFormat: 'dd/mm/yy'
    });



</script>


