@model RadhekunkInfra.Models.Profile

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}

@using (Html.BeginForm("ViewProfile", "AssociateDashboard", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="loader" id="divload"></div>
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            
            <li class="breadcrumb-item">Edit Profile</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="card">
            <div class="card-header">
                <h4>Edit Profile</h4>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-12 mx-auto">
                        <div class="row " style="display:none;">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <label>First Name <span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.FirstName)
                                    <br />
                                    <label>Last Name</label>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.LastName)
                                    <br />

                                </div>
                            </div>
                            @*<div class="col-lg-3">
                        <div class="form-group">

                        </div>
                    </div>*@
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <img src="@Model.ProfilePicture" height="190" width="250" />
                                    <input type="file" name="fileProfilePicture" id="Image" />
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 form-group">
                                <div class="form-group">

                                    <label>Mobile <span style="color:red">*</span></label>
                                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @readonly = "dgdf" })
                                    @Html.ValidationMessageFor(m => m.Mobile)
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">

                                    <label>Date of Birth</label>
                                    @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", @readonly = "dgdf" })
                                </div>
                            </div>
                            @*<div class="col-lg-3">
                        <div class="form-group">

                        </div>
                    </div>*@

                        </div>

                        <div class="row" style="display:none;">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <label>Sponsor Id</label>
                                    @Html.TextBoxFor(m => m.SponsorId, new { @class = "form-control", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.SponsorId)
                                    @*<input type ="text"  value="@item1.SponsorId" disabled="disabled" class="form-control" />*@
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <label>Sponsor Name</label>
                                    @Html.TextBoxFor(m => m.SponsorName, new { @class = "form-control", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(m => m.SponsorName)
                                    @*<input type ="text"  value="@item1.SponsorName" disabled="disabled" class="form-control" />*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <label>Email Id</label>
                                    @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EmailId)
                                    @*<input type ="text" id="txtEmail"  value="@item1.EmailId" disabled="disabled" class="form-control" />*@
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">

                                    <label>Pan Card</label>
                                    @Html.TextBoxFor(m => m.PanNumber, new { @class = "form-control", @Placeholder = "Pan Card", @Maxlength = "10", @onchange = "return validatepan(event);" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <label>Account Holder Name</label>
                                    @Html.TextBoxFor(m => m.AccountHolderName, new { @class = "form-control", })
                                    @Html.ValidationMessageFor(m => m.AccountHolderName)
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <label>Account Number</label>
                                    @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control" })
                                    @* @Html.ValidationMessageFor(m => m.AccountNumber)*@
                                    @*<input type ="text" id="txtEmail"  value="@item1.EmailId" disabled="disabled" class="form-control" />*@
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <label>IFSC </label>
                                    @Html.TextBoxFor(m => m.IFSC, new { @class = "form-control" })
                                    @*  @Html.ValidationMessageFor(m => m.IFSC)*@
                                    @*<input type ="text"  value="@item1.JoiningDate" disabled="disabled" class="form-control" />*@
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <label>Bank Name</label>
                                    @Html.TextBoxFor(m => m.BankName, new { @class = "form-control" })
                                    @* @Html.ValidationMessageFor(m => m.BankName)*@
                                    @*<input type ="text" id="txtEmail"  value="@item1.EmailId" disabled="disabled" class="form-control" />*@
                                </div>
                            </div>

                        </div>

                        <div class="row ">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <label>Bank Branch </label>
                                    @Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control" })
                                    @*     @Html.ValidationMessageFor(m => m.BankBranch)*@
                                    @*<input type ="text"  value="@item1.JoiningDate" disabled="disabled" class="form-control" />*@
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <label>Address</label>
                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @Placeholder = "Address" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="submit" id="btnUpdate" class="btn btn-success pull-right" name="btnUpdate" value="Update" onclick="return editProfile()" />
                                    <input type="button" id="btnEdit" class="btn btn-primary pull-right" value="Edit" onclick="editProfile()" style="display:none" />

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

}
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

<script src="./../AdminPanelCss/bower_components/jquery/dist/jquery.min.js"></script>

<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>

    $(document).ready(function () {
        if ($('#AccountNumber').val() != '') {
            $("#AccountNumber").attr("disabled", "disabled");
        }
        if ($('#IFSC').val() != '') {
            $("#IFSC").attr("disabled", "disabled");
        }
        if ($('#BankName').val() != '') {
            $("#BankName").attr("disabled", "disabled");
        }

        if ($('#BankBranch').val() != '') {
            $("#BankBranch").attr("disabled", "disabled");
        }
    });

    function editProfile() {
        $(".errortext").removeClass("errortext");
        if ($('#FirstName').val() == '') {
            $("#FirstName").addClass('errortext');
            $('#FirstName').focus();
            return false;
        }
        if ($('#Mobile').val() == '') {
            $("#Mobile").addClass('errortext');
            $('#Mobile').focus();
            return false;
        }
        //if ($('#AccountNumber').val() == '') {
        //    $("#AccountNumber").addClass('errortext');
        //    $('#AccountNumber').focus();
        //    return false;
        //}
        //if ($('#IFSC').val() == '') {
        //    $("#IFSC").addClass('errortext');
        //    $('#IFSC').focus();
        //    return false;
        //}
        //if ($('#BankName').val() == '') {
        //    $("#BankName").addClass('errortext');
        //    $('#BankName').focus();
        //    return false;
        //}
        //if ($('#BankBranch').val() == '') {
        //    $("#BankBranch").addClass('errortext');
        //    $('#BankBranch').focus();
        //    return false;
        //}
        return true;
    }
    $('#DOB').datepicker({
        dateFormat: 'dd/mm/yy',
    });
</script>
