@model RadhekunkInfra.Models.Farmer
@{
    ViewBag.Title = "Radhe Kunj Infratech pvt. ltd.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .errortext {
        border-color: red;
    }

    .hidePhoto {
        display: none !important;
    }

    .ShowPhoto {
        display: block !important;
    }
</style>
@using (Html.BeginForm("AddFarmers", "Farmers", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Farmer Management</li>
            <li class="breadcrumb-item">Add Farmer</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header ">
                    <h4>Add Farmer</h4>
                    <p style="color: green">
                        @TempData["SucMsgFarmer"]
                    </p>
                    <p style="color: red">
                        @TempData["ErrMsgFarmer"]
                    </p>
                </div>
                <div class="card-body">
                    <div class="row ">
                        @*<div class="col-md-4">
                                Title<span style="color:red">*</span>
                                @Html.DropDownListFor(m => m.Title, new SelectList(ViewBag.FTitle, "Value", "Text"), new { @class = "form-control" })
                            </div>*@
                        <div class="col-md-4 col-lg-4">
                            Name<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Farmer Name" })
                            @Html.HiddenFor(m => m.PK_Farmerid)
                        </div>
                        <div class="col-md-4 col-lg-4">
                            Amount<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @Placeholder = "Amount", @onkeypress = "return isNumberKey(event);" })
                        </div>
                        <div class="col-md-4 col-lg-4">
                            Mobile
                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @Placeholder = "Mobile", @onkeypress = "return isNumberKey(event);", @maxlength = "10" })
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4 col-lg-4">
                            Email-Id
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @Placeholder = "Email" })
                        </div>
                        <div class="col-md-4 col-lg-4">
                            Date of birth
                            @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", @Placeholder = "Date of birth" })
                        </div>
                        <div class="col-md-4 col-lg-4">
                            Gata/Khasra No.<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.GataKhasaraN, new { @class = "form-control", @Placeholder = "Gata/Khasra No." })
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4 col-lg-4">
                            Area <span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.Hectare, new { @class = "form-control", @placeholder = "Hectare", @onkeypress = "return isNumberKey(event);" })
                        </div>
                        <div class="col-md-4 col-lg-4" style="display:none">
                            Acre<span>&nbsp;</span>
                            @Html.TextBoxFor(m => m.Acre, new { @class = "form-control", @Placeholder = "Acre", @onkeypress = "return isNumberKey(event);" })
                        </div>
                        <div class="col-md-4 col-lg-4">
                            SQFT <span>&nbsp;</span>
                            @Html.TextBoxFor(m => m.SQFT, new { @class = "form-control", @Placeholder = "SQFT.", @onkeypress = "return isNumberKey(event);" })
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4 col-lg-4">
                            Pin Code<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control", @Placeholder = "PinCode", @onchange = "return getstatecity();", @onkeypress = "return isNumberKey(event);" })
                        </div>
                        <div class="col-md-4 col-lg-4">
                            City
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control", @Placeholder = "City", @readonly = "true" })
                        </div>
                        <div class="col-md-4 col-lg-4">
                            State
                            @Html.TextBoxFor(m => m.State, new { @class = "form-control", @Placeholder = "State", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row ">
                        <div class="input-field col-md-4">
                            Associate Id
                            @Html.TextBoxFor(m => m.AssociateLoginID, new { @class = "form-control", @Placeholder = "Associate ID", @onchange = "return getSponsorName();" })
                            @Html.HiddenFor(m => m.AssociateID)

                        </div>
                        <div class="input-field col-md-4">
                            Associate Name
                            @Html.TextBoxFor(m => m.DelearName, new { @class = "form-control", @Placeholder = "Associate Name", @readonly = "readonly" })
                        </div>
                        <div class="col-md-4 col-lg-4">
                            Address
                            @Html.TextAreaFor(m => m.Addrss, new { @class = "form-control", @Placeholder = "Address" })
                        </div>
                        <div class="col-md-4 col-lg-4">
                            Village
                            @Html.TextBoxFor(m => m.Village, new { @class = "form-control", @Placeholder = "Village" })
                        </div>
                        <div class="col-md-4 col-lg-4">
                            Id Proof

                            @{
                                var classhid = "";
                                if (Model != null && Model.PK_Farmerid != null && Model.IDProof != "")
                                {
                                    <input type="button" id="btnidpro" name="btnidpro" class="btn btn-primary ion-ios-pulse" value="<< Change" style="float:right;margin-top:26px;" />
                                    <img src="@Url.Content(Model.IDProof)" id="ididproof" height="190" width="250" style="margin-top:10px;" />
                                    classhid = "hidePhoto";
                                    @Html.HiddenFor(m => m.IDProof)
                                }

                                <input type="file" class="form-control hid @classhid" id="IDProof" name="IDProof" />
                            }
                        </div>
                        <div class="col-md-4 col-lg-4">
                            Photo
                            @{
                                var classh = "";

                                if (Model != null && Model.PK_Farmerid != null && Model.Photo != "")
                                {
                                    <input type="button" id="btnPhoto" name="btnidpro" class="btn btn-primary ion-ios-pulse" value="<< Change" style="float:right;margin-top:26px;" />
                                    <img src="@Url.Content(Model.Photo)" height="190" id="idphoto" width="250" style="margin-top:10px;" />
                                    @Html.HiddenFor(m => m.Photo)
                                    classh = "hidePhoto";
                                }

                                <input type="file" class="form-control hid1 @classh" id="Photo" name="Photo" />
                            }
                        </div>
                        <div class="col-md-4">
                            Registry
                            @Html.DropDownListFor(m => m.Registry, new SelectList(ViewBag.ddlRegistry, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            Agreement
                            @Html.DropDownListFor(m => m.Agreement, new SelectList(ViewBag.ddlAgreement, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            Notary
                            @Html.DropDownListFor(m => m.Notary, new SelectList(ViewBag.ddlNotary, "Value", "Text"), new { @class = "form-control" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="col-md-4 col-lg-4">
                            @if (Model != null && Model.PK_Farmerid == null)
                            {
                                <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="btnSave" />
                            }
                            else
                            {
                                <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Update" id="btnUpdate" name="btnUpdate" />
                            }
                            <input type="hidden" id="UserType" value="@Session["UserType"]" />
                            <input type="hidden" id="UserTypeName" value="@Session["UserTypeName"]" />
                            <a class="btn btn-info" href="/Farmers/FarmerList" style="margin-left:5px;">Back To List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                       }
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
        $("#divload").css({ 'display': 'none' });
        var cityuse = [];
        $("#loader").css({ 'display': '' });
        $.ajax({
            url: 'GetUserList',
            type: 'Post',
            success: function (response) {
                if (response != null) {
                    $(response).each(function (index, item) {
                        cityuse.push(item.UserName + "(" + item.LoginIDD + ")");
                    });
                    debugger
                    $('#AssociateLoginID').autocomplete({
                        source: cityuse,
                        select: function (event, ui) {
                            var str = ui.item.label;
                            var strsplit = str.split("(");
                            $('#AssociateID').val(strsplit[1].substr(0, strsplit[1].length - 1));
                        }
                    })
                }
            },
            error: function () {
                alert('Some Thing wrong!');
                $("#loader").css({ 'display': 'none' });
            }
        });
        var photo = $('#idphoto').val();
        var IdProo = $('#ididproof').val();

        if (IdProo == null || IdProo == "") {
            $("#IDProof").removeClass('hidePhoto');
            $("#IDProof").addClass('ShowPhoto');

        }
        else {
            $("#IDProof").addClass('hidePhoto');
            $("#IDProof").removeClass('ShowPhoto');
        }
        if (photo == null || photo == "") {
            $("#Photo").removeClass('hidePhoto');
            $("#Photo").addClass('ShowPhoto');

        }
        else {
            $("#Photo").addClass('hidePhoto');
            $("#Photo").removeClass('ShowPhoto');
        }
        var UserType = $('#UserType').val();
        var UserTypeName = $('#UserTypeName').val();
        if (UserType == 'Admin' && UserTypeName != 'Admin' && UserTypeName != "") {
            GetMenuDetails();
        }

    });
    function GetMenuDetails() {
        debugger
        var URL = "/Farmers/AddFarmers";
        $.ajax({
            type: "POST",
            url: "/Master/GetMenuDetails",
            data: { URL: URL },
            dataType: "json",
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                console.log(obj)
                for (var i = 0; i < obj.length; i++) {
                    if (obj[i].FormSave == true) {
                        $('#btnSave').show();

                        $("#btnSave").removeAttr('disabled');
                    }
                    else {
                        $('#btnSave').hide();

                        $("#btnSave").attr('disabled', 'disabled');
                    }
                    debugger
                    if (obj[i].FormUpdate == true && $('#PK_Farmerid').val() != "") {
                        $('#btnUpdate').show();

                        $("#btnUpdate").removeAttr('disabled');
                    }
                    else {
                        $('#btnUpdate').hide();
                        $("#btnUpdate").attr('disabled', 'disabled');
                    }
                }
            },
            error: function () {
                alert("Error occured!!")
            }
        });
    }
    $('#Hectare').keyup(function () {
        var getacre = parseFloat(2.47107 * $(this).val()).toFixed(2);
        $('#Acre').val(getacre);
        var getsqft = parseFloat(107639 * $(this).val()).toFixed(2);
        $('#SQFT').val(getsqft);
    });
    $('#Acre').keyup(function () {
        var gethectare = parseFloat(0.404686 * $(this).val()).toFixed(2);
        $('#Hectare').val(gethectare);
        var getsqft = parseFloat(43560 * $(this).val()).toFixed(2);
        $('#SQFT').val(getsqft);
    });
    $('#SQFT').keyup(function () {
        var gethectare = parseFloat($(this).val() / 107639).toFixed(2);
        $('#Hectare').val(gethectare);
        var getacre = parseFloat($(this).val() / 43560).toFixed(2);
        $('#Acre').val(getacre);
    });
    $("#btnPhoto").click(function () {
        $(".hid1").removeClass('hidePhoto');
        $(".hid1").addClass('ShowPhoto');
        $("#idphoto").addClass('hidePhoto');
        $("#btnPhoto").addClass('hidePhoto');
    });
    $("#btnidpro").click(function () {

        $(".hid").removeClass('hidePhoto');
        $(".hid").addClass('ShowPhoto');
        $("#ididproof").addClass('hidePhoto');
        $("#btnidpro").addClass('hidePhoto');

    });

    $('#DOB').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
        yearRange: "1900:2021"
    });

    function getstatecity() {
        $(".errortext").removeClass("errortext");
        $.ajax({
            url: "/Admin/GetStateCity",
            Type: "Get",
            DataType: "JSON",
            data: { Pincode: $("#Pincode").val() },
            success: function (data) {
                if (data.Result == "1") {
                    $("#State").val(data.State);
                    $("#City").val(data.City);
                }
                else {
                    $("#State").val('');
                    $("#City").val('');
                    $("#Pincode").val('');
                    $("#Pincode").addClass('errortext');
                    $('#Pincode').focus();
                    alert(data.Result);

                }


            }

        });
    }

    function getSponsorName() {

        $("#divload").css({ 'display': '' });
        var sponsorID = $('#AssociateID').val();
        $.ajax({
            url: 'GetSponsorName', type: 'post', dataType: 'json',
            data: { 'SponsorID': sponsorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                if (data.Result == "yes") {
                    $("#DelearName").val(data.DelearName);
                    //$("#UserID").val(data.UserID);
                    $("#DelearName").removeClass('errortext');
                    $("#AssociateID").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    alert("Invalid Associate ID");
                    $("#DelearName").val('');
                    $("#DelearName").addClass('errortext');
                    $("#AssociateID").addClass('errortext');
                    $('#AssociateID').focus();
                    $('#AssociateID').val('');

                }
            }
        });
    }
    function isNumberKey(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function validateform() {
        $("#divload").css({ 'display': '' });
        debugger
        $(".errortext").removeClass("errortext");
        ////if ($('#Title').val() == '') {
        ////    $("#Title").addClass('errortext');
        ////    $('#Title').focus();
        ////    return false;
        ////}
        if ($('#Name').val() == '') {
            $("#Name").addClass('errortext');
            $("#divload").css({ 'display': 'none' });
            $('#Name').focus();
            return false;
        }
        if ($('#Amount').val() == '') {
            $("#Amount").addClass('errortext');
            $("#divload").css({ 'display': 'none' });
            $('#Amount').focus();
            return false;
        }
        //if ($('#Mobile').val() == '') {
        //    $("#Mobile").addClass('errortext');
        //    $('#Mobile').focus();
        //    return false;
        //}
        if ($('#Area').val() == '') {
            $("#Area").addClass('errortext');
            $("#divload").css({ 'display': 'none' });
            $('#Area').focus();
            return false;
        }
        if ($('#Hectare').val() == '') {
            $("#Hectare").addClass('errortext');
            $("#divload").css({ 'display': 'none' });
            $('#Hectare').focus();
            return false;
        }
        if ($('#SQFT').val() == '') {
            $("#SQFT").addClass('errortext');
            $("#divload").css({ 'display': 'none' });
            $('#SQFT').focus();
            return false;
        }
        if ($('#Pincode').val() == '') {
            $("#Pincode").addClass('errortext');
            $("#divload").css({ 'display': 'none' });
            $('#Pincode').focus();
            return false;
        }
        if ($('#City').val() == '') {
            $("#City").addClass('errortext');
            $("#divload").css({ 'display': 'none' });
            $('#City').focus();
            return false;
        }
        if ($('#State').val() == '') {
            $("#State").addClass('errortext');
            $("#divload").css({ 'display': 'none' });
            $('#State').focus();
            return false;
        }
        if ($('#Delear').val() == '') {
            $("#Delear").addClass('errortext');
            $("#divload").css({ 'display': 'none' });
            $('#Delear').focus();
            return false;
        }

        if ($('#GataKhasaraN').val() == '') {
            $('#GataKhasaraN').addClass('errortext');
            $("#divload").css({ 'display': 'none' });
            $('#GataKhasaraN').focus();
            return false;
        }
        //if ($('#AssociateID').val() == '') {
        //    $('#AssociateID').addClass('errortext');
        //    $('#AssociateID').focus();
        //    return false;
        //}
        //if ($('#IDProof').val() == '') {
        //    $("#IDProof").addClass('errortext');
        //    $('#IDProof').focus();
        //    return false;
        //}
        $("#divload").css({ 'display': '' });
        return true;
    }

</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
