@model RadhekunkInfra.Models.Farmer

@{
    ViewBag.Title = "Radhe Kunj Infratech pvt. ltd.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
@using (Html.BeginForm("AddPayFarmers", "Farmers", FormMethod.Post, new { @id = "form1", @autocomplete = "off" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/Farmers/Farmerlist">
                    Farmer Payment List
                </a>
            </li>
            <li class="breadcrumb-item">Add Payment</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header ">
                    <h4>Add Payment</h4>
                    <p style="color: green;font-size: 17px;font-family: -webkit-body;">
                        @TempData["SucMsgFarmer"]
                    </p>
                </div>
                @if (Model.EncryptKey != null && Model.EncryptKey != "")
                {
                    <div class="card-header table-card-header">
                        <a class="btn btn-primary btn-sm" target="_blank" style="margin-left:83%;" href="/Farmers/PaymetFarmers?fid=@Model.EncryptKey"> <i class="fa fa-plus-circle"></i> View Payment History</a>
                    </div>
                }
                <div class="card-body">
                    <div class="row form-group">
                        <div class="col-md-3">
                            Name<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Farmer Name" })
                            @Html.HiddenFor(m => m.PK_Farmerid)
                            @Html.HiddenFor(m => m.EncryptKey)
                        </div>
                        <div class="col-md-3">
                            Mobile
                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @Placeholder = "Mobile", @onkeypress = "return isNumberKey(event);", @maxlength = "10" })
                        </div>
                        <div class="input-field col-md-3">
                            Associate Id
                            @Html.TextBoxFor(m => m.AssociateID, new { @class = "form-control", @Placeholder = "Associate ID", @onchange = "return getSponsorName();",@readonly=true })

                        </div>
                        <div class="input-field col-md-3">
                            Associate Name
                            @Html.TextBoxFor(m => m.DelearName, new { @class = "form-control", @Placeholder = "Associate Name", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 col-lg-3">
                            Area <span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.Hectare, new { @class = "form-control", @placeholder = "Hectare", @onkeypress = "return isNumberKey(event);", @readonly = true })
                        </div>
                        <div class="col-md-3 col-lg-3" style="display:none">
                            Acre<span>&nbsp;</span>
                            @Html.TextBoxFor(m => m.Acre, new { @class = "form-control", @Placeholder = "Acre", @onkeypress = "return isNumberKey(event);", @readonly = true })
                        </div>
                        <div class="col-md-3 col-lg-3">
                            SQFT <span>&nbsp;</span>
                            @Html.TextBoxFor(m => m.SQFT, new { @class = "form-control", @Placeholder = "SQFT.", @onkeypress = "return isNumberKey(event);", @readonly = true })
                        </div>
                        <div class="col-md-3 col-lg-3">
                            Gata/Khasra No.
                            @Html.TextBoxFor(m => m.GataKhasaraN, new { @class = "form-control", @Placeholder = "Gata/Khasra No.", @readonly = true })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            Total Balance<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.TotalBalance, new { @class = "form-control", @Placeholder = "Total Balance", @onkeypress = "return isNumberKey(event);", @readonly = true })
                        </div>
                        <div class="col-md-3">
                            Paid Amount :<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.PaidAmount, new { @class = "form-control", @Placeholder = " Paid Amount",@type="number"})
                        </div>
                        <div class="col-md-3">
                            Remaining Amount
                            @Html.TextBoxFor(m => m.RemainingAmount, new { @class = "form-control", @Placeholder = "Remaining Amount", @onkeypress = "return isNumberKey(event);", @readonly = true })
                        </div>
                        <div class="col-md-3">
                            Payment Type:<span style="color:red">*</span>
                            @Html.DropDownListFor(m => m.PayType, new SelectList(ViewBag.ddlPaymentMode, "Value", "Text"), new { @class = "form-control", @onchange = "return OnPayTypeChange();" })
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="input-field col-md-3" id="divtransactiono" style="display: none">
                            <div class="form-group">
                                <span id="txnNo"></span> <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.TransactionNo, new { @class = "form-control", @Placeholder = "Cheque/Transaction Number", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="input-field col-md-3" id="divPaymentDate" style="display: none">
                            <div class="form-group">
                                <span id="txndt"></span><span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.TransactionDate, new { @class = "form-control", @Placeholder = "Cheque/Transaction Date", @Readonly = "readonly" })
                            </div>
                        </div>
                        <div class="input-field col-md-3" id="divbankname" style="display: none">
                            <div class="form-group">
                                Bank Name <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.Fk_BankId, new SelectList(ViewBag.ddlTransactionType, "Value", "Text"), new { @class = "TransactionID form-control" })
                                @*@Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @maxlength = "100", @Placeholder = "Bank Name" })*@
                            </div>
                        </div>
                        <div class="input-field col-md-3" id="divbankbranch" style="display: none">
                            <div class="form-group">
                                Bank Branch <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control", @maxlength = "100", @Placeholder = "Bank Branch" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="input-field col-md-3">
                            <div class="form-group">
                               Payment Date<span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.Paymentdate, new { @class = "form-control",@readonly=true })
                            </div>
                        </div>
                        <div class="col-md-6">
                            Remark:
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @placeholder = "Remarks" })
                        </div>
                        <div class="col-md-3">
                            <input class="btn btn-success" type="submit" style="margin-top:31px;" onclick="return validateform();" value="Save" id="btnSave" name="btnSave" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });

    });
    $('#Hectare').keyup(function () {
        var getacre = parseFloat(2.47107 * $(this).val()).toFixed(2);
        $('#Acre').val(getacre);
        var getsqft = parseFloat(107639 * $(this).val()).toFixed(2);
        $('#SQFT').val(getsqft);
    });
    $('#Acre').keyup(function () {
        var gethectare = parseFloat(0.404686 * $(this).val()).toFixed(2);
        $('#Hectare').val(gethectare);
        var getsqft = parseFloat(43560 * $(this).val()).toFixed(2);
        $('#SQFT').val(getsqft);
    });
    $('#SQFT').keyup(function () {
        var gethectare = parseFloat($(this).val() / 107639).toFixed(2);
        $('#Hectare').val(gethectare);
        var getacre = parseFloat($(this).val() / 43560).toFixed(2);
        $('#Acre').val(getacre);
    });
        function validatePayAmount() {
            debugger
            var payAmount = $('#PaidAmount').val();
            var actualAmount = $('#TotalBalance').val();
            var disc = $('#RemainingAmount').val();
            var remaining = (Number)(actualAmount) - (Number)(payAmount);
            $("#RemainingAmount").val(remaining);

            if ((Number)(payAmount) > ((Number)(actualAmount))) {
                $("#PaidAmount").addClass('errortext');
                $('#PaidAmount').focus();
                $("#PaidAmount").val('');
                $("#RemainingAmount").val(0);
                alert("Pay Amount cannot be greater than Total Balance Amount ");
                return false;
            }

            else {
                $("#PaidAmount").removeClass('errortext');
                return true;
            }

        }
        function OnPayTypeChange() {
            if ($('#PayType').val() == "2") {
                $('#txnNo').html('Cheque No.');
                $('#txndt').html('Cheque Date');
                $("#divPaymentDate").show();
                $("#divtransactiono").show();
                $("#divbankname").show();
                $("#divbankbranch").show();
                $("#TransactionNo").attr("placeholder", "Cheque No.");
                $("#TransactionDate").attr("placeholder", "Cheque Date");
            }
            else if ($('#PayType').val() == "3") {
                $('#txndt').html('NEFT Date');
                $('#txnNo').text('NEFT No.');
                $("#divPaymentDate").show();
                $("#divtransactiono").show();
                $("#divbankname").show();
                $("#divbankbranch").show();
                $("#TransactionNo").attr("placeholder", "NEFT No.");
                $("#TransactionDate").attr("placeholder", "NEFT Date");
            }
            else if ($('#PayType').val() == "4") {
                $('#txndt').html('DD Date');
                $('#txnNo').text('DD No.');
                $("#divPaymentDate").show();
                $("#divtransactiono").show();
                $("#divbankname").show();
                $("#divbankbranch").show();
                $("#TransactionNo").attr("placeholder", "DD No.");
                $("#TransactionDate").attr("placeholder", "DD Date");
            }
            else if ($('#PayType').val() == "5") {
                $('#txndt').html('RTGS Date');
                $('#txnNo').text('RTGS No.');
                $("#divPaymentDate").show();
                $("#divtransactiono").show();
                $("#divbankname").show();
                $("#divbankbranch").show();
                $("#TransactionNo").attr("placeholder", "RTGS No.");
                $("#TransactionDate").attr("placeholder", "RTGS Date");
            }
            else if ($('#PayType').val() == "6") {

                $('#txndt').html('IMPS Date');
                $('#txnNo').text('IMPS No.');
                $("#divPaymentDate").show();
                $("#divtransactiono").show();
                $("#divbankname").show();
                $("#divbankbranch").show();
                $("#TransactionNo").attr("placeholder", "IMPS No.");
                $("#TransactionDate").attr("placeholder", "IMPS Date");
            }
            else if ($('#PayType').val() == "7") {
                $('#txnNo').text('Mobile No. / UPI ID');
                $("#divPaymentDate").hide();
                $("#divtransactiono").show();
                $("#divbankname").hide();
                $("#divbankbranch").hide();
                $("#divPaymentDate").hide();
                $("#TransactionNo").attr("placeholder", "Mobile No. / UPI ID");
            }
            else if ($('#PayType').val() == "8") {
                $('#txnNo').text('Mobile No. / UPI ID');
                $("#divPaymentDate").hide();
                $("#divtransactiono").show();
                $("#divbankname").hide();
                $("#divbankbranch").hide();
                $("#divPaymentDate").hide();
                $("#TransactionNo").attr("placeholder", "Mobile No. / UPI ID");
            }
            else if ($('#PayType').val() == "9") {
                $('#txnNo').text('Mobile No. / UPI ID');
                $("#divPaymentDate").show();
                $("#divtransactiono").show();
                $("#divbankname").hide();
                $("#divbankbranch").hide();
                $("#divPaymentDate").hide();
                $("#TransactionNo").attr("placeholder", "Mobile No. / UPI ID");
            }
            else if ($('#PayType').val() == "10") {
                $('#txndt').html('UPI Date');
                $('#txnNo').text('Mobile No. / UPI ID');
                $("#divPaymentDate").show();
                $("#divtransactiono").show();
                $("#divbankname").hide();
                $("#divbankbranch").hide();
                $("#TransactionNo").attr("placeholder", "Mobile No. / UPI ID");
                $("#TransactionDate").attr("placeholder", "UPI Date");
            }
            else if ($('#PayType').val() == "11") {
                $("#divPaymentDate").hide();
                $("#divtransactiono").hide();
                $("#divbankname").hide();
                $("#divbookingno").hide();
                $("#divbankbranch").hide();
                $("#TransactionNo").attr("placeholder", "Reciept No.");
                $("#TransactionDate").attr("placeholder", "Transaction Date");
            }
            else {
                $("#divPaymentDate").hide();
                $("#divtransactiono").hide();
                $("#divbankname").hide();
                $("#divbankbranch").hide();
            }
        }
        $('#Paymentdate').datepicker({
            dateFormat: 'dd/mm/yy',
            changeYear: true,
            changeMonth: true,
            yearRange: "1900:2021"
        });
        $('#CashDate').datepicker({
            dateFormat: 'dd/mm/yy',
            changeYear: true,
            changeMonth: true,
            yearRange: "1900:2021"
        });
        $('#TransactionDate').datepicker({
            dateFormat: 'dd/mm/yy',
            changeYear: true,
            changeMonth: true,
            yearRange: "1900:2021"
        });
        function isNumberOrDecimal(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31
              && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
        function validateform() {
            $("#divload").css({ 'display': 'none' });
            $(".errortext").removeClass("errortext");
            if ($('#Name').val() == '') {
                $("#Name").addClass('errortext');
                $('#Name').focus();
                return false;
            }
            if ($('#TotalBalance').val() == '') {
                $("#TotalBalance").addClass('errortext');
                $('#TotalBalance').focus();
                return false;
            }
            //if ($('#Mobile').val() == '') {
            //    $("#Mobile").addClass('errortext');
            //    $('#Mobile').focus();
            //    return false;
            //}
            if ($('#PaidAmount').val() == '') {
                $("#PaidAmount").addClass('errortext');
                $('#PaidAmount').focus();
                return false;
            }
    debugger
    if ($('#Paymentdate').val() == '' || $('#Paymentdate').val() == null) {
        $("#Paymentdate").addClass('errortext');
        $('#Paymentdate').focus();
                return false;
            }

    if ($('#PayType').val() == '2') {
        if ($('#TransactionNo').val() == '') {
            $("#TransactionNo").addClass('errortext');
            $('#TransactionNo').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#TransactionDate').val() == '') {
            $("#TransactionDate").addClass('errortext');
            $('#TransactionDate').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#Fk_BankId').val() == '') {
            $("#Fk_BankId").addClass('errortext');
            $('#Fk_BankId').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#BankBranch').val() == '') {
            $("#BankBranch").addClass('errortext');
            $('#BankBranch').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
    }
        else if ($('#PayType').val() == '3') {
            if ($('#TransactionNo').val() == '') {
                $("#TransactionNo").addClass('errortext');
                $('#TransactionNo').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#Fk_BankId').val() == '') {
                $("#Fk_BankId").addClass('errortext');
                $('#Fk_BankId').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
    else if ($('#PayType').val() == '4') {
        if ($('#TransactionNo').val() == '') {
            $("#TransactionNo").addClass('errortext');
            $('#TransactionNo').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#TransactionDate').val() == '') {
            $("#TransactionDate").addClass('errortext');
            $('#TransactionDate').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#Fk_BankId').val() == '') {
            $("#Fk_BankId").addClass('errortext');
            $('#Fk_BankId').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#BankBranch').val() == '') {
            $("#BankBranch").addClass('errortext');
            $('#BankBranch').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
    }
        //else if ($('#PayType').val() == '5') {
        //    if ($('#TransactionNo').val() == '') {
        //        $("#TransactionNo").addClass('errortext');
        //        $('#TransactionNo').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //    if ($('#TransactionDate').val() == '') {
        //        $("#TransactionDate").addClass('errortext');
        //        $('#TransactionDate').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //    if ($('#Fk_BankId').val() == '') {
        //        $("#Fk_BankId").addClass('errortext');
        //        $('#Fk_BankId').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //    if ($('#BankBranch').val() == '') {
        //        $("#BankBranch").addClass('errortext');
        //        $('#BankBranch').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //}
        //else if ($('#PayType').val() == '6') {
        //    if ($('#TransactionNo').val() == '') {
        //        $("#TransactionNo").addClass('errortext');
        //        $('#TransactionNo').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //    if ($('#TransactionDate').val() == '') {
        //        $("#TransactionDate").addClass('errortext');
        //        $('#TransactionDate').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //    if ($('#Fk_BankId').val() == '') {
        //        $("#Fk_BankId").addClass('errortext');
        //        $('#Fk_BankId').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //    if ($('#BankBranch').val() == '') {
        //        $("#BankBranch").addClass('errortext');
        //        $('#BankBranch').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //}
    else if ($('#PayType').val() == '7') {

        if ($('#TransactionNo').val() == '') {
            $("#TransactionNo").addClass('errortext');
            $('#TransactionNo').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

    }
    else if ($('#PayType').val() == '8') {

        if ($('#TransactionNo').val() == '') {
            $("#TransactionNo").addClass('errortext');
            $('#TransactionNo').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
    }
    else if ($('#PayType').val() == '9') {

        if ($('#TransactionNo').val() == '') {
            $("#TransactionNo").addClass('errortext');
            $('#TransactionNo').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
    }
    else if ($('#PayType').val() == '10') {

        if ($('#TransactionNo').val() == '') {
            $("#TransactionNo").addClass('errortext');
            $('#TransactionNo').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        //if ($('#TransactionDate').val() == '') {
        //    $("#TransactionDate").addClass('errortext');
        //    $('#TransactionDate').focus();
        //    $("#divload").css({ 'display': 'none' });
        //    return false;
        //}
        //if ($('#Fk_BankId').val() == '') {
        //    $("#Fk_BankId").addClass('errortext');
        //    $('#Fk_BankId').focus();
        //    $("#divload").css({ 'display': 'none' });
        //    return false;
        //}
        //if ($('#BankBranch').val() == '') {
        //    $("#BankBranch").addClass('errortext');
        //    $('#BankBranch').focus();
        //    $("#divload").css({ 'display': 'none' });
        //    return false;
        //}
    }
    else if ($('#PayType').val() == '11') {

        if ($('#TransactionNo').val() == '') {
            $("#TransactionNo").addClass('errortext');
            $('#TransactionNo').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#TransactionDate').val() == '') {
            $("#TransactionDate").addClass('errortext');
            $('#TransactionDate').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        //if ($('#Fk_BankId').val() == '') {
        //    $("#Fk_BankId").addClass('errortext');
        //    $('#Fk_BankId').focus();
        //    $("#divload").css({ 'display': 'none' });
        //    return false;
        //}
        //if ($('#BankBranch').val() == '') {
        //    $("#BankBranch").addClass('errortext');
        //    $('#BankBranch').focus();
        //    $("#divload").css({ 'display': 'none' });
        //    return false;
        //}
    }
            $("#divload").css({ 'display': '' });
            return true;
        }
  
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
