@model RadhekunkInfra.Models.Farmer

@{
    ViewBag.Title = "Radhe Kunj Infratech pvt. ltd.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
@using (Html.BeginForm("EditPayFarmers", "Farmers", FormMethod.Post, new { @id = "form1", @autocomplete = "off" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item"> 
            <a href="/Farmers/Farmerlist">Farmer Payment List</a>
            </li>
            <li class="breadcrumb-item">Edit Payment</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header ">
                    <h4>Edit Payment</h4>


                </div>
                <div class="card-body">
                    <div class="row form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <p style="color: green;font-size: 17px;
    font-family: -webkit-body;">
                                @TempData["SucMsgFarmer"]

                            </p>
                            <p style="color: red;font-size: 17px;
    font-family: -webkit-body;">

                                @TempData["ErrMsgFarmer"]
                            </p>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            Name: <span style="color:red">*</span>
                        </div>
                        <div class="col-md-4 col-lg-4">

                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Farmer Name" })
                            @Html.HiddenFor(m => m.PK_Farmerid)
                            @Html.HiddenFor(m => m.Reciept)
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            Mobile: <span style="color:red">*</span>
                        </div>
                        <div class="col-md-4 col-lg-4">

                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @Placeholder = "Mobile", @onkeypress = "return isNumberKey(event);", @maxlength = "10" })
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            Total Balance: <span style="color:red">*</span>
                        </div>
                        <div class="col-md-4 col-lg-4">

                            @Html.TextBoxFor(m => m.TotalBalance, new { @class = "form-control", @Placeholder = "Total Balance", @onkeypress = "return isNumberKey(event);" })
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            Paid Amount: <span style="color:red">*</span>
                        </div>
                        <div class="col-md-4 col-lg-4">

                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @Placeholder = " Paid Amount", @onkeypress = "return isNumberKey(event);" })
                        </div>

                        <div class="col-md-3"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            Cash/ Cheque/ PDC Date: <span style="color:red">*</span>
                        </div>
                        <div class="col-md-4 col-lg-4">

                            @Html.TextBoxFor(m => m.CashDate, new { @class = "form-control", @placeholder = "Cash/ Cheque/ PDC Date" })
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row form-group ">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            Payment Type: <span style="color:red">*</span>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => m.PayType, new SelectList(ViewBag.ddlPaymentMode, "Value", "Text"), new { @class = "form-control", @onchange = "return OnPayTypeChange();" })

                        </div>
                        <div class="col-md-3"></div>

                    </div>
                    <div class="row form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2" id="divchequ">
                            Cheque No.:
                        </div>
                        <div class="col-md-4" id="divcheque">
                            @Html.TextBoxFor(m => m.ChequeNo, new { @class = "form-control", @placeholder = "Cheque No" })
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2" id="divbankn">
                            Bank Name:
                        </div>
                        <div class="col-md-4" id="divbank">
                            @Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @placeholder = "Bank Name" })
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-2">
                            Remark:
                        </div>
                        <div class="col-md-4">
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @placeholder = "Remarks" })
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">

                        </div>

                        <div class="col-md-4 col-lg-4">
                            <input class="btn btn-success" type="submit" onclick="return validateform();" value="Update" id="btnUpdate" name="btnUpdate" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>

    function OnPayTypeChange() {
        $("#divload").css({ 'display': 'none' });
        var paytyp = $('#PayType').val();
        if (paytyp == 1) {
            $("#divcheque").css({ 'display': 'none' });
            $("#divbank").css({ 'display': 'none' });
            $("#divchequ").css({ 'display': 'none' });
            $("#divbankn").css({ 'display': 'none' });
            return true;
        }
        else if (paytyp == null || paytyp == 2 || paytyp == 3 || paytyp == 4 || paytyp == 5 || paytyp == 6 || paytyp == 7 || paytyp == 8) {
            $("#divcheque").css({ 'display': 'block' });
            $("#divbank").css({ 'display': 'block' });
            $("#divchequ").css({ 'display': 'block' });
            $("#divbankn").css({ 'display': 'block' });
            return true;
        }
        return false;
    }

    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });

    });
    $('#CashDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
        yearRange: "1900:2021"
    });

    function isNumberKey(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function validateform() {
        $("#divload").css({ 'display': 'none' });
        $(".errortext").removeClass("errortext");
        if ($('#Name').val() == '') {
            $("#Name").addClass('errortext');
            $('#Name').focus();
            return false;
        }
        if ($('#Amount').val() == '') {
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            return false;
        }
        if ($('#Mobile').val() == '') {
            $("#Mobile").addClass('errortext');
            $('#Mobile').focus();
            return false;
        }
        if ($('#TotalBalance').val() == '') {
            $("#TotalBalance").addClass('errortext');
            $('#TotalBalance').focus();
            return false;
        }
        if ($('#CashDate').val() == '') {
            $("#CashDate").addClass('errortext');
            $('#CashDate').focus();
            return false;
        }
        if ($('#PayType').val() == '') {
            $("#PayType").addClass('errortext');
            $('#PayType').focus();
            return false;
        }

        if ($('#Remarks').val() == '') {
            $("#Remarks").addClass('errortext');
            $('#Remarks').focus();
            return false;
        }

        $("#divload").css({ 'display': '' });
        return true;
    }

</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

