@model RadhekunkInfra.Models.Farmer

@{
    ViewBag.Title = "FarmerPlotRegistrylist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #divload {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url("../files/assets/images/login-gif-11.gif") no-repeat center center rgba(0,0,0,0.25);
    }

    .errortext {
        border: 1px solid red !important;
    }
</style>
<div class="loader" id="divload"></div>
@using (Html.BeginForm("FarmerPlotRegistrylist", "Farmers", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Farmer</li>
            <li class="breadcrumb-item">Farmer  Plot Registry List</li>
        </ul>
    </section>
    <div class="section-body">

        <div class="card">
            <div class="card-header">
                <h4>Farmer Plot Registry List</h4>
                <p style="color: green;">
                    @TempData["plotregistrylist"]
                </p>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- HTML5 Export Buttons table start -->

                        <div class="card-header table-card-header">
                            <a class="btn btn-primary btn-sm" style="margin-left:89%;" href="/Farmers/FarmerPlotRegistry"> <i class="fa fa-plus-circle"></i> Add New</a>
                        </div>

                        <div class="form-group row">
                            <div class="input-field col m3 s12">
                                Name
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Placeholder = "Farmer Name" })
                            </div>
                            <div class="input-field col m3 s12">
                                Customer Name
                                @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @Placeholder = "Customer Name" })
                            </div>
                            <div class="input-field col m3 s12">
                                From Date
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date", @readonly = "true" })
                            </div>
                            <div class="input-field col m3 s12">
                                To Date
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date", @readonly = "true" })
                            </div>
                            <div class="input-field col m3 s12">
                                <input style="margin-top:24px;" class="btn btn-success" type="submit" value="Search" id="btnSearchCustomer" name="Search" />
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Plot Details</th>
                                        <th>Customer Name</th>
                                        <th>Farmer Name</th>
                                        <th>Registry Date</th>
                                        <th>Gata No.</th>
                                        <th>Total Area (SQFT)</th>
                                        <th>Plot Size (SQFT)</th>
                                        <th>Remaining Area (SQFT)</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.FarmerPlotList != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.FarmerPlotList)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.PlotNumber</td>
                                                    <td>@Item.CustomerName</td>
                                                    <td>@Item.FarmerName</td>
                                                    <td>@Item.RegistryDate</td>
                                                    <td>@Item.GataKhasaraN</td>
                                                    <td>@Item.TotalBalance</td>
                                                    <td>@Item.PlotSize</td>
                                                    <td>@Item.RemainingArea</td>
                                                    
                                                    <td>
                                                        @if (Item.FStatus == "Active")
                                                        {
                                                            <a class="badge badge-success" href="/Farmers/Plotactive?id=@Item.EncryptKey&&IsActive=@Item.IsActive" data-toggle="tooltip" title="" data-original-title="Click to Inactive" onclick="return Inactive();">Active</a>
                                                        }
                                                        else
                                                        {
                                                            <a class="badge badge-danger" href="/Farmers/Plotactive?id=@Item.EncryptKey&&IsActive=@Item.IsActive" data-toggle="tooltip" title="" onclick="return Active();" data-original-title="Click to Active">Inactive</a>
                                                        }
                                                    </td>
                                               
                                                </tr>
                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });

    });
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,

    });
    function Inactive() {
        debugger
        if (confirm("Are you sure you want to Inactive this plot registry ?")) {
            return true;
        } else {
            return false;
        }
    }
    function Active() {
        debugger
        if (confirm("Are you sure you want to Active this plot registry ?")) {
            return true;
        } else {
            return false;
        }
    }
</script>
