@model RadhekunkInfra.Models.Farmer

@{
    ViewBag.Title = "Farmerpaymentlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="loader" id="divload"></div>
@using (Html.BeginForm("Farmerpaymentlist", "Farmers", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/Farmers/Farmerlist">
                    Farmer list
                </a>
            </li>
            <li class="breadcrumb-item">Farmer Payment List</li>
        </ul>
    </section>
    <div class="section-body">

        <div class="card">
            <div class="card-header">
                <h4>Farmer Payment List</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row" style="">
                            <div class="col-md-3">
                                <span style="text-align:center">
                                    Name
                                </span>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    From Date
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    To Date
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    To Date
                                    @Html.DropDownListFor(m => m.CheqStatus, new SelectList(ViewBag.CheckStatus, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                         
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="btn btn-success" type="submit" value="Search" id="btnSearch" onclick="return GetMenuDetails();" name="Search" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- HTML5 Export Buttons table start -->
                        <div class="table-responsive">
                            <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Name</th>
                                        <th>Reciept No</th>
                                        @*<th>Generated Amount</th>*@
                                        <th>Paid Amount</th>
                                        <th>Payment Date</th>
                                        <th>Payment Type</th>
                                        <th>Cheque No</th>
                                        <th>Bank Name</th>
                                        <th>Remark</th>
                                        <th>Cheque Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.PaymetListFarm != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.PaymetListFarm)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.Name</td>
                                                    <td>@Item.Reciept</td>
                                                    @*<td>@Item.TotalBalance</td>*@
                                                    <td>@Item.PaidAmount</td>
                                                    <td>@Item.CashDate</td>
                                                    <td>@Item.PayType</td>
                                                    <td>@Item.ChequeNo</td>
                                                    <td>@Item.BankName</td>
                                                    <td>@Item.Remarks</td>
                                                   <td>@Item.CheqStatus</td>
                                                </tr>

                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });

    });
    function onChange(index) {
        $("#divload").css({ 'display': 'none' });
        var CheqStatus = $('.CheckStatus_' + index).val();
        if (CheqStatus == "0")
        {
            $('.Date_' + index).hide();
            $('.btn_check_' + index).hide();
            $('.td_Date').hide();
        }
        else {
            $('.Date_' + index).show();
            $('.btn_check_' + index).show();
            $('.td_Date').show();
        }
    }
    $('.d').datepicker({
        dateFormat: 'dd/mm/yy',
        maxDate: 0,
        changeYear: true,
        changeMonth: true
    });
    function CheckStatusUpdate(index) {
        debugger
        var CheqStatus = $('.CheckStatus_' + index).val();
        var CheckDate = $('.Date_' + index).val();
        var ReferencdId = $('#btn_Update_' + index).attr('data-paymentId');
        var FarmerId = $('#btn_Update_' + index).attr('data-Userid');

        if (CheqStatus == "0")
        {
            $('.CheckStatus_' + index).addClass('errortext');
            $("#divload").css({ 'display': 'none' });
            $('.CheckStatus_' + index).focus();
              return false;
        }
        else
        {
        $(".errortext").removeClass("errortext");
        //$("#divload").css({ 'display': '' });
        $.ajax({
            url: "/Farmers/UpdateCheckStaus",
            Type: "Get",
            DataType: "JSON",
            data: { CheqStatus: CheqStatus, ReferencdId: ReferencdId, FarmerId: FarmerId, CheckDate: CheckDate },
            success: function (data) {
                alert('Payment update successfully !!')
                location.reload();

            }
        });

        }
    }
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,

    });
    function Inactive() {
        debugger
        if (confirm("Are you sure you want to Inactive this farmer ?")) {
            return true;
        } else {
            return false;
        }
    }
    function Active() {
        debugger
        if (confirm("Are you sure you want to Active this farmer?")) {
            return true;
        } else {
            return false;
        }
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
