@model RadhekunkInfra.Models.Farmer

@{
    ViewBag.Title = "Radhe Kunj Infratech pvt. ltd.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #divload {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url("../files/assets/images/login-gif-11.gif") no-repeat center center rgba(0,0,0,0.25);
    }

    .errortext {
        border: 1px solid red !important;
    }
</style>
<div class="loader" id="divload"></div>
@using (Html.BeginForm("Farmerlist", "Farmers", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Farmer Management</li>
            <li class="breadcrumb-item">Farmer List</li>
        </ul>
    </section>
    <div class="section-body">

        <div class="card">
            <div class="card-header">
                <h4>Farmer List</h4>

                <p style="color: green;" >
                    @TempData["SucFarmerList"]
                </p>
                <p style="color: red">
                    @TempData["ErrFarmerList"]
                </p>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- HTML5 Export Buttons table start -->

                        <div class="card-header table-card-header">
                            <a class="btn btn-primary btn-sm" style="margin-left:89%;" href="/Farmers/AddFarmers"> <i class="fa fa-plus-circle"></i> Add New</a>
                        </div>

                        <div class="form-group row">
                            <div class="input-field col m3 s12">
                                Name
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Placeholder = "Farmer Name" })
                            </div>

                            <div class="input-field col m3 s12">
                                From Date
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date", @readonly = "true" })
                            </div>
                            <div class="input-field col m3 s12">
                                To Date
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date", @readonly = "true" })
                            </div>
                            <div class="input-field col m3 s12">
                                <input style="margin-top:24px;" class="btn btn-success" type="submit" value="Search" id="btnSearchCustomer" name="Search" />
                            </div>
                        </div>
                        
                        <div class="table-responsive">
                            <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Gata No.</th>
                                        <th>Hectare</th>
                                        <th>Village</th>
                                        <th>Mobile</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.FarmerList != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.FarmerList)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.JoiningDate</td>
                                                    <td>@Item.Name</td>
                                                    <td>@Item.GataKhasaraN</td>
                                                    <td>@Item.Hectare</td>
                                                    <td>@Item.Village</td>
                                                    <td>@Item.Mobile</td>
                                                    <td>
                                                        @if (Item.FStatus == "Active")
                                                    {
                                                        <a  class="badge badge-success " href="/Farmers/Active?id=@Item.EncryptKey&&IsActive=@Item.IsActive" data-toggle="tooltip" title="" data-original-title="Click to Inactive" onclick="return Inactive();" >Active</a>
                                                    }
                                                    else
                                                    {
                                                        <a  class="badge badge-danger" href="/Farmers/Active?id=@Item.EncryptKey&&IsActive=@Item.IsActive" data-toggle="tooltip" title="" onclick="return Active();" data-original-title="Click to Active" >Inactive</a>
                                                    }
                                                </td>
                                                <td style="min-width: 227px !important;">
                                                    <a href="/Farmers/AddFarmers?id=@Item.EncryptKey" class="btn btn-info btn-sm" data-original-title="Click to Edit" ><i class="fa fa-edit"></i> Edit</a>
                                                    <a href="/Farmers/AddPayFarmers?id=@Item.EncryptKey" class="btn btn-success btn-sm" data-original-title="Click to Payment">Payment</a>
                                                    <a target="_blank" href="/Farmers/PaymetFarmers?fid=@Item.EncryptKey" class="btn btn-warning btn-sm" data-original-title="Click to Payment">View Leddger</a>

                                                </td>
                                            </tr>
                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            <input type="hidden" id="UserType" value="@Session["UserType"]" />
                            <input type="hidden" id="UserTypeName" value="@Session["UserTypeName"]" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>
    $(document).ready(function () {
        var UserType = $('#UserType').val();
        var UserTypeName = $('#UserTypeName').val();
        if (UserType == 'Admin' && UserTypeName != 'Admin') {
            GetMenuDetails();
        }

    });
    function GetMenuDetails() {
        var URL = "/Farmers/Farmerlist";
        $.ajax({
            type: "POST",
            url: "/Master/GetMenuDetails",
            data: { URL: URL },
            dataType: "json",
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                console.log(data)
                for (var i = 0; i < obj.length; i++) {
                    if (obj[i].FormDelete == true) {
                        $(".delete").show();
                    }
                    else {
                        var table = $('#tableExport').DataTable();
                        table.column(8).visible(false);
                    }
                    if (obj[i].FormUpdate == true) {
                        $(".edit").show();
                    }
                    else {
                        var table = $('#tableExport').DataTable();
                        table.column(8).visible(false);
                    }

                }
            },
            error: function () {
                alert("Error occured!!")
            }
        });
    }
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,

    });
    function Inactive() {
        debugger
        if (confirm("Are you sure you want to Inactive this farmer ?")) {
            return true;
        } else {
            return false;
        }
    }
    function Active() {
        debugger
        if (confirm("Are you sure you want to Active this farmer ?")) {
            return true;
        } else {
            return false;
        }
    }
</script>

