@model RadhekunkInfra.Models.Farmer

@{
    ViewBag.Title = "Radhe Kunj Infratech pvt. ltd.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<style>
    #divload {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url("../files/assets/images/login-gif-11.gif") no-repeat center center rgba(0,0,0,0.25);
    }

    .errortext {
        border: 1px solid red !important;
    }

    #Name, #Mobile, #SQFT, #GataKhasaraN,#Registry,#Agreement,#Notary {
        background: #fff;
        border: 1px solid #ffffff !important;
    }
  td input[type=text],
    td select {
      width: 100%;
      height: 30px;
      margin: 0;
      padding: 2px 8px;
    }
</style>
<div class="loader" id="divload"></div>
@using (Html.BeginForm("PaymetFarmers", "Farmers", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/Farmers/Farmerlist">
                    Farmer list
                </a>
            </li>
            <li class="breadcrumb-item">Farmer Payment List</li>
        </ul>
    </section>
    <div class="section-body">

        <div class="card">
            <div class="card-header">
                <h4>Farmer Payment List</h4>

                <p style="color: green;">
                    @TempData["SucFarmerList"]
                </p>
                <p style="color: red">
                    @TempData["ErrFarmerList"]
                </p>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- HTML5 Export Buttons table start -->

                        <div class="card-header table-card-header">
                            <a class="btn btn-primary btn-sm" style="margin-left:89%;" href="/Farmers/AddPayFarmers?id=@Model.EncryptKey"><i class="fa fa-plus"></i> Add Payment</a>
                        </div>

                        <div class="form-group row" style="">
                            <div class="col-sm-3">
                                <span style="text-align:center;margin-left:20px;">
                                    Name
                                </span>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "true" })
                            </div>
                            <div class="col-sm-3">
                                <span style="text-align:center;margin-left:20px;">
                                    Mobile No.
                                </span>
                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @readonly = "true" })
                            </div>
                            <div class="col-sm-3">
                                <span style="text-align:center;margin-left:20px;">
                                    SQFT
                                </span>
                                @Html.TextBoxFor(m => m.SQFT, new { @class = "form-control", @readonly = "true" })
                            </div>
                            <div class="col-sm-3">
                                <span style="text-align:center;margin-left:20px;">
                                    Gata No.
                                </span>
                                @Html.TextBoxFor(m => m.GataKhasaraN, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="form-group row" style="">
                            <div class="col-sm-3">
                                <span style="text-align:center;margin-left:20px;">
                                    Registry
                                </span>
                                @Html.TextBoxFor(m => m.Registry, new { @class = "form-control", @readonly = "true" })
                            </div>
                            <div class="col-sm-3">
                                <span style="text-align:center;margin-left:20px;">
                                    Agreement
                                </span>
                                @Html.TextBoxFor(m => m.Agreement, new { @class = "form-control", @readonly = "true" })
                            </div>
                            <div class="col-sm-3">
                                <span style="text-align:center;margin-left:20px;">
                                    Notary
                                </span>
                                @Html.TextBoxFor(m => m.Notary, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-md" data-page-length='15' id="tableExport" style="width:100%;">
                             
                                <thead>
                                    <tr>
                                        <th colspan="12"><h6 style="color:black">Cleared Payment List</h6></th>
                                    </tr>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Reciept No</th>
                                        <th>Generated Amount</th>
                                        <th style="text-align:right">Paid Amount</th>
                                       <th>Remaining Amount</th>
                                        <th>Payment Date</th>
                                        <th>Payment Type</th>
                                        <th>Cheque No</th>
                                        <th>Bank Name</th>
                                        <th>Remark</th>
                                        <th>Cheque Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th><b>Total Paid Amount</b></th>
                                        <th style="text-align:right"><b>@ViewBag.TotalCleredPaid</b></th>
                                        <th><b>@ViewBag.RemainingAmount</b></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.ClearedListItem != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.ClearedListItem)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.Reciept</td>
                                                    <td>@Item.TotalBalance</td>
                                                    <td style="text-align:right">@Item.PaidAmount</td>
                                                    <td>@Item.RemainingAmount</td>
                                                    <td>@Item.CashDate</td>
                                                    <td>@Item.PayType</td>
                                                    <td>@Item.ChequeNo</td>
                                                    <td>@Item.BankName</td>
                                                    <td>@Item.Remarks</td>
                                                    <td>@Item.CheqStatus</td>
                                                    <td>
                                                        <a data-toggle="tooltip" title="edit" href="/Farmers/UpdatePayment?FId=@Item.ID&&PId=@Item.EncryptKey" data-original-title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                        @*<a class="button button-small edit" title="Edit">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>*@

                                                        @*<a class="button button-small edit" title="Delete">
                                                            <i class="fa fa-trash"></i>
                                                        </a>*@
                                                    </td>
                                                </tr>
                                               
                                                i++;
                                            }
                                        }
                                    }
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-md" data-page-length='15' id="tableExport1" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th colspan="11"><h6 style="color:black">Pending Payment List</h6></th>
                                    </tr>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Reciept No</th>
                                        <th style="text-align:right">Paid Amount</th>
                                        <th>Payment Date</th>
                                        <th>Payment Type</th>
                                        <th>Cheque No</th>
                                        <th>Bank Name</th>
                                        <th>Remark</th>
                                        <th>Cheque Status</th>
                                        <th class="td_Date" style="display:none">Cheque Status Date</th>
                                        <th class="td_Date" style="display:none">Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Total</th>
                                        <th style="text-align:right">@ViewBag.TotalPendingPaid</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th class="td_Date" style="display:none"></th>
                                        <th class="td_Date" style="display:none"></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.PendingListItem != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.PendingListItem)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.Reciept</td>
                                                    <td style="text-align:right">@Item.PaidAmount</td>
                                                    <td>@Item.CashDate</td>
                                                    <td>@Item.PayType</td>
                                                    <td>@Item.ChequeNo</td>
                                                    <td>@Item.BankName</td>
                                                    <td>@Item.Remarks</td>
                                                    @if (Item.CheqStatus == "Cleared" || Item.CheqStatus == "Bounce" || Item.CheqStatus == "Rejected" || Item.CheqStatus == "Cancel")
                                                    {
                                                        <td>@Item.CheqStatus</td>
                                                    }
                                                    else
                                                    {
                                                        <td>

                                                            @Html.DropDownList("CheqStatus_" + @i, new SelectList(ViewBag.CheckStatus, "Value", "Text"), new { @class = "form-control CheckStatus_" + @i, @onchange = "return onChange(" + @i + ");" })
                                                        </td>
                                                    }
                                                    <td class="td_Date" style="display:none">
                                                        <input type="text" class="form-control d Date_@i" style="display:none;width:150px;" readonly="readonly" placeholder="DD/MM/YYYY" />
                                                        </td>
                                                        @*@Html.TextBoxFor(m => m.CashDate, new { @class = "form-control d Date_" + @i, @placeholder = "Date", @readonly = true, @style = "display:none" })</td>*@
                                                    <td>
                                                        <a onclick="CheckStatusUpdate('@i');" id="btn_Update_@i" data-paymentId='@Item.Fk_PaymentId' data-Userid="@Model.Fk_UserId" class="btn btn-sm btn-success btn_check_@i" style="display:none">Update </a>
                                                    </td>
                                                    @*<td>
                                        <a href="/Farmers/DeletePayment?id=@Item.ID&&UserId=@Model.EncryptKey" onclick="return confirm('Are you sure you wish to delete this Payment?');" class="btn btn-sm btn-danger">delete</a>
                                    </td>*@
                                                </tr>

                                                i++;
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-md" data-page-length='15' id="tableExport2" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th colspan="9"><h6 style="color:black">Bounce/Cancel Payment List</h6></th>
                                    </tr>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Reciept No</th>
                                        <th style="text-align:right">Paid Amount</th>
                                        <th>Payment Date</th>
                                        <th>Payment Type</th>
                                        <th>Cheque No</th>
                                        <th>Bank Name</th>
                                        <th>Remark</th>
                                        <th>Cheque Status</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Total</th>
                                        <th style="text-align:right">@ViewBag.TotalBouncePaid</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.BounceListItem != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.BounceListItem)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.Reciept</td>
                                                    <td style="text-align:right">@Item.PaidAmount</td>
                                                    <td>@Item.CashDate</td>
                                                    <td>@Item.PayType</td>
                                                    <td>@Item.ChequeNo</td>
                                                    <td>@Item.BankName</td>
                                                    <td>@Item.Remarks</td>
                                                    <td>@Item.CheqStatus</td>
                                                </tr>

                                                i++;
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>
    $(document).ready(function () {
        $("#tableExport1").dataTable({
            dom: "Bfrtip",
            buttons: ["csv", "excel", "pdf", "print"],
            columnDefs: [{ sortable: false, targets: [2, 3] }],
        });
        $("#divload").css({ 'display': 'none' });
        $("#tableExport2").dataTable({
            dom: "Bfrtip",
            buttons: ["csv", "excel", "pdf", "print"],
            columnDefs: [{ sortable: false, targets: [2, 3] }],
        });
      
    });
    function onChange(index) {
        $("#divload").css({ 'display': 'none' });
        var CheqStatus = $('.CheckStatus_' + index).val();
        if (CheqStatus == "0")
        {
            $('.Date_' + index).hide();
            $('.btn_check_' + index).hide();
            $('.td_Date').hide();
        }
        else {
            $('.Date_' + index).show();
            $('.btn_check_' + index).show();
            $('.td_Date').show();
        }
    }
    $('.d').datepicker({
        dateFormat: 'dd/mm/yy',
        maxDate: 0,
        changeYear: true,
        changeMonth: true
    });
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy'
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy'
    });
    function CheckStatusUpdate(index) {
        debugger
        var CheqStatus = $('.CheckStatus_' + index).val();
        var CheckDate = $('.Date_' + index).val();
        var ReferencdId = $('#btn_Update_' + index).attr('data-paymentId');
        var FarmerId = $('#btn_Update_' + index).attr('data-Userid');
   
        if (CheqStatus == "0")
        {
            $('.CheckStatus_' + index).addClass('errortext');
            $("#divload").css({ 'display': 'none' });
            $('.CheckStatus_' + index).focus();
              return false;
        }
        else
        {
        $(".errortext").removeClass("errortext");
        //$("#divload").css({ 'display': '' });
        $.ajax({
            url: "/Farmers/UpdateCheckStaus",
            Type: "Get",
            DataType: "JSON",
            data: { CheqStatus: CheqStatus, ReferencdId: ReferencdId, FarmerId: FarmerId, CheckDate: CheckDate },
            success: function (data) {
                alert('Payment update successfully !!')
                location.reload();
           
            }
        });
       
        }
    }
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,

    });
    function Inactive() {
        debugger
        if (confirm("Are you sure you want to Inactive this farmer ?")) {
            return true;
        } else {
            return false;
        }
    }
    function Active() {
        debugger
        if (confirm("Are you sure you want to Active this farmer?")) {
            return true;
        } else {
            return false;
        }
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>