@model RadhekunkInfra.Models.Expenses

@{
    ViewBag.Title = "Accountlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="loader" id="divload"></div>
@using (Html.BeginForm("Accountlist", "Expense", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Account Management</li>
            <li class="breadcrumb-item">Account List</li>
        </ul>
    </section>
    <div class="section-body">

        <div class="card">
            <div class="card-header">
                <h4>Account List</h4>

                <p style="color: red">
                    @TempData["AccountList"]
                </p>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- HTML5 Export Buttons table start -->

                        <div class="card-header table-card-header">
                            <a class="btn btn-primary btn-sm" style="margin-left:89%;" href="/Expense/AddAccount">Add New</a>
                        </div>

                        <div class="form-group row">
                            <div class="input-field col m3 s12">
                                Account Holder
                                @Html.TextBoxFor(m => m.AcountHolder, new { @class = "form-control", @Placeholder = "Account Holder Name" })
                            </div>

                            <div class="input-field col m3 s12">
                                From Date
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date", @readonly = "true" })
                            </div>
                            <div class="input-field col m3 s12">
                                To Date
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date", @readonly = "true" })
                            </div>
                            <div class="input-field col m3 s12">
                                <input style="margin-top:24px;" class="btn btn-success" type="submit" value="Search" id="btnSearch" name="Search" />
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Name</th>
                                        <th>Account Number</th>
                                        <th>IFSC Code</th>
                                        <th>Bank Name</th>
                                        <th>Branch Name</th>
                                        <th>Credit Amount</th>
                                        <th>Debit Amount</th>
                                        <th>Balance</th>
                                        <th>Status</th>
                                        <th>View Ledger</th>
                                        <th style="width: 97px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.AccountList != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.AccountList)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.AcountHolder</td>
                                                    <td>@Item.AccountNumber</td>
                                                    <td>@Item.IFSCCode</td>
                                                    <td>@Item.BankName</td>
                                                    <td>@Item.BranchName</td>
                                                    <td>@Item.CrAmount</td>
                                                    <td>@Item.DrAmount</td>
                                                    <td>@Item.BalanceAmount</td>
                                                    <td>
                                                        @if (Item.IsActive =="True")
                                                        {
                                                            <a class="badge badge-success" href="/Expense/AccountStatus?id=@Item.EncryptKey&&IsActive=@Item.IsActive" data-toggle="tooltip" title="" data-original-title="Click to Inactive">Active</a>
                                                        }
                                                        else
                                                        {
                                                            <a  class="badge badge-danger" href="/Expense/AccountStatus?id=@Item.EncryptKey&&IsActive=@Item.IsActive"  data-toggle="tooltip" title="" data-original-title="Click to Active">Inactive</a>
                                                        }
                                                    </td>
                                                    <td>
                                                    
                                                        <a target="_blank" href="/Expense/ExpenseLedger?bankid=@Item.Pk_BankId" class="btn btn-warning btn-sm edit">View</a>
                                                    </td>
                                                    <td>
                                     <a href="/Expense/AddAccount?id=@Item.EncryptKey" class="btn btn-info btn-sm edit">Edit</a>
                                                        <a href="/Expense/DeleteAccount?id=@Item.EncryptKey" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this Account Details?');">Delete</a>
                                                    </td>
                                                   
                                                </tr>
                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            <input type="hidden" id="UserType" value="@Session["UserType"]" />
                            <input type="hidden" id="UserTypeName" value="@Session["UserTypeName"]" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>
    $(document).ready(function () {
        var UserType = $('#UserType').val();
        var UserTypeName = $('#UserTypeName').val();
        if (UserType == 'Admin' && UserTypeName != 'Admin') {
            GetMenuDetails();
        }

    });
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,

    });
    function GetMenuDetails() {
        var URL = "/Expense/Accountlist";
        $.ajax({
            type: "POST",
            url: "/Master/GetMenuDetails",
            data: { URL: URL },
            dataType: "json",
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                console.log(data)
                for (var i = 0; i < obj.length; i++) {
                    if (obj[i].FormDelete == true) {
                        $(".delete").show();
                    }
                    else {
                        $(".delete").hide();
                    }
                    if (obj[i].FormUpdate == true) {
                        $(".edit").show();
                    }
                    else {
                        var table = $('#tableExport').DataTable();
                        table.column(10).visible(false);
                    }

                }
            },
            error: function () {
                alert("Error occured!!")
            }
        });
    }
</script>