@model RadhekunkInfra.Models.Expenses
@{
    ViewBag.Title = "CrExpense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CrExpense", "Expense", FormMethod.Post, new { @id = "form1", @autocomplete = "off", enctype = "multipart/form-data" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Expense Management</li>
            <li class="breadcrumb-item">Add New Cr Expense</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Add New Cr Expense</h4>

                    <p style="color: red">
                        @TempData["CrExpense"]
                    </p>
                </div>
                <div class="card-body">
                    <div class="table table-responsive">
                        <table class="table table-responsive table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th width="140px">Expense Type</th>
                                    <th>Expense Name</th>
                                    <th>Transaction Type</th>
                                    <th>Transfer Type</th>
                                    <th>Cheque/Txn No.</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Remarks</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="TextBoxContainer">
                                <tr class="mycontainer" id="mainrow">
                                    <td>
                                        @Html.DropDownListFor(m => m.ExpenseID, new SelectList(ViewBag.ExpenseType, "Value", "Text"), new { @class = "ExpenseType form-control select2", @onchange = "return onExpeseTypeChange();" })
                                        <span class="error">Expense Type</span>
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(m => m.ExpenseName, new SelectList(ViewBag.ddlexpensename, "Value", "Text"), new { @class = "ExpenseName form-control select2" })
                                        <span class="error">Expense Name</span>
                                    </td>

                                    <td>
                                        @Html.DropDownListFor(m => m.TransactionID, new SelectList(ViewBag.ddlTransactionType, "Value", "Text"), new { @class = "TransactionID form-control select2" })
                                        <span class="error">Transaction Type</span>
                                    </td>

                                    <td>
                                        @Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlpaymentmode, "Value", "Text"), new { @class = "PaymentMode form-control select2", @onchange = "return CheckPayMode()" })
                                        <span class="error">Payment Mode</span>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Check, new { @class = "Check form-control", @placeholder = "Check Number" })
                                        <span class="error">Expense Type</span>
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Amount, new { @class = "Amount form-control", @placeholder = "Amount" })
                                        <span class="error">quantity required</span>
                                    </td>
                                    <td>

                                        @Html.TextBoxFor(m => m.Date, new { @class = "Date form-control", @placeholder = "Date", @readonly = true })
                                        <span class="error">Date required</span>
                                    <td>
                                        @Html.TextAreaFor(m => m.Remarks, new { @class = "Remarks form-control", @placeholder = "Remarks" })
                                        <span class="error">Remarks</span>
                                    </td>

                                    <td>
                                        <input type="button" id="add" data-toggle="tooltip" data-original-title="Add" value="add" style="width:80px" class="btn btn-success" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="orderItems">
                            <table class="table table-responsive" id="orderdetailsItems"></table>
                            <span id="orderItemError" style="color:red"></span>
                        </div>

                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="col-md-4 col-lg-4">
                            <input id="submit" type="button" value="Save" class="btn btn-warning" />
                            <a class="btn btn-info" href="/Expense/ViewCrExpense" style="margin-left:5px;">Back To List</a>
                        </div>
                    </div>

            </div>
        </div>
    </div>
        </div>
}
<script src="~/AssociateCSS/assets/bundles/select2/dist/js/select2.full.min.js"></script>
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
@*<script>
    $('#Date').datepicker({
        format: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
        //maxDate: 0
    });
</script>*@
<script>
    $(document).ready(function () {
        //$('#Date').datepicker({
        //    //dateFormat: 'dd/mm/yy',
        //    dateFormat: "dd/mm/yy",
        //    timeFormat: "hh:mm:ss",
        //    changeYear: true,
        //    changeMonth: true,
        //});
        $('#Date').datepicker({
            dateFormat: 'dd/mm/yy',
            maxDate: 0,
            changeYear: true,
            changeMonth: true
        });
        
        //Add button click event
        $('#add').click(function () {
            var today = new Date();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
          
            //validation and add order items
            var isAllValid = true;
            if ($('#ExpenseID').val() == "0") {
                isAllValid = false;
                $('#ExpenseID').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#ExpenseID').siblings('span.error').css('visibility', 'hidden');
            }

            if ($('#ExpenseName').val() == "0") {
                isAllValid = false;
                $('#ExpenseName').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#ExpenseName').siblings('span.error').css('visibility', 'hidden');
            }
            if ($('#TransactionID').val() == "0") {
                isAllValid = false;
                $('#TransactionID').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#TransactionID').siblings('span.error').css('visibility', 'hidden');
            }
            if ($('#PaymentMode').val() == "0") {
                isAllValid = false;
                $('#PaymentMode').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#PaymentMode').siblings('span.error').css('visibility', 'hidden');
            }
            //if (!($('#Check').val() != '' && $('#PaymentMode').val() == "1")) {
            //    isAllValid = false;
            //    $('#Check').siblings('span.error').css('visibility', 'visible');
            //}
            //else {
            //    $('#Check').siblings('span.error').css('visibility', 'hidden');
            //}

            if (!($('#Amount').val().trim() != '' && (parseInt($('#Amount').val()) || 0))) {
                isAllValid = false;
                $('#Amount').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Amount').siblings('span.error').css('visibility', 'hidden');
            }

            if (!($('#Date').val().trim() != '')) {
                isAllValid = false;
                $('#Date').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Date').siblings('span.error').css('visibility', 'hidden');
            }
            if (!($('#Remarks').val().trim() != '' && ($('#Remarks').val().trim()))) {
                isAllValid = false;
                $('#Remarks').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#Remarks').siblings('span.error').css('visibility', 'hidden');
            }
            debugger
            if (isAllValid) {
                var date = $('#Date').val();
                var datetime = date.concat(" ", time);
                var $newRow = $('#mainrow').clone().removeAttr('id');
                $('.ExpenseType', $newRow).prop('disabled', true).val($('#ExpenseID').val());
                $('.ExpenseName', $newRow).prop('disabled', true).val($('#ExpenseName').val());
                $('.TransactionID', $newRow).prop('disabled', true).val($('#TransactionID').val());
                $('.PaymentMode', $newRow).prop('disabled', true).val($('#PaymentMode').val());
                $('.Check', $newRow).prop('disabled', true).val($('#Check').val());
                $('.Amount', $newRow).prop('disabled', true).val($('#Amount').val());
                $('.Date', $newRow).prop('disabled', true).val(datetime);
                $('.Remarks', $newRow).prop('disabled', true).val($('#Remarks').val());
                //Replace add button with remove button
                $('#add', $newRow).addClass('remove').val('Remove').removeClass('btn-success').addClass('btn-danger');

                //remove id attribute from new clone row
                $('#ExpenseID,#ExpenseName,#TransactionID,#PaymentMode,#Check,#Amount,#Date,#Remarks,#add', $newRow).removeAttr('id');
                $('span.error', $newRow).remove();
                //append clone row
                $('#orderdetailsItems').append($newRow);

                //clear select data
                $('#ExpenseID,#ExpenseName,#TransactionID,#PaymentMode').val('0');
                $('#Check,#Amount,#Date,#Remarks').val('');
                $('#orderItemError').empty();
            }

        })
        //remove button click event
        $('#orderdetailsItems').on('click', '.remove', function () {
            $(this).parents('tr').remove();
        });
        $('#submit').click(function () {
            var isAllValid = true;

            $('#orderItemError').text('');
            var list = [];
            var errorItemCount = 0;
            $('#orderdetailsItems tr').each(function (index, ele) {
                if (
                    $('select.ExpenseName', this).val() == "0"
                    ) {
                    errorItemCount++;
                    $(this).addClass('error');
                } else {
                    var orderItem = {
                        ExpenseType: $('select.ExpenseType', this).val(),
                        ExpenseName: $('select.ExpenseName', this).val(),
                        TransactionID: $('select.TransactionID', this).val(),
                        PaymentMode: $('select.PaymentMode', this).val(),
                        Check: ($('.Check', this).val()),
                        Amount: $('.Amount', this).val(),
                        Date: ($('.Date', this).val()),
                        Remarks: $('.Remarks', this).val()
                    }
                    list.push(orderItem);
                }

            })
            console.log(list)
            if (errorItemCount > 0) {
                $('#orderItemError').text(errorItemCount + " invalid entry in row list.");
                isAllValid = false;
            }

            if (list.length == 0) {
                $('#orderItemError').text('At least 1 row required.');
                isAllValid = false;
            }

            if (isAllValid) {
                var data = {
                    CRExpenses: JSON.stringify(list)
                }
                //$(this).val('Please wait...');
                $.ajax({
                    type: 'POST',
                    url: 'Save',
                    data: JSON.stringify({ dataValue: JSON.stringify(data) }),
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.status) {
                            alert('Successfully saved');
                            //here we will clear the form
                            list = [];
                            $('#ExpenseID,#ExpenseName,#TransactionID,#PaymentMode').val('0');
                            $('#Check,#Amount,#Date,#Remarks').val('');
                            $('#orderdetailsItems').empty();
                            $('#orderdetailsItems').hide();
                        }
                        else {
                            alert('Error');
                        }
                        $('#submit').text('Save');
                    },
                    error: function (error) {
                        console.log(error);
                        $('#submit').text('Save');
                    }
                });
                $('#submit').text('Save');
            }
        });
    });
    function onExpeseTypeChange() {
        $("#divload").css({ 'display': '' });
        var value = $('#ExpenseID').val();
        var tr = [];
        $.ajax({
            url: "GetExpenseDetails",
            Type: "Get",
            DataType: "JSON",
            data: { ExpenseID: value },
            success: function (data) {
                debugger
                $("#divload").css({ 'display': 'none' });
                var j = 1;
                console.log(data)
                if (data.Result == "yes") {
                    $("#ExpenseName").html(""); // clear before appending new list
                    $("#ExpenseName").empty();
                    $("#ExpenseName").append(
                          $('<option></option>').val(0).html('Select Expense Name'));
                    $.each(data.ddlexpensename, function (index, Expensecount) {
                        $("#ExpenseName").append(
                              $('<option></option>').val(Expensecount.Value).html(Expensecount.Text));

                    });

                }
                else {
                    $("#ExpenseName").empty();

                }


            }

        });

    }
    function CheckPayMode() {
        debugger
        if ($('#PaymentMode').val() == '1') {
            $("#Check").prop('disabled', true);

        }

        else {
            $("#Check").prop('disabled', false);
        }
    }
</script>
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }
    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>