@model RadhekunkInfra.Models.Expenses

@{
    ViewBag.Title = "Radhe Kunj Infratech pvt. ltd.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem);
        min-width: 669px;
    }
</style>
<div class="loader" id="divload"></div>
@using (Html.BeginForm("ViewCrExpense", "Expense", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Expenses Management</li>
            <li class="breadcrumb-item">View CrExpenses List</li>
        </ul>
    </section>
    <div class="section-body">

        <div class="card">

            <div class="card-header">
                <h4>CrExpenses List</h4>

                <p style="color: red;font-size: 17px;
    font-family: -webkit-body;">
                    @TempData["CrExpenseList"]
                </p>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- HTML5 Export Buttons table start -->

                        <div class="card-header table-card-header">
                            <a class="btn btn-primary btn-sm" style="margin-left:89%;" href="/Expense/CrExpense"><i class="fa fa-plus-circle"></i> Add-New</a>
                        </div>

                        <div class="form-group row">
                            <div class="input-field col m3 s12">
                                Expense Type
                                @Html.DropDownListFor(m => m.ExpenseID, new SelectList(ViewBag.ExpenseType, "Value", "Text"), new { @class = "form-control" })
                                @*@Html.TextBoxFor(m => m.ExpenseName, new { @class = "form-control", @Placeholder = "Expense Name" })*@
                            </div>

                            <div class="input-field col m3 s12">
                                From Date
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date", @readonly = "true" })
                            </div>
                            <div class="input-field col m3 s12">
                                To Date
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date", @readonly = "true" })
                            </div>
                            <div class="input-field col m3 s12">
                                <input style="margin-top:24px;" class="btn btn-success" type="submit" value="Search" id="btnSearch" name="btnSearch" />
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-md" data-page-length='15' id="table-1" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th colspan="11"><h6 style="color:black">Cleared Cheque</h6></th>
                                    </tr>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Expense Type</th>
                                        <th>Expense Name</th>
                                        <th>Transaction Type</th>
                                        <th>Plot Info</th>
                                        <th>Chq/Txn No.</th>
                                        <th>Amount</th>
                                        <th>Cheque Status</th>
                                        <th>Date</th>
                                        <th>Remarks</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>Total</th>
                                        <th style="text-align:right">@ViewBag.TotalCleredPaid</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.ClearedListItem != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.ClearedListItem)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td class="ExpenseType_@Item.Pk_ExpenseDetailsId">@Item.ExpenseID</td>
                                                    <td class="ExpenseName_@Item.Pk_ExpenseDetailsId">@Item.ExpenseName</td>
                                                    <td>@Item.TransactionTy</td>
                                                    <td>@Item.PlotInfo</td>
                                                    <td>@Item.ChequeNo</td>
                                                    <td style="text-align:right;color:#527552"><strong>@Item.CrAmount</strong></td>
                                                    <td>@Item.ChequeStatus</td>
                                                    <td>@Item.Date</td>
                                                    <td><a href="#" data-remarks="@Item.Remarks" onclick="openPopup('@Item.Pk_ExpenseDetailsId');" class="form-bg-info remark_@Item.Pk_ExpenseDetailsId">@Item.Remarks</a></td>
                                                    <td><a href="#"  onclick="Delete('@Item.Pk_ExpenseDetailsId');" class="btn-sm btn-danger">Delete</a></td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-md" data-page-length='15' id="tableExport1" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th colspan="11"><h6 style="color:black">Pending Cheque</h6></th>
                                    </tr>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Expense Type</th>
                                        <th>Expense Name</th>
                                        <th>Transaction Type</th>
                                        <th>Issue Date</th>
                                        <th>Cheque Amount</th>
                                        <th>Chq/Txn No.</th>
                                        <th>Remark</th>
                                        <th>Cheque Status</th>
                                        <th class="td_Date" style="display:none">Cheque Status Date</th>
                                        <th class="td_Date" style="display:none">Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>Total</th>
                                        <th style="text-align:right">@ViewBag.TotalPendingPaid</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th class="td_Date" style="display:none"></th>
                                        <th class="td_Date" style="display:none"></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.PendingListItem != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.PendingListItem)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td class="ExpenseType_@Item.Pk_ExpenseDetailsId">@Item.ExpenseID</td>
                                                    <td class="ExpenseName_@Item.Pk_ExpenseDetailsId">@Item.ExpenseName</td>
                                                    <td>@Item.TransactionTy</td>
                                                    <td>@Item.Date</td>
                                                    <td style="text-align:right">@Item.CrAmount</td>
                                                    <td>@Item.ChequeNo</td>
                                                    <td>@Item.Remarks</td>
                                                    <td>

                                                        @Html.DropDownList("CheqStatus_" + @i, new SelectList(ViewBag.CheckStatus, "Value", "Text"), new { @class = "form-control CheckStatus_" + @i, @onchange = "return onChange(" + @i + ");" })
                                                    </td>
                                                    <td class="td_Date" style="display:none">
                                                        <input type="text" class="form-control d Date_@i" style="display:none;width:150px;" readonly="readonly" placeholder="DD/MM/YYYY" />
                                                    </td>
                                                    @*@Html.TextBoxFor(m => m.CashDate, new { @class = "form-control d Date_" + @i, @placeholder = "Date", @readonly = true, @style = "display:none" })</td>*@
                                                    <td>
                                                        <a onclick="CheckStatusUpdate('@i');" id="btn_Update_@i" data-epensedetailsid='@Item.Pk_ExpenseDetailsId' class="btn btn-sm btn-success btn_check_@i" style="display:none">Update </a>
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-md" data-page-length='15' id="tableExport2" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th colspan="12"><h6 style="color:black">Bounced/Cancel Cheque</h6></th>
                                    </tr>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Expense Type</th>
                                        <th>Expense Name</th>
                                        <th>Transaction Type</th>
                                        <th>Plot Info</th>
                                        <th>Issue Date</th>
                                        <th>Cheque Amount</th>
                                        <th>Chq/Txn No.</th>
                                        <th>Remark</th>
                                        <th>Cheque Status</th>
                                        <th>Cheque Update Date</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>Total</th>
                                        <th style="text-align:right">@ViewBag.TotalBouncePaid</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.BounceListItem != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.BounceListItem)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td class="ExpenseType_@Item.Pk_ExpenseDetailsId">@Item.ExpenseID</td>
                                                    <td class="ExpenseName_@Item.Pk_ExpenseDetailsId">@Item.ExpenseName</td>
                                                    <td>@Item.TransactionTy</td>
                                                    <td>@Item.PlotInfo</td>
                                                    <td>@Item.Date</td>
                                                    <td style="text-align:right">@Item.CrAmount</td>
                                                    <td>@Item.ChequeNo</td>
                                                    <td>@Item.Remarks</td>
                                                    <td>@Item.ChequeStatus</td>
                                                    <td>@Item.ChequeStatusUpdateDate</td>
                                                </tr>

                                                i++;
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog" style="display: none;padding-top:55px;">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-10"></div>
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <label>Expense Type : </label>
                        </div>
                        <div class="col-md-6">
                            <label id="ExpenseType"></label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <label>Expense Name : </label>
                        </div>
                        <div class="col-md-6">
                            <label id="ExpenseName"></label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" onclick="closeModal();">&times;</button>
                </div>
                <div class="modal-body" style="color: black">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @placeholder = "Remark" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-sm btn-danger pull-right" data-dismiss="modal" onclick="closeModal();">Close</button>&nbsp;&nbsp;&nbsp;
                                <input type="button" class="btn btn-sm btn-success pull-right" onclick="return updateremarks()" value="Update" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>

    @Html.HiddenFor(m => m.Pk_ExpenseDetailsId)
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
        $("#tableExport1").dataTable({
            dom: "Bfrtip",
            buttons: ["csv", "excel", "pdf", "print"],
            columnDefs: [{ sortable: false, targets: [2, 3] }],
        });
        $("#divload").css({ 'display': 'none' });
        $("#tableExport2").dataTable({
            dom: "Bfrtip",
            buttons: ["csv", "excel", "pdf", "print"],
            columnDefs: [{ sortable: false, targets: [2, 3] }],
        });
    });
    function CheckStatusUpdate(index) {
        debugger
        var CheqStatus = $('.CheckStatus_' + index).val();
        var CheckDate = $('.Date_' + index).val();
        var ExpenseDetailsId = $('#btn_Update_' + index).attr('data-epensedetailsid');

        if (CheqStatus == "0") {
            $('.CheckStatus_' + index).addClass('errortext');
            $("#divload").css({ 'display': 'none' });
            $('.CheckStatus_' + index).focus();
            return false;
        }
        if (CheckDate == "") {
            $('.Date_' + index).addClass('errortext');
            $("#divload").css({ 'display': 'none' });
            $('.Date_' + index).focus();
            return false;
        }
        else {
            $(".errortext").removeClass("errortext");
            //$("#divload").css({ 'display': '' });
            $.ajax({
                url: "/Expense/UpdateExpenseCheckStaus",
                Type: "Get",
                DataType: "JSON",
                data: { CheqStatus: CheqStatus, ExpenseDetailsId: ExpenseDetailsId, CheckDate: CheckDate },
                success: function (data) {
                    alert('Payment update successfully !!')
                    location.reload();

                }
            });

        }
    }
    function onChange(index) {
        $("#divload").css({ 'display': 'none' });
        var CheqStatus = $('.CheckStatus_' + index).val();
        if (CheqStatus == "0") {
            $('.Date_' + index).hide();
            $('.btn_check_' + index).hide();
            $('.td_Date').hide();
        }
        else {
            $('.Date_' + index).show();
            $('.btn_check_' + index).show();
            $('.td_Date').show();
        }
    }
    $('.d').datepicker({
        dateFormat: 'dd/mm/yy',
        maxDate: 0,
        changeYear: true,
        changeMonth: true
    });
    function validate() {
        $("#divload").css({ 'display': '' });
        $(".errortext").removeClass("errortext");

        if ($('#ExpenseID').val() == '0') {
            $("#ExpenseID").addClass('errortext');
            $('#ExpenseID').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
    }
    function openPopup(ExpenseDetailsId) {
        debugger
        $("#Pk_ExpenseDetailsId").val(ExpenseDetailsId);
        var remark = $('.remark_' + ExpenseDetailsId).text();
        //var remark = $('.remark_' + ExpenseDetailsId).attr('data-remarks');
        var expenseType = $('.ExpenseType_' + ExpenseDetailsId).text();
        var expenseName = $('.ExpenseName_' + ExpenseDetailsId).text();
        //alert(expenseName)
        $("#Remarks").val(remark);
        $("#ExpenseType").text(expenseType);
        $("#ExpenseName").text(expenseName);
        $("#myModal").modal('show');
    }

    function closeModal() {
        $("#myModal").hide();
        //$('body').removeClass().removeAttr('style'); $('.modal-backdrop').remove();
    }

    function updateremarks() {
        $(".errortext").removeClass("errortext");
        if ($('#Remarks').val() == '') {
            $("#Remarks").addClass('errortext');
            $('#Remarks').focus();
            return false;
        }
        //$("#divload").css({ 'display': '' });
        $.ajax({
            url: "/Expense/UpdateRemarks",
            Type: "Get",
            DataType: "JSON",
            data: { ExpenseDetailsId: $("#Pk_ExpenseDetailsId").val(), Remark: $("#Remarks").val() },
            success: function (data) {
                alert("Remarks Updatd.");
                location.reload();

            }
        });

    }
    function Delete(ExpenseDetailsId) {
        $(".errortext").removeClass("errortext");
        $("#Pk_ExpenseDetailsId").val(ExpenseDetailsId);
        //$("#divload").css({ 'display': '' });
        $.ajax({
            url: "/Expense/DeleteExpenseDetails",
            Type: "Get",
            DataType: "JSON",
            data: { ExpenseDetailsId: $("#Pk_ExpenseDetailsId").val()},
            success: function (data) {
                alert("Expense Details Deleted.");
                location.reload();

            }
        });

    }
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,

    });
</script>

