@model PoliticalWebsite.Models.Home

@{
    ViewBag.Title = "NewsPressRelease";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}


<!-- Page Wrapper -->
<div class="page-wrapper">
    <section class="page-header-hi" style="background-image: url('/images/ab_bg.jpg');">
        <div class="container">
            <div class="pbmit-title-bar-content">
                <div class="pbmit-title-bar-content-inner">
                    <div class="pbmit-tbar">
                        <div class="pbmit-tbar-inner container">
                            <h1 class="pbmit-tbar-title">समाचार और प्रेस</h1>
                        </div>
                    </div>
                    <div class="pbmit-breadcrumb">
                        <div class="pbmit-breadcrumb-inner">
                            <span><a href="/Home/Index" class="home"><span>होम</span></a></span>
                            <span class="sep"><i class="pbmit-base-icon-angle-double-right"></i></span>
                            <span>
                                <span class="post-root post post-post current-item">
                                    समाचार और प्रेस विज्ञप्ति
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Page Content -->
    <div class="page-content">

        <!-- Blog Classic  -->
        <section class="section-lgx">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-9 blog-right-col ">
                        <div class="row">
                            <!-- Blog 01 -->
                            <div class="col-md-12">
                                <article class="post blog-classic">
                                    <div class="post-thumbnail pbmit-blog-style-2 ">
                                        <div class="pbmit-featured-container">
                                            <div class="pbmit-featured-wrapper">
                                                <img src="@ViewBag.TopMainNewsImage" class="img-fluid w-100" alt="" />
                                            </div>
                                            <div class="pbmit-meta-date-wrapper">
                                                <span class="pbmit-date">@ViewBag.Month</span>
                                                <span class="pbmit-month">@ViewBag.Day</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <h3 class="post-box-title">@ViewBag.TopMainDiscription</h3>

                                        <p>@ViewBag.TopMessage</p>
                                        <div class="d-flex align-item-center justify-content-between">
                                            <a href="#" class="pbmit-btn">
                                                <span>Read More</span>
                                            </a>
                                        </div>
                                    </div>
                                </article>
                                <article class="post blog-classic">
                                    <div class="post-thumbnail pbmit-blog-style-2 ">
                                        <div class="pbmit-featured-container">
                                            <div class="pbmit-featured-wrapper">
                                                <img src="@ViewBag.MainNewsImage" class="img-fluid w-100" alt="" />
                                            </div>
                                            <div class="pbmit-meta-date-wrapper">
                                                <span class="pbmit-date">@ViewBag.MainMonth</span>
                                                <span class="pbmit-month">@ViewBag.MainDay</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        @*<h3 class="post-box-title">How to invent a law & pass it in parliament</h3>*@
                                        <h3 class="post-box-title">@ViewBag.MainDiscription</h3>

                                        <p>@ViewBag.MainMessage</p>
                                        <div class="d-flex align-item-center justify-content-between">
                                            <a href="#" class="pbmit-btn">
                                                <span>Read More</span>
                                            </a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 blog-left-col">
                        <aside class="sidebar">
                            <aside class="widget widget-recent-post">
                                <h2 class="widget-title">नवीनतम पोस्ट</h2>
                                @if (Model != null)
                                {
                                    if (Model.lstNews != null)
                                    {
                                        int i = 0;
                                        foreach (var item in Model.lstNews)
                                        {
                                            <ul class="recent-post-list">
                                                <li class="recent-post-list-li">
                                                    <a class="recent-post-thum" href="#">
                                                        <img src="@item.NewsImage" class="img-fluid" alt="" />
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="#">@item.Discription</a>
                                                        <span class="post-date">@item.Date</span>
                                                    </div>
                                                </li>
                                            </ul>
                                            i++;
                                        }
                                    }
                                }
                            </aside>
                            <div class="row">
                                <div class="col-lg-12">
                                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsurendrachurasiabjp%2F&tabs=timeline&width=380&height=400&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="380" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                </div>
                                <div class="col-lg-12">
                                    <a class="twitter-timeline" data-height="500" href="https://twitter.com/mlasurendra?ref_src=twsrc%5Etfw">Tweets by mlasurendra</a>
                                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Classic  End -->

    </div>
    <!-- Page Content End -->
</div>
<!-- Page Wrapper End -->

