@model RadhekunkInfra.Models.Wallet

@{
    ViewBag.Title = "PayoutLedger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("PayoutLedger", "Admin", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Payout</li>
            <li class="breadcrumb-item">Payout Ledger</li>
        </ul>
    </section>


    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Payout Ledger</h4>


                </div>
                <div class="card-body">
                    <div class="row ">
                        <div class="col-md-3">
                            Login Id
                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "Login Id" })
                        </div>
                        <div class="col-md-3">
                            From Date
                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @placeholder = "From  Date", @readonly = "read" })
                        </div>
                        <div class="col-md-3">
                            To Date
                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @placeholder = "To  Date", @readonly = "read" })
                        </div>
                        <div class="input-field col m3 s12 mt-4">
                            <div class="form-group">
                                <input type="submit" class="btn btn-info" value="Get Details" name="GetDetails" onclick="return Validate();" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>

                                    <th>Transaction Date</th>
                                    <th>Narration</th>
                                    <th>CrAmount</th>
                                    <th>DrAmount</th>
                                    @*<th>Balance</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstpayoutledger != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstpayoutledger)
                                        {
                                            <tr class="text-left">
                                                <td>@i</td>

                                                <td>@Item.AddedOn</td>
                                                <td>@Item.Narration</td>
                                                <td>@Item.CrAmount</td>
                                                <td>@Item.DrAmount</td>
                                                @*<td>@Item.PayoutBalance</td>*@
                                            </tr>
                                            i++;
                                        }

                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


}



<script src="../../WebsiteCss/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>

    function Validate() {

        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;

        }
    }

    $('#ClosingDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>


