@model RadhekunkInfra.Models.CustomerDashboard

@{
    ViewBag.Title = "CustomerLedgerReport";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}
@using (Html.BeginForm("CustomerLedgerReport", "CustomerDashboard", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.PK_BookingId)
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">Customer Ledger Report</li>
        </ul>
    </section>
    
    <div class="section-body">
        <div class="card">
            <div class="card-header">
                <h4>Customer Ledger Report</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Select Site <span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Select Phase <span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @onchange = "return onSectorChange();" })

                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>  Select Block <span style="color: red">*</span></label>
                            @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Plot Number</label>
                            @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @Placeholder = "Search by Plot Number" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <h4 style="text-align:center">Or</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Booking Number <span style="color: red">*</span></label>
                            @Html.TextBoxFor(m => m.BookingNumber, new { @class = "form-control", @Placeholder = "Booking Number" })
                            @Html.HiddenFor(m => m.PK_BookingId)
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">

                            <input type="button" style="margin-top:31px;" name="SearchPlot" value="Search" id="btnSearchPlot" class="btn btn-primary mr-1" onclick="return GetDetails();" />

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="section-body" id="Details1" style="display: none;">
        <div class="card">
            <div class="card-header">
                <h4>Plot Details</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Plot Rate :</label>
                            <label id="Plotrte">sdfsdfs</label>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Plot Area :</label>
                            <label id="Plotarea"></label>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Actual Plot Amount :</label>
                            <label id="ActPlotAmt"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Discount :</label>
                            <label id="disct"></label>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Booking Amount :</label>
                            <label id="bookingAmt"></label>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Booking Date :</label>
                            <label id="Bookigdt"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Payment Plan :</label>
                            <label id="Payplan"></label>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Total Paid Amount:</label>
                            <label id="Payamt"></label>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Allotment Date:</label>
                            <label id="Paydt"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Total Allotment Amount:</label>
                            <label id="totAlotamt"></label>
                        </div>
                    </div>*@
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>No. of Installments:</label>
                            <label id="noOfinst"></label>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Installment Amount :</label>
                            <label id="instAmt"></label>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Balance :</label>
                            <label id="bal"></label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-header">
                <h4>Payment Ledger</h4>
            </div>
            <div class="card-body">
                <table id="tblData" class="table table-striped">
                    <thead>
                        <tr>
                            <th hidden>PK_BookingId</th>
                            <th hidden>BookingID</th>
                            @* <th>S No.</th>*@
                            <th>Installment No.</th>
                            <th>Installment Date</th>
                            <th>Installment Amount</th>
                            <th>Paid Amount</th>
                            <th>Payment Date</th>
                            @*<th>Due Amount</th>*@
                            <th>Payment Mode</th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $( window ).on( "load", function() {
        var bookno = $('#BookingNumber').val();
        debugger
        if (bookno != '') {
            var bookno = $('#BookingNumber').val();
                debugger
                if ($('#PlotNumber').val() == '' && $('#BookingNumber').val() == '') {
                    alert(" Please, either select Site ID,Phase ID,Block ID and fill Plot Number OR fill Booking Number");
                }

                else {

                    var site = $('#SiteID').val();
                    var sector = $('#SectorID').val();
                    var block = $('#BlockID').val();
                    var plotno = $('#PlotNumber').val();
                    var bookno = $('#BookingNumber').val();
                    $.ajax({

                        url: '/CustomerDashboard/Details', type: 'get', dataType: 'json',
                        data: { 'BookingNumber': bookno, 'SiteID': site, 'SectorID': sector, 'BlockID': block, 'PlotNumber': plotno },
                        success: function (data) {

                            if (data.Result == "yes") {
                                $("#Details1").show();
                                $("#ActPlotAmt").text(data.PlotAmount);
                                $("#ActPlotRate").text(data.ActualPlotRate);
                                $("#Plotrte").text(data.PlotRate);
                                $("#Bookigdt").text(data.BookingDate);
                                $("#bookingAmt").text(data.BookingAmount);
                                $("#Payamt").text(data.PaidAmount);
                                $("#Paydt").text(data.PaymentDate);
                                $("#disct").text(data.Discount);
                                $("#Payplan").text(data.PlanName);
                                $("#PK_BookingId").val(data.PK_BookingId);
                                $("#PaymentDate").val(data.PaymentDate);
                                $("#totAlotamt").text(data.TotalAllotmentAmount);
                                $("#noOfinst").text(data.TotalInstallment);
                                $("#instAmt").text(data.InstallmentAmount);

                                $("#Plotarea").text(data.PlotArea);
                                $("#bal").text(data.Balance);
                                //$("#SiteID").val('');
                                //$("#SectorID").val('');
                                //$("#BlockID").val('');
                                //$("#PlotNumber").val('');
                                $('#tblData').find("tr:not(:first)").remove();
                                if (data.lstPlot.length > 0) {
                                    for (var i = 0; i < data.lstPlot.length; i++) {

                                        $("#tblData").append('<tr><td id="PK_BookingDetailsId' + i + ' " style="display:none">' + data.lstPlot[i].PK_BookingDetailsId +
                                            '</td><td id="PK_BookingId' + i + ' " style="display:none">' + data.lstPlot[i].Fk_BookingId +
                                            '</td><td id="InstallmentNo' + i + ' " >' + data.lstPlot[i].InstallmentNo +
                                            '</td><td id="InstallmentDate' + i + ' " >' + data.lstPlot[i].InstallmentDate +
                                             '</td><td id="InstallmentAmount' + i + ' " >' + data.lstPlot[i].InstallmentAmount +
                                             '</td><td id="PaidAmount' + i + ' " >' + data.lstPlot[i].PaidAmount +
                                            '</td><td id="PaymentDate' + i + ' " >' + data.lstPlot[i].PaymentDate +
                                            //'</td><td id="DueAmount' + i + ' " >' + data.lstPlot[i].DueAmount +
                                            '</td><td id="PaymentMode' + i + ' " >' + data.lstPlot[i].PaymentMode +
                                            '</td></tr>')
                                    }
                                }
                            }
                            else {
                                alert(data.Result);
                                //  alert('Invalid request');
                                $('#BookingNumber').val('')
                                $("#SiteID").val('0');
                                $("#SectorID").val('0');
                                $("#BlockID").val('0');
                                $("#PlotNumber").val('');
                                $("#Details1").hide();

                            }

                        }

                    });

                }
        }
    });
</script>
<script>
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }



    function GetDetails() {
        debugger
        if ($('#PlotNumber').val() == '' && $('#BookingNumber').val() == '') {
            alert(" Please, either select Site ID,Phase ID,Block ID and fill Plot Number OR fill Booking Number");
        }

        else {

            var site = $('#SiteID').val();
            var sector = $('#SectorID').val();
            var block = $('#BlockID').val();
            var plotno = $('#PlotNumber').val();
            var bookno = $('#BookingNumber').val();
            $.ajax({

                url: '/CustomerDashboard/Details', type: 'get', dataType: 'json',
                data: { 'BookingNumber': bookno, 'SiteID': site, 'SectorID': sector, 'BlockID': block, 'PlotNumber': plotno },
                success: function (data) {

                    if (data.Result == "yes") {
                        $("#Details1").show();
                        $("#ActPlotAmt").text(data.PlotAmount);
                        $("#ActPlotRate").text(data.ActualPlotRate);
                        $("#Plotrte").text(data.PlotRate);
                        $("#Bookigdt").text(data.BookingDate);
                        $("#bookingAmt").text(data.BookingAmount);
                        $("#Payamt").text(data.PaidAmount);
                        $("#Paydt").text(data.PaymentDate);
                        $("#disct").text(data.Discount);
                        $("#Payplan").text(data.PlanName);
                        $("#PK_BookingId").val(data.PK_BookingId);
                        $("#PaymentDate").val(data.PaymentDate);
                        $("#totAlotamt").text(data.TotalAllotmentAmount);
                        $("#noOfinst").text(data.TotalInstallment);
                        $("#instAmt").text(data.InstallmentAmount);

                        $("#Plotarea").text(data.PlotArea);
                        $("#bal").text(data.Balance);
                        //$("#SiteID").val('');
                        //$("#SectorID").val('');
                        //$("#BlockID").val('');
                        //$("#PlotNumber").val('');
                        $('#tblData').find("tr:not(:first)").remove();
                        if (data.lstPlot.length > 0) {
                            for (var i = 0; i < data.lstPlot.length; i++) {

                                $("#tblData").append('<tr><td id="PK_BookingDetailsId' + i + ' " style="display:none">' + data.lstPlot[i].PK_BookingDetailsId +
                                    '</td><td id="PK_BookingId' + i + ' " style="display:none">' + data.lstPlot[i].Fk_BookingId +
                                    '</td><td id="InstallmentNo' + i + ' " >' + data.lstPlot[i].InstallmentNo +
                                    '</td><td id="InstallmentDate' + i + ' " >' + data.lstPlot[i].InstallmentDate +
                                     '</td><td id="InstallmentAmount' + i + ' " >' + data.lstPlot[i].InstallmentAmount +
                                     '</td><td id="PaidAmount' + i + ' " >' + data.lstPlot[i].PaidAmount +
                                    '</td><td id="PaymentDate' + i + ' " >' + data.lstPlot[i].PaymentDate +
                                    '</td><td id="DueAmount' + i + ' " >' + data.lstPlot[i].DueAmount +
                                    '</td><td id="PaymentMode' + i + ' " >' + data.lstPlot[i].PaymentMode +
                                    '</td></tr>')
                            }
                        }
                    }
                    else {
                        alert(data.Result);
                      //  alert('Invalid request');
                        $('#BookingNumber').val('')
                        $("#SiteID").val('0');
                        $("#SectorID").val('0');
                        $("#BlockID").val('0');
                        $("#PlotNumber").val('');
                        $("#Details1").hide();

                    }

                }

            });

        }
    }
    function onSiteChange() {
        $("#divload").css({ 'display': '' });
        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/CustomerDashboard/GetSiteDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                var j = 1;
                if (data.Result == "yes") {
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Phase'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));

                    });

                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }


            }

        });

    }

    function onSectorChange() {

        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/CustomerDashboard/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });

            }

        });
    }
</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

<script src="../../vendors/jquery/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    //$('#DateOfBirth').datepicker({
    //    dateFormat: 'dd/mm/yy',
    //    changeYear: true,
    //    changeMonth: true,
    //});

    //$('#TransactionDate').datepicker({
    //    dateFormat: 'dd/mm/yy',
    //    changeYear: true,
    //changeMonth: true,
    //});
    //$('#PaymentDate').datepicker({
    //    dateFormat: 'dd/mm/yy',
    //    changeYear: true,
    //    changeMonth: true,
    //});


</script>

