@model RadhekunkInfra.Models.AssociateBooking

@{
    ViewBag.Title = "AssociateListForKYC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("AssociateListForKYC", "AdminReports", FormMethod.Post, new { @id = "form1", name = "formKYC" }))
{ <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Reports</li>
            <li class="breadcrumb-item">Associate List For KYC</li>
        </ul>
    </section>

    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Associate List For KYC</h4>
                        <p style="color:red">@TempData["KYCVerification"]</p>
                    </div>
                 
                    <div class="card-body">
                        <div class="row">

                            <div class="input-field col-3">
                                <div class="form-group">
                                    Login ID
                                    @Html.TextBoxFor(m => m.AssociateID, new { @class = "form-control", @Placeholder = "Search by Login ID" })
                                    @Html.HiddenFor(m => m.LoginId)
                                </div>
                            </div>


                            <div class="input-field col m2 s12">
                                <div class="form-group">
                                    <br />
                                    <input class="btn btn-success" type="submit" value="Search" id="btnSearch" name="btnSearch" />

                                </div>
                            </div>
                        </div>
                        <div class="dt-responsive table-responsive">
                            <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>LoginID</th>
                                        <th>Name</th>
                                        <th>Document Number</th>
                                        <th>Document Image</th>
                                        <th>Document Type</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstPlot != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstPlot)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.LoginId</td>
                                                    <td>@Item.DisplayName</td>
                                                    <td>@Item.DocumentNumber</td>
                                                    <td><img src="@Item.DocumentImage" height="120" width="180" /></td>
                                                    <td>@Item.DocumentType</td>
                                                    <td>@Item.Status</td>
                                                    <td>
                                                        @if (Item.Status == "Pending")
                                                        {
                                                            <a href="/AdminReports/ApproveKYC?Id=@Item.PK_DocumentID&&DocumentType=@Item.DocumentType&&LoginID=@Item.LoginId" class="btn btn-success pull-right" name="btnUpdate">Approve</a>
                                                        }

                                                    </td>
                                                </tr>

                                                i++;
                                            }
                                        }
                                    }


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
              
}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': '' });
        $("input").attr("autocomplete", "off");
        var cityuse = [];
        $("#loader").css({ 'display': '' });
        $.ajax({
            url: '/Plot/GetUserList',
            type: 'Post',
            success: function (response) {
                if (response != null) {
                    $(response).each(function (index, item) {
                        cityuse.push(item.UserName + "(" + item.LoginIDD + ")");
                    });
                    debugger
                    $('#AssociateID').autocomplete({
                        source: cityuse,
                        select: function (event, ui) {
                            var str = ui.item.label;
                            var strsplit = str.split("(");
                            $('#LoginId').val(strsplit[1].substr(0, strsplit[1].length - 1));
                        }
                    })
                }
            }, error: function () {
                alert('Some Thing wrong!');
                $("#loader").css({ 'display': 'none' });
            }
        });
    });
    </script>