@model RadhekunkInfra.Models.TraditionalAssociate

@{
    ViewBag.Title = "ClaimRewardReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("ClaimRewardReport", "AdminReports", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Reports</li>
            <li class="breadcrumb-item">Claim Reward Report</li>
        </ul>
    </section>

    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Claim Reward Report</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Name</th>
                                        <th>Award</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstTrad != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstTrad)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.AssociateName (@Item.LoginID)</td>
                                                    <td>
                                                        <img src="@Item.PanImage" height="100" width="100" />
                                                        <br />@Item.RewardName
                                                    </td>
                                                    <td>@Item.Status</td>
                                                </tr>

                                                i++;
                                            }
                                        }
                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true,
        });
    })
</script>































