@model RadhekunkInfra.Models.AssociateBooking

@{
    ViewBag.Title = "ClosingWisePayoutDetails";
    Layout = null;
}


<head runat="server" id="hdf">
     @*Required meta tags*@ 
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../files/bower_components/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="../../files/bower_components/bootstrap/js/bootstrap.min.js"></script>
</head>
@*<style>
    #divload {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url("../files/assets/images/login-gif-11.gif") no-repeat center center rgba(0,0,0,0.25);
    }

    .errortext {
        border: 1px solid red !important;
    }
</style>*@
@*<div class="loader" id="divload"></div>*@

@using (Html.BeginForm("ClosingWisePayoutDetails", "AdminReports", FormMethod.Post, new { @id = "form1" }))
{

    <div class="page-header" style="background:#0386b8;">
        <a href="#" style="float:right;margin-right:5px;" onclick="window.print()">Print</a>
        <div class="container">
            <div class="row pt-3">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="logomast mt-3">
                        <img src="~/AssociatePanelcss/assets/img/radhekunj.png" alt="logo" style="width:85px;background:white"/>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="logcontent text-white">
                        <h5 style="text-align:right">Name : @ViewBag.DisplayName</h5>
                        <h5 style="text-align:right">User Id : @ViewBag.UserId</h5>
                        <h5 style="text-align:right">Closing Date : @ViewBag.ClosingDate</h5>
                        <h5 style="text-align:right">Payout No : @ViewBag.PayoutNo</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- HTML5 Export Buttons table start -->
                            <div class="card">
                                <div class="card-header table-card-header">

                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="basic-btn" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th hidden>PK_BookingID</th>
                                                    <th>S No.</th>
                                                    <th hidden="hidden">Login Id</th>
                                                    <th hidden="hidden">Name </th>
                                                    <th>Customer ID</th>
                                                    <th>Customer Name</th>
                                                    <th>Affiliate ID</th>
                                                    <th>Affiliate Name</th>
                                                    <th>Plot</th>
                                                    <th>Payment Date</th>
                                                    <th>Paid Amount</th>
                                                    <th>Comm. Percentage</th>
                                                    <th>Income</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.ClosingWisePayoutlist != null)
                                                    {
                                                        int i = 1;
                                                        foreach (var Item in Model.ClosingWisePayoutlist)
                                                        {
                                                            <tr class="text-left">

                                                                <td>@i</td>
                                                                <td hidden="hidden">@Item.LoginId</td>
                                                                <td hidden="hidden">@Item.DisplayName</td>
                                                                <td>@Item.CustomerID</td>
                                                                <td>@Item.CustomerName</td>
                                                                <td>@Item.AssociateID</td>
                                                                <td>@Item.AssociateName</td>
                                                                <td>@Item.PlotNumber</td>
                                                                <td>@Item.PaymentDate</td>
                                                                <td>@Item.PaidAmount</td>
                                                                <td>@Item.CommPercentage</td>
                                                                <td>@Item.Income</td>
                                                            </tr>
                                                            i++;
                                                        }
                                                    }
                                                }

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

@*<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });
</script>*@
