@model RadhekunkInfra.Models.Reports

@{
    ViewBag.Title = "DayBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="loader" id="divload"></div>
@using (Html.BeginForm("DayBook", "AdminReports", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Reports</li>
            <li class="breadcrumb-item">View Day Book Details</li>
        </ul>
    </section>
    <div class="section-body">

        <div class="card">
            <div class="card-header">
                <h4>View Day Book Details</h4>

                <p style="color: red;font-size: 17px;
    font-family: -webkit-body;">
                    @TempData["Daybooklist"]
                </p>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="input-field col m3 s12" style="margin-top: 21px;">
                                @Html.DropDownListFor(m => m.ExpenseID, new SelectList(ViewBag.ExpenseType, "Value", "Text"), new { @class = "ExpenseType form-control select2" })
                            </div>
                       
                            <div class="input-field col m3 s12">
                                From Date
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date", @readonly = "true" })
                            </div>
                            <div class="input-field col m3 s12">
                                To Date
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date", @readonly = "true" })
                            </div>
                            <div class="input-field col m3 s12">
                                <input style="margin-top:24px;" class="btn btn-success" type="submit" value="Search" id="Search" name="Search" />
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-md" data-page-length='50' id="table-1" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Expense Type</th>
                                        <th>Expense Name</th>
                                        <th>Transaction Type</th>
                                        <th>Cheque Status</th>
                                        <th>Transaction</th>
                                        <th>Cr Amount</th>
                                        <th>Dr Amount</th>
                                        <th>Date</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstDayBook != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstDayBook)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.ExType</td>
                                                    <td>@Item.ExpenseName</td>
                                                    <td>@Item.PaymentMode
                                                   
                                                    @if (@Item.TransactionNo != "")
                                                    {
                                                         <br /><span>(@Item.TransactionNo)</span>
                                                    }</td>
                                                    <td>@Item.Status</td>
                                                    <td>@Item.Transaction</td>
                                                    <td style="color:green">@Item.CrAmount</td>
                                                    <td style="color:red">@Item.DrAmount</td>
                                                    <td>@Item.ClosingDate</td>
                                                    <td>@Item.Remarks</td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': '' });
        //var today = new Date();
        //var dd = String(today.getDate()).padStart(2, '0');
        //var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        //var yyyy = today.getFullYear();
        //today = dd + '/' + mm + '/' + yyyy;
        //$('#ToDate').val(today);
        //var firstDay = 01 + '/' + mm + '/' + yyyy;
        //$('#FromDate').val(firstDay);
    });
    function onExpeseTypeChange() {
        $("#divload").css({ 'display': '' });
        var value = $('#ExpenseID').val();
        var tr = [];
        $.ajax({
            url: "/Expense/GetExpenseDetails",
            Type: "Get",
            DataType: "JSON",
            data: { ExpenseID: value },
            success: function (data) {
                debugger
                $("#divload").css({ 'display': 'none' });
                var j = 1;
                console.log(data)
                if (data.Result == "yes") {
                    $("#ExpenseName").html(""); // clear before appending new list
                    $("#ExpenseName").empty();
                    $("#ExpenseName").append(
                          $('<option></option>').val(0).html('Select Expense Name'));
                    $.each(data.ddlexpensename, function (index, Expensecount) {
                        $("#ExpenseName").append(
                              $('<option></option>').val(Expensecount.Value).html(Expensecount.Text));

                    });

                }
                else {
                    $("#ExpenseName").empty();

                }


            }

        });

    }
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,

    });
</script>
