@model RadhekunkInfra.Models.TraditionalAssociate

@{
    ViewBag.Title = "DistributeUnpaidIncome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
@using (Html.BeginForm("DistributeUnpaidIncome", "AdminReports", FormMethod.Post, new { @id = "form1" }))
{
    
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>@Model.AssociateName</h4>
                    </div>
                    <div class="card-body">
                        <div class="dt-responsive table-responsive">
                            <table id="basic-btn" class="table table-striped table-bordered nowrap">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Customer Details</th>
                                        <th>Plot Details</th>
                                        <th>Business Amount</th>
                                        <th>Difference Percentage</th>
                                        <th>Income</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstTrad != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstTrad)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.FromName (@Item.FromID)</td>
                                                    <td>@Item.PlotDetails</td>
                                                    <td>@Item.Amount</td>
                                                    <td>@Item.DifferencePercentage</td>
                                                    <td>@Item.Income</td>
                                                    <td>@Item.JoiningFromDate</td>
                                                    <td>@Item.Status</td>
                                                </tr>

                                                i++;
                                            }
                                        }
                                    }

                                </tbody>
                                @*<tfoot>
                                        <tr>
                                            <th>S No.</th>
                                            <th>Cosing Date</th>
                                            <th>From ID</th>
                                            <th>From Name</th>
                                            <th>To ID</th>
                                            <th>To Name</th>
                                            <th>Business Amount</th>
                                            <th>Difference Percentage</th>
                                            <th>Income</th>
                                        </tr>
                                    </tfoot>*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
