@model RadhekunkInfra.Models.Reports
@{
    ViewBag.Title = "EMIBookingReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("EMIBookingReports", "AdminReports", FormMethod.Post, new { @id = "form1" }))
{    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Admin Reports</li>
            <li class="breadcrumb-item">EMI Booking Reports</li>
        </ul>
    </section>
    <div class="section-body">

        <div class="card">
            <div class="card-header">
                <h4>EMI Booking Reports</h4>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- HTML5 Export Buttons table start -->
                        <div class="card-block" style="margin-left:5px;margin-right:5px">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        From Date
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        To Date
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        Select Payment Mode
                                        @Html.DropDownListFor(m => m.PK_paymentID, new SelectList(ViewBag.ddlPaymentMode, "Value", "Text"), new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <br />
                                        <input class="btn btn-success" type="submit" value="Search" id="btnSearch" name="Search" />
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>S No.</th>
                                            <th>Customer Info</th>
                                            <th>Associate Info</th>
                                            <th>Plot Info</th>
                                            <th>Payment Mode</th>
                                            <th>Transaction No</th>
                                            <th>Transaction Date</th>
                                            <th>Bank Name</th>
                                            <th>Bank Branch</th>
                                            <th>Payment Status</th>
                                            <th>Plot Amount</th>
                                            <th>Paid Amount</th>
                                            <th>Total Paid</th>
                                            <th>Remaining Amount</th>
                                            <th>Payment Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.EMIBookingReports != null)
                                            {
                                                int i = 1;
                                                foreach (var Item in Model.EMIBookingReports)
                                                {
                                                    <tr class="text-left">
                                                        <td>@i</td>
                                                        <td>@Item.CustomerInfo</td>
                                                        <td>@Item.AssociateInfo</td>
                                                        <td>@Item.PlotInfo</td>
                                                        <td>@Item.PaymentMode</td>
                                                        <td>@Item.TransactionNo</td>
                                                        <td>@Item.TransactionDate</td>
                                                        <td>@Item.BankName</td>
                                                        <td>@Item.BankBranch</td>
                                                        <td>@Item.PaymentStatus</td>
                                                        <td>@Item.PlotAmount</td>
                                                        <td>@Item.PaidAmount</td>
                                                        <td>@Item.TotalPaid</td>
                                                        <td>@Item.RemainingAmount</td>
                                                        <td>@Item.PaymentDate</td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            @*<th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>*@
                                            <th colspan="9" style="text-align:end;"><b>Total Sum</b></th>
                                            <th style="display:none"><b>@ViewBag.PlotAmount</b></th>
                                            <th ><b>@ViewBag.PaidAmount</b></th>
                                            <th style="display:none"><b>@ViewBag.TotalPaid</b></th>
                                            <th style="display:none"><b>@ViewBag.RemainingAmount</b></th>
                                            <th></th>
                                        </tr>
                                        
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
</script>
