@model RadhekunkInfra.Models.AssociateBooking

@{
    ViewBag.Title = "PayoutRequestReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("PayoutRequestReport", "AdminReports", FormMethod.Post, new { @id = "form1" }))
{


    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Reports</li>
            <li class="breadcrumb-item">Payout Request</li>
        </ul>
    </section>

    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Payout Request</h4>
                        <p style="color:red">@TempData["Request"]</p>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-2">
                                <div class="form-group">
                                    Login ID
                                    @Html.TextBoxFor(m => m.UserID, new { @class = "form-control", @Placeholder = "Search by Login ID" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    From Date
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "ds" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    To Date
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "ds" })
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <br />
                                    <input class="btn btn-success" type="submit" value="Search" id="btnSearch" name="Search" />
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>  Login ID</th>
                                        <th> First Name</th>
                                        <th>Requested Date</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstPlot != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstPlot)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td hidden>@Item.RequestID</td>
                                                    <td>@Item.AssociateLoginID</td>
                                                    <td>@Item.FirstName</td>
                                                    <td>@Item.ClosingDate  </td>
                                                    <td>@Item.GrossAmount </td>

                                                    <th><a class="@Item.DisplayName">@Item.Status</a></th>
                                                    <td>
                                                        @if (Item.Status == "Pending")
                                                        {
                                                            <a class="btn btn-info btn-sm" href="/AdminReports/ApproveRequest/@Item.RequestID" onclick="return confirm('Are you sure you want to approve this request?');">Approve</a>
                                                            <a class="btn btn-warning btn-sm" href="/AdminReports/DeclineRequest/@Item.RequestID" onclick="return confirm('Are you sure you want to decline this request?');">Decline</a>
                                                        }
                                                    </td>

                                                </tr>
                                                i++;
                                            }
                                        }
                                    }

                                </tbody>
                                
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

}



<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });

</script>






