@model RadhekunkInfra.Models.AssociateBooking

@{
    ViewBag.Title = "PayoutDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("PayoutDetails", "AdminReports", FormMethod.Post, new { @id = "form1" }))
{

    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Payout</li>
            <li class="breadcrumb-item">Payout Details</li>
        </ul>
    </section>

    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Payout Details</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="input-field col m2 s12">
                                <div class="form-group">
                                    Login ID
                                    @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Search by Login ID" })
                                </div>
                            </div>

                            <div class="input-field col m2 s12">
                                <div class="form-group">
                                    PayOut No.
                                    @Html.TextBoxFor(m => m.PayOutNo, new { @class = "form-control", @Placeholder = "Search by PayOutNo" })
                                </div>
                            </div>

                            <div class="input-field col m2 s12">
                                <div class="form-group">
                                    From Date
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "ds" })
                                </div>
                            </div>

                            <div class="input-field col m2 s12">
                                <div class="form-group">
                                    To Date
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "ds" })
                                </div>
                            </div>


                            <div class="input-field col m2 s12">
                                <div class="form-group">
                                    <br />
                                    <input class="btn btn-success" type="submit" value="Search" id="btnSearch" name="Search" />
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" data-page-length='50' id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th> Closing Date</th>
                                        <th> PayOut No</th>
                                        <th>  Login ID</th>
                                        <th> First Name</th>
                                        <th> Gross Amount</th>
                                        <th> TDS</th>
                                        <th> Processing</th>
                                        <th> NetAmount</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstPlot != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstPlot)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.ClosingDate</td>
                                                    <td>@Item.PayOutNo</td>
                                                    <td>@Item.AssociateLoginID  </td>
                                                    <td>@Item.FirstName </td>
                                                    <td>@Item.GrossAmount</td>
                                                    <td>@Item.TDS</td>
                                                    <td>@Item.Processing</td>
                                                    <td>@Item.NetAmount</td>
                                                    <td>
                                                    <a href="/AdminReports/ClosingWisePayoutDetails?PK_PaidPayoutId=@Item.PK_PaidPayoutId" class="btn btn-success btn-sm" target="_blank">Print</a>
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        maxDate: 0,
        changeYear: true,
        changeMonth: true
    });

    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        maxDate: 0,
        changeYear: true,
        changeMonth: true
    });
</script>



