@model RadhekunkInfra.Models.Plot

@{
    ViewBag.Title = "PlotPaidList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #divload {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url("../files/assets/images/login-gif-11.gif") no-repeat center center rgba(0,0,0,0.25);
    }

    .errortext {
        border: 1px solid red !important;
    }
</style>
<div class="loader" id="divload"></div>
@using (Html.BeginForm("PlotPaidList", "AdminReports", FormMethod.Post, new { @id = "form1" }))
{


    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Reports</li>
            <li class="breadcrumb-item">Payment Paid List</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Payment Paid List</h4>
                        <p style="color: red">
                            @TempData["Update"]

                        </p>
                    </div>
                    <div class="card-body">
                        <div class="row ">
                            <div class="input-field col m3 s12">
                                <div class="form-group">
                                    Select Site
                                    @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                                </div>
                            </div>
                            <div class="input-field col m3 s12">
                                <div class="form-group">
                                    Select Phase
                                    @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @onchange = "return onSectorChange();" })
                                </div>
                            </div>
                            <div class="input-field col m3 s12">
                                <div class="form-group">
                                    Select Block
                                    @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="input-field col m3 s12">
                                <div class="form-group">
                                    Plot Number
                                    @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @Placeholder = "Search by Plot Number" })
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="input-field col-3">
                                <div class="form-group">
                                    Booking Number
                                    @Html.TextBoxFor(m => m.BookingNumber, new { @class = "form-control", @Placeholder = "Search by Booking Number" })
                                </div>
                            </div>

                            <div class="input-field col m3 s12">
                                <div class="form-group">
                                    <br />
                                    <input class="btn btn-success pull-left" type="submit" value="Search" id="btnSearch" name="Search" />
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th hidden>PK_BookingID</th>
                                        <th>S No.</th>
                                        <th>Customer ID</th>
                                        <th>Customer Name</th>
                                        <th>Paid Amount</th>
                                        <th>Payement Date</th>
                                        <th>Reciept</th>
                                        <th>Mode</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstPlot != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstPlot)
                                            {
                                                <tr class="text-left">

                                                    <td>@i</td>
                                                    <td>@Item.CustomerID</td>
                                                    <td>@Item.CustomerName</td>
                                                    <td>@Item.PaidAmount</td>
                                                    <td>@Item.PaymentDate</td>
                                                    <td>@Item.ReceiptNo</td>
                                                    <td>@Item.PaymentMode</td>
                                                    @if(Item.PaymentStatus=="Approved")
                                                    {
                                                        <td>@Item.PaymentStatus</td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <a class="btn tblEditBtn" data-toggle="tooltip" target="_blank" href="/AdminReports/EditPaidList?PaidID=@Item.EncryptKey" title="" data-original-title="Edit">
                                                                <i class="material-icons">mode_edit</i>
                                                            </a>
                                                        </td>
                                                    }
                                                  
                                                </tr>
                                                i++;
                                            }
                                        }
                                    }

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });

    function onSiteChange() {
        $("#divload").css({ 'display': '' });
        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/Plot/GetSiteDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                var j = 1;
                if (data.Result == "yes") {
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Phase'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));

                    });
                    $("#SectorID").formSelect();
                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }


            }

        });

    }
    function onSectorChange() {

        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/Plot/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });
                $("#BlockID").formSelect();
            }

        });
    }
</script>

