@model RadhekunkInfra.Models.Master

@{
    ViewBag.Title = "PlotAvailability";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #divload {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url("../files/assets/images/login-gif-11.gif") no-repeat center center rgba(0,0,0,0.25);
    }

    .errortext {
        border: 1px solid red !important;
    }
</style>
<div class="loader" id="divload"></div>
@using (Html.BeginForm("PlotAvailability", "AdminReports", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{

    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Reports</li>
            <li class="breadcrumb-item">Plot Availability</li>
        </ul>
    </section>

    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Plot Availability</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3 col-md-3 col-lg-3" style="display:none">
                                <div class="form-group">
                                    Select Site Type <span style="color: red">*</span>
                                    @Html.DropDownListFor(m => m.SiteTypeID, new SelectList(ViewBag.ddlSiteType, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteTypeChange();" })
                                </div>
                            </div>
                            <div class="col-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    Select Site <span style="color: red">*</span>
                                    @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                                </div>
                            </div>
                            <div class="col-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    Select Phase
                                    @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @onchange = "return onSectorChange();" })
                                </div>
                            </div>
                            <div class="col-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    Select Block
                                    @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    Plot Number
                                    @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @placeholder = "Plot Number" })
                                </div>
                            </div>

                            <div class="col-3 col-md-3 col-lg-3">
                                <br />
                                <div class="form-group">
                                    <input type="submit" name="Search" value="Search" id="btnSearchPlot" class="btn btn-success" onclick="return GetDetails(); " />
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12" id="DivPlots">
                                <div class="col-lg-12">
                                    <label style="color: black;"><b><u>Availability Status</u></b></label>
                                    <br />
                                    <div class="col-md-2 float-left">
                                        <div style="border:solid; border-color:#e66b6b; background-color:#e66b6b; height:20px; width:20px; float:left"></div>
                                        - Booked
                                    </div>
                                    <div class="col-md-2 float-left">
                                        <div style="border:solid; border-color:#69ce69; background-color:#69ce69; height:20px; width:20px; float:left"></div>
                                        - Available
                                    </div>
                                    <div class="col-md-2 float-left">
                                        <div style="border:solid; border-color:yellow; background-color:yellow; height:20px; width:20px; float:left"></div>
                                        - On Hold
                                    </div>
                                    <div class="col-md-2 float-left">
                                        <div style="border:solid; border-color: #e470e4; background-color: #e470e4; height:20px; width:20px; float:left"></div>
                                        - Registry
                                    </div>
                                </div>

                                <br />

                            </div>
                        </div>
                        <br />
                        <div class="row">
                            @if (Model != null)
                            {
                                if (Model.lstPlot != null)
                                {
                                    foreach (var Item in Model.lstPlot)
                                    {
                                        @*<a href="#" data-toggle="tooltip" title="Plot Amount :@Item.PlotAmount ; Plot Area :@Item.PlotArea">*@
                                        <div style="margin-left:0.5%;color:black;background: @Item.ColorCSS; border:Solid; float:left; height:100px; margin-bottom:0.5%; text-align:center; padding-top:0.5%">
                                            <input type="hidden" value="@Item.PlotID" />
                                            <input type="hidden" value="@Item.SiteID" />
                                            <input type="hidden" value="@Item.SectorID" />
                                            <b>Plot Number : </b>@Item.PlotNumber
                                            <br />
                                            <b>Plot Rate : </b>@Item.PlotRate /- @Item.UnitName
                                            <br />
                                            <b>Plot Area :</b>(@Item.PlotSize)=@Item.PlotArea  @Item.UnitName
                                            <br />
                                            (@Item.SectorName,@Item.BlockName)
                                        </div>
                                                @*</a>*@
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
       $("#divload").css({ 'display': 'none' });
    //    $('[data-toggle="tooltip"]').tooltip();


    //    $("#SectorID").html(""); // clear before appending new list
    //    $("#SectorID").empty();
    //    $("#SectorID").append(
    //          $('<option></option>').val(0).html('Select Phase'));
    //    $("#BlockID").html(""); // clear before appending new list
    //    $("#BlockID").empty();
    //    $("#BlockID").append(
    //          $('<option></option>').val(0).html('Select Block'));

    });
</script>

<script>
    $(document).ready(function () {
        debugger;
        $("#divload").css({ 'display': 'none' });
        {
            var value = $('#SiteTypeID').val();
            var values = $('#SiteID').val();
            var tr = [];
            $.ajax({
                url: "/AdminReports/GetSiteBySiteType",
                Type: "Get",
                DataType: "JSON",
                data: { SiteTypeID: value },
                success: function (data) {
                    var j = 1;
                       $("#divload").css({ 'display': 'none' });
                    $("#SiteID").html("");
                    $("#SiteID").empty();
                    $("#SiteID").append(
                          $('<option></option>').val(0).html('Select Site'));
                    $.each(data.ddlSite, function (index, Sectorcount) {
                        $("#SiteID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));
                    });
                    //$("#SiteID").formSelect();
                }
            });
        }

        //function onSiteTypeChange() {
        //    //  $("#divload").css({ 'display': '' });

        //    var value = $('#SiteTypeID').val();
        //    var values = $('#SiteID').val();
        //    var tr = [];
        //    $.ajax({
        //        url: "/AdminReports/GetSiteBySiteType",
        //        Type: "Get",
        //        DataType: "JSON",
        //        data: { SiteTypeID: value },
        //        success: function (data) {
        //            var j = 1;

        //            //   $("#divload").css({ 'display': 'none' });

        //            $("#SiteID").html(""); // clear before appending new list
        //            $("#SiteID").empty();
        //            $("#SiteID").append(
        //                  $('<option></option>').val(0).html('Select Site'));
        //            $.each(data.ddlSite, function (index, Sectorcount) {
        //                $("#SiteID").append(
        //                      $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));
        //            });
        //            $("#SiteID").formSelect();
        //        }

        //    });

        //}


  });
    function GetDetails() {
        $("#divload").css({ 'display': '' });
        $(".errortext").removeClass("errortext");
        //if ($('#SiteTypeID').val() == '0') {
        //    $("#SiteTypeID").addClass('errortext');
        //    $('#SiteTypeID').focus();
        //    return false;
        //}

        if ($('#SiteID').val() == '0') {
            $("#SiteID").addClass('errortext');
            $("#divload").css({ 'display': 'none' });
            $('#SiteID').focus();
            return false;
        }
        return true;
    }

    function onSiteTypeChange() {
        $("#divload").css({ 'display': '' });
        var value = $('#SiteTypeID').val();
        var values = $('#SiteID').val();
        var tr = [];
        $.ajax({
            url: "/AdminReports/GetSiteBySiteType",
            Type: "Get",
            DataType: "JSON",
            data: { SiteTypeID: value },
            success: function (data) {
                var j = 1;
                $("#divload").css({ 'display': 'none' });
                $("#SiteID").html(""); // clear before appending new list
                $("#SiteID").empty();
                $("#SiteID").append(
                      $('<option></option>').val(0).html('Select Site'));
                $.each(data.ddlSite, function (index, Sectorcount) {
                    $("#SiteID").append(
                          $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));
                });
                $("#SiteID").formSelect();
            }
        });
    }

    function onSiteChange() {
        debugger;
        $("#divload").css({ 'display': '' });
        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/Master/GetSiteDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                debugger;
                var j = 1;
                if (data.Result == "yes") {
                    $("#divload").css({ 'display': 'none' });
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Phase'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));
                    });
                    $("#SectorID").formSelect();
                    //$("#SectorID").empty();
                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }
            }
        });
    }
    function onSectorChange() {
        debugger;
        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/Master/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
                debugger;
               $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });

                $("#BlockID").formSelect();
            }
        });
    }

</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

