@model RadhekunkInfra.Models.Home

@{
    ViewBag.Title = "ConfirmRegistration";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}
<!DOCTYPE html>


<html>
<head>
    <title>PrintLetter</title>
    <style>
        table, th, td {
            font-size: medium;
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            font-size: medium;
            padding: 5px;
        }
    </style>

</head>
<body>
    <div>
        <div style="text-align:center">
            <img src="~/files/assets/images/tej.jpg" />
        </div>
        <br />
        <div>
            Dear @ViewBag.SponsorName,
            <br />
            <br />
            Welcome to our valued family of @ViewBag.CompanyName ,Thank you
            for joining hand with us.It is the people like you who make
            being in business such a pleasure.Our Business is source
            of Pride to us and with partners like you,we find going to
            work each day rewarding experience.
        </div>
        <br />
        <br />
        <table style="width: 100%;">
            <tr>
                <td><b>ID:    </b>@ViewBag.SponsorID  </td>
                <td><b>NAME:    </b>@ViewBag.SponsorName  </td>
                <td><b>MOBILE No.     </b>@ViewBag.Contact</td>
            </tr>

            <tr> 
                <td><b>ADDRESS:    </b>@ViewBag.Address</td>
                <td><b>CITY:    </b>@ViewBag.City</td>
            </tr>
        </table>
        <br />
        <br />
        <div>
            We value the comments the our partner's on receipt of
            this letter we hope you will share your Vulnerable
            thoughts with us.Please accept our best wishes for your
            continuous prosperity and good health.
            <br />
            <br />
            With Regards,
            <br />

            @ViewBag.CompanyName
        </div>

    </div>
</body>
</html>


