@model HMGreenCityCRM.Models.Master

@{
    ViewBag.Title = "PincodeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("PincodeList", "Master", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item">Pincode Master</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Pincode Master</h4>
                </div>
                <div class="card-body">
                    <div class="row ">
                        <div class="col-sm-4">
                            Pin Code@*<span style="color:red">*</span>*@
                            @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control", @placeholder = "Pin Code" })
                        </div>
                        <div class="col-sm-4">
                            Region Name@*<span style="color:red">*</span>*@
                            @Html.TextBoxFor(m => m.RegionName, new { @class = "form-control", @placeholder = "Region Name" })
                        </div>
                        <div class="col-sm-4">
                            Taluk@*<span style="color:red">*</span>*@
                            @Html.TextBoxFor(m => m.Taluk, new { @class = "form-control", @placeholder = "Taluk" })
                        </div>
                        <div class="col-sm-4">
                            District Name@*<span style="color:red">*</span>*@
                            @Html.TextBoxFor(m => m.District, new { @class = "form-control", @placeholder = "District Name" })
                        </div>
                        <div class="col-sm-4">
                            State Name@*<span style="color:red">*</span>*@
                            @Html.TextBoxFor(m => m.StateName, new { @class = "form-control", @placeholder = "State Name" })
                        </div>
                    </div>
                    <br />
                    <input type="submit" value="Search" name="btnsave" id="btnsave" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
    <div class="section-body">
        <div class="card">
            <div class="card-header">
                <h4>Pincode List</h4>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="card-header">
                                <a class="btn btn-primary btn-sm" style="margin-left:89%;" href="/Master/PincodeMaster">Add New</a>
                            </div>

                        <!-- HTML5 Export Buttons table start -->
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>S No.</th>
                                            <th>PinCode</th>
                                            <th>RegionName</th>
                                            <th>Taluk</th>
                                            <th>District Name</th>
                                            <th>State Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.lstpincode != null)
                                            {
                                                int i = 1;
                                                foreach (var Item in Model.lstpincode)
                                                {
                                                    <tr class="text-left">
                                                        <td>@i</td>
                                                        <td>@Item.Pincode</td>
                                                        <td>@Item.RegionName</td>
                                                        <td>@Item.Taluk</td>
                                                        <td>@Item.District</td>
                                                        <td>@Item.StateName</td>
                                                        <td>
                                                            <a href="/Master/PincodeMaster?Id=@Item.PinCodeId" class="btn btn-info btn-sm edit">Edit</a>
                                                            <a href="/Master/DeletePincode?Id=@Item.PinCodeId" class="btn btn-danger btn-sm delete" onclick="return confirm('Are you sure you wish to delete this record?');">Delete</a>
                                                        </td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
