@model RadhekunkInfra.Models.Master

@{
    ViewBag.Title = "PlotMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("PlotMaster", "Master", FormMethod.Post, new { @id = "form1" }))
{ 
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item">Plot Master</li>
        </ul>
    </section>


    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Plot Master</h4>

                    <p style="color: red">
                        @TempData["Plot"]
                    </p>
                </div>
                <div class="card-body">
                    <div class="row ">
                        <div class="input-field col m6 s12">
                            Site Name<span style="color:red">*</span>
                            @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })

                        </div>

                        <div class="input-field col m6 s12">
                            Rate<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.Rate, new { @class = "form-control", @Placeholder = "Rate", @ReadOnly = "ReadOnly" })

                        </div>


                    </div>

                    <div class="row">
                        <div class="input-field col m6 s12">
                            Phase Name<span style="color:red">*</span>
                            @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @onchange = "return onSectorChange();" })
                        </div>
                        <div class="input-field col m6 s12">
                            Block Name<span style="color:red">*</span>
                            @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="dt-responsive table-responsive">
                                <table class="table table-striped table-bordered nowrap">
                                    <thead>
                                        <tr>
                                            <th>S No.</th>
                                            <th>PLC NAME</th>
                                            <th>PLC Charge(%)</th>
                                        </tr>
                                    </thead>
                                    <tbody id="plccharge"></tbody>

                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">

                        <div class="input-field col m3 s12">
                            Plot Rate<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.PlotRate, new { @class = "form-control", @Placeholder = "Plot Rate", @onkeypress = "return isNumberOrDecimal(event);", @onchange = "return calculatePlotAmount();", @maxlength = "20" })
                            <span class="form-bar"></span>
                        </div>

                        <div class="input-field col m3 s12">
                            Plot Size<span style="color:red">*</span>
                            @Html.DropDownListFor(m => m.PlotSizeID, new SelectList(ViewBag.ddlPlotSize, "Value", "Text"), new { @class = "form-control", @onchange = "return calculatePlotAmount();" })
                            <span class="form-bar"></span>
                        </div>

                        <div class="input-field col m3 s12">
                            Booking Percentage<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.BookingPercent, new { @class = "form-control", @Placeholder = "Booking Percent", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "20" })
                            <span class="form-bar"></span>
                        </div>

                        <div class="input-field col m3 s12">
                            Plot Amount<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.PlotAmount, new { @class = "form-control", @Placeholder = "Plot Amount", @Readonly = "readonly", @onkeypress = "return isNumberOrDecimal(event);" })
                            <span class="form-bar"></span>
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="input-field col m3 s12">
                            Allotment Percentage<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.AllottmentPercent, new { @class = "form-control", @Placeholder = "Allottment Percent", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "20" })
                            <span class="form-bar"></span>
                        </div>

                        <div class="input-field col m3 s12">
                            Plot Prefix
                            @Html.TextBoxFor(m => m.PlotPrefix, new { @class = "form-control", @Placeholder = "Plot Prefix", @maxlength = "20" })
                            <span class="form-bar"></span>
                        </div>

                        <div class="input-field col m3 s12">
                            From Plot<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.FromPlot, new { @class = "form-control", @Placeholder = "From Plot", @onkeypress = "return isNumberOrDecimal(event);" })
                            <span class="form-bar"></span>
                        </div>

                        <div class="input-field col m3 s12">
                            To Plot<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.ToPlot, new { @class = "form-control", @Placeholder = "To Plot", @onkeypress = "return isNumberOrDecimal(event);" })
                            <span class="form-bar"></span>
                        </div>
                    </div>

                    <br />
                    <div class="form-group row">


                        <div class="input-field col m6 s12">
                            <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="btnSave" />
                            <input type="hidden" id="UserType" value="@Session["UserType"]" />
                            <input type="hidden" id="UserTypeName" value="@Session["UserTypeName"]" />
                            <a class="btn btn-info" href="/Master/PlotList" style="margin-left:5px;">Back To List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
        var UserType = $('#UserType').val();
        var UserTypeName = $('#UserTypeName').val();
        if (UserType == 'Admin' && UserTypeName != 'Admin' && UserTypeName != "") {
            GetMenuDetails();
        }
    });
    function GetMenuDetails() {
        debugger
        var URL = "/Master/PlotMaster";
        $.ajax({
            type: "POST",
            url: "/Master/GetMenuDetails",
            data: { URL: URL },
            dataType: "json",
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                console.log(obj)
                for (var i = 0; i < obj.length; i++) {
                    if (obj[i].FormSave == true) {
                        $('#btnSave').show();

                        $("#btnSave").removeAttr('disabled');
                    }
                    else {
                        $('#btnSave').hide();

                        $("#btnSave").attr('disabled', 'disabled');
                    }
                    debugger
                    //if (obj[i].FormUpdate == true && $('#PlotSizeID').val() != "") {
                    //    $('#btnUpdate').show();

                    //    $("#btnUpdate").removeAttr('disabled');
                    //}
                    //else {
                    //    $('#btnUpdate').hide();
                    //    $("#btnUpdate").attr('disabled', 'disabled');
                    //}
                }
            },
            error: function () {
                alert("Error occured!!")
            }
        });
    }
    function calculatePlotAmount() {
        var ddlSize = document.getElementById("PlotSizeID");
        var selectedPlotSize = ddlSize.options[ddlSize.selectedIndex].text;

        var plotSize = selectedPlotSize.split(" ");
        var plotRate = Number(document.getElementById("PlotRate").value);

        var plotAmount = Number(plotSize[0]) * plotRate;
        //alert(plotArea);
        document.getElementById("PlotAmount").value = plotAmount;
    }

    function onSiteChange() {
        $("#divload").css({ 'display': '' });
        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/Master/GetSiteDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                var j = 1;
                //alert(data.Result);
                if (data.Result == "yes") {
                    //alert(data.Rate);
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#BlockID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Phase'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));

                    });
                    //  $("#SectorID").formSelect();
                    var plcTotal = 0;
                    $('#plccharge').empty();
                    for (var i = 0; i < data.lstPLC.length; i++) {
                        tr.push('<tr>');
                        tr.push("<td>" + j + "</td>");
                        tr.push("<td>" + data.lstPLC[i].PLCName + "</td>");
                        tr.push("<td><input type='number' value='" + data.lstPLC[i].PLCCharge + "' id='txtCharge_ " + i + "' name='txtCharge_ " + i + "' required='required'>%</td>");
                        tr.push("<td style='display:none'><input type='hidden' value='" + data.lstPLC[i].PLCID + "' id='plcid_ " + i + "' name='plcid_ " + i + "'></td>");
                        tr.push('</tr>');
                        j++;
                        plcTotal = plcTotal + parseInt(data.lstPLC[i].PLCCharge);
                    }
                    tr.push('<tr style="display:none">');
                    tr.push("<td><input type='hidden' value='" + j + "' id='hdrows' name='hdrows'></td>");
                    tr.push('</tr>');
                    $('#plccharge').append($(tr.join('')));

                    $('#PLCCharge').val(plcTotal);

                }
                else {
                    $('#Rate').val('');
                }
            }

        });

    }

    function onSectorChange() {
        debugger;
        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/Master/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });
                //    $("#BlockID").formSelect();
            }

        });
    }

    function validateform() {
        $("#divload").css({ 'display': '' });
        $(".errortext").removeClass("errortext");
        if ($('#SiteID').val() == '0') {
            $("#SiteID").addClass('errortext');
            $('#SiteID').focus();
            return false;
        }
        if ($('#SectorID').val() == '0') {
            $("#SectorID").addClass('errortext');
            $('#SectorID').focus();
            return false;
        }

        if ($('#BlockID').val() == '0') {
            $("#BlockID").addClass('errortext');
            $('#BlockID').focus();
            return false;
        }

        if ($('#PlotRate').val() == '') {
            $("#PlotRate").addClass('errortext');
            $('#PlotRate').focus();
            return false;
        }
        if ($('#PlotSizeID').val() == '0') {
            $("#PlotSizeID").addClass('errortext');
            $('#PlotSizeID').focus();
            return false;
        }
        if ($('#BookingPercent').val() == '') {
            $("#BookingPercent").addClass('errortext');
            $('#BookingPercent').focus();
            return false;
        }
        if ($('#AllottmentPercent').val() == '') {
            $("#AllottmentPercent").addClass('errortext');
            $('#AllottmentPercent').focus();
            return false;
        }

        //if ($('#PlotPrefix').val() == '') {
        //    $("#PlotPrefix").addClass('errortext');
        //    $('#PlotPrefix').focus();
        //    return false;
        //}
        if ($('#FromPlot').val() == '') {
            $("#FromPlot").addClass('errortext');
            $('#FromPlot').focus();
            return false;
        }
        if ($('#ToPlot').val() == '') {
            $("#ToPlot").addClass('errortext');
            $('#ToPlot').focus();
            return false;
        }
        var bookingPercentage = $('#BookingPercent').val();
        if ((Number)(bookingPercentage) > 100) {
            $('#BookingPercent').val('');
            $("#BookingPercent").addClass('errortext');
            $('#BookingPercent').focus();
            return false;
        }
        var allottmentPercentage = $('#AllottmentPercent').val();
        if ((Number)(allottmentPercentage) > 100) {
            $('#AllottmentPercent').val('');
            $("#AllottmentPercent").addClass('errortext');
            $('#AllottmentPercent').focus();
            return false;
        }

        var fromPlot = $('#FromPlot').val();
        var toPlot = $('#ToPlot').val();
        if ((Number)(toPlot) < (Number)(fromPlot)) {
            $("#FromPlot").addClass('errortext');
            $("#ToPlot").addClass('errortext');
            $('#FromPlot').val('');
            $('#ToPlot').val('');
            return false;
        }
        return true;
    }

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
