@model RadhekunkInfra.Models.Master

@{
    ViewBag.Title = "PlotList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #divload {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url("../files/assets/images/login-gif-11.gif") no-repeat center center rgba(0,0,0,0.25);
    }

    .errortext {
        border: 1px solid red !important;
    }
</style>
<div class="loader" id="divload"></div>
@using (Html.BeginForm("PlotList", "Master", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item">Plot List</li>
        </ul>
    </section>


    <div class="section-body">

        <div class="card">
            <div class="card-header">
                <h4>Plot List</h4>

                <p style="color: red">
                    @TempData["Plot"]
                </p>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- HTML5 Export Buttons table start -->

                        <div class="card-header table-card-header">

                            <a class="btn btn-primary btn-sm" style="margin-left:89%;" href="/Master/PlotMaster">Add New</a>
                        </div>
                        <div class="card-block" style="margin-left:5px;margin-right:5px">
                            <div class="form-group row">
                                <div class="input-field col m3 s12">
                                    Site
                                    @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                                    <span class="form-bar"></span>
                                </div>
                                <div class="input-field col m3 s12">
                                    Sector
                                    @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @onchange = "return onSectorChange();" })
                                    <span class="form-bar"></span>
                                </div>
                                <div class="input-field col m3 s12">
                                    Block
                                    @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })
                                    <span class="form-bar"></span>
                                </div>
                                <div class="input-field col m3 s12">
                                    Plot No
                                    @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @Placeholder = "Plot Number" })
                                    @Html.HiddenFor(m => m.PlotID)
                                    <span class="form-bar"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="input-field col m3 s12">
                                    <input type="submit" name="SearchPlot" value="Search" id="btnSearchPlot" class="btn btn-success" onclick="return load();" />
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>S No.</th>
                                            <th>SiteName</th>
                                            <th>SectorName</th>
                                            <th>BlockName</th>
                                            <th>PlotNumber</th>
                                            <th>PlotArea</th>
                                            <th>PlotRate</th>
                                            <th>PlotAmount</th>
                                            <th>PLCCharge</th>
                                            @*<th>BookingPercent</th>*@
                                            @*<th>AllottmentPercent</th>*@
                                            <th>Status</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.lstPlot != null)
                                            {
                                                int i = 1;
                                                foreach (var Item in Model.lstPlot)
                                                {
                                                    <tr class="text-left">
                                                        <td>@i</td>
                                                        <td>@Item.SiteName</td>
                                                        <td>@Item.SectorName</td>
                                                        <td>@Item.BlockName</td>
                                                        <td>@Item.PlotNumber</td>
                                                        <td>@Item.PlotArea</td>
                                                        <td>@Item.PlotRate</td>
                                                        <td>@Item.PlotAmount</td>
                                                        <td>@Item.PLCCharge</td>
                                                        @*<th>@Item.BookingPercent</th>
                                                            <th>@Item.AllottmentPercent</th>*@
                                                        <td><a class="@Item.ColorCSS">@Item.PlotStatus</a></td>
                                                        @if (Item.PlotStatus == "Available")
                                                        {
                                                            <td>

                                                                <a href="/Master/UpdatePlot?PlotID=@Item.EncryptKey" class="btn btn-info btn-sm" style="margin-top:5px">Edit</a>
                                                            </td>
                                                            <td>
                                                                <a href="/Master/DeletePlot?id=@Item.PlotID" class="btn btn-danger btn-sm" style="margin-top:5px;margin-bottom:5px" onclick="return confirm('Are you sure you wish to delete this Plot?');">Delete</a>

                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                            <td></td>
                                                        }
                                                    </tr>

                                                    i++;
                                                }
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <input type="hidden" id="UserType" value="@Session["UserType"]" />
                        <input type="hidden" id="UserTypeName" value="@Session["UserTypeName"]" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
        var UserType = $('#UserType').val();
        var UserTypeName = $('#UserTypeName').val();
        if (UserType == 'Admin' && UserTypeName != 'Admin') {
            GetMenuDetails();
        }
    });
    function GetMenuDetails() {
        var URL = "/Master/PlotMaster";
        $.ajax({
            type: "POST",
            url: "/Master/GetMenuDetails",
            data: { URL: URL },
            dataType: "json",
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                console.log(data)
                for (var i = 0; i < obj.length; i++) {
                    if (obj[i].FormDelete == true) {
                        var table = $('#tableExport').DataTable();
                        table.column(11).visible(true);
                    }
                    else {
                        var table = $('#tableExport').DataTable();
                        table.column(11).visible(false);
                    }
                    if (obj[i].FormUpdate == true) {
                        var table = $('#tableExport').DataTable();
                        table.column(10).visible(true);
                    }
                    else {
                        var table = $('#tableExport').DataTable();
                        table.column(10).visible(false);
                    }

                }
            },
            error: function () {
                alert("Error occured!!")
            }
        });
    }


    function onSiteChange() {
        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/Master/GetSiteDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                var j = 1;
                if (data.Result == "yes") {
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Phase'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));

                    });

                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }


            }

        });

    }

    function onSectorChange() {


        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/Master/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {

                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });

            }

        });
    }
</script>

