@model RadhekunkInfra.Models.Master

@{
    ViewBag.Title = "RankList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("RankList", "Master", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item">Designation List</li>
        </ul>
    </section>


    <div class="section-body">

        <div class="card">
            <div class="card-header">
                <h4>Designation List</h4>

                <p style="color: red">
                    @TempData["Rank"]
                </p>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- HTML5 Export Buttons table start -->

                        <div class="card-header table-card-header">
                            <a class="btn btn-primary btn-sm" style="margin-left:75%;margin-top:5px;" href="/Master/RankMaster">Add New</a>
                        </div>
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>S No.</th>
                                            <th>Designation Name</th>
                                            <th>Percentage</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.lstBlock1 != null)
                                            {
                                                int i = 1;
                                                foreach (var Item in Model.lstBlock1)
                                                {
                                        <tr class="text-left">
                                            <td>@i</td>
                                            <td>@Item.DesignationName</td>
                                            <td>@Item.Percentage</td>
                                            <td>
                                               <a href="/Master/RankMaster?DesignationID=@Item.EncryptKey" class="btn btn-info btn-sm edit">Edit</a>
                                               
                                                <a href="/Master/DeleteRank?id=@Item.DesignationID"  class="btn btn-danger btn-sm delete" onclick="return confirm('Are you sure you wish to delete this Rank?');">Delete</a>
                                            </td>

                                        </tr>

                                                    i++;
                                                }
                                            }
                                        }

                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </div>
                </div>





            </div>
        </div>
    </div>
    <input type="hidden" id="UserType" value="@Session["UserType"]" />
    <input type="hidden" id="UserTypeName" value="@Session["UserTypeName"]" />
}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    $(document).ready(function () {
        var UserType = $('#UserType').val();
        var UserTypeName = $('#UserTypeName').val();
        if (UserType == 'Admin' && UserTypeName != 'Admin') {
            GetMenuDetails();
        }
        function GetMenuDetails() {
            var URL = "/Master/RankMaster";
            $.ajax({
                type: "POST",
                url: "/Master/GetMenuDetails",
                data: { URL: URL },
                dataType: "json",
                //contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var obj = jQuery.parseJSON(data);
                    //console.log(data)
                    for (var i = 0; i < obj.length; i++) {
                        if (obj[i].FormDelete == true) {
                            $(".delete").show();
                        }
                        else {
                            $(".delete").hide();
                        }
                        if (obj[i].FormUpdate == true) {
                            $(".edit").show();
                        }
                        else {
                            $(".edit").hide();
                        }

                    }
                },
                error: function () {
                    alert("Error occured!!")
                }
            });
        }
    });
</script>