@model RadhekunkInfra.Models.Master

@{
    ViewBag.Title = "RankMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("RankMaster", "Master", FormMethod.Post, new { @id = "form1",}))
{


    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item">Designation Master</li>
        </ul>
    </section>


    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Designation Master</h4>

                    <p style="color: red">
                        @TempData["Rank"]
                    </p>
                </div>
                <div class="card-body">
                    <div class="row " id="divsave">
                        <div class="input-field col m6 s12">
                            <div class="row ">
                                <div class="input-field col m6 s12">
                                    Designation Name<span style="color:red">*</span>
                                    @Html.TextBoxFor(m => m.DesignationName, new { @class = "form-control", @Placeholder = "Rank Name" })
                                </div>

                                <div class="input-field col m6 s12">
                                    Percentage<span style="color:red">*</span>
                                    @Html.TextBoxFor(m => m.Percentage, new { @class = "form-control", @Placeholder = "Percentage", onkeypress = "return isNumberOrDecimal(event)" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="input-field col s12">
                            @if (Model.DesignationID == null)
                {
                                <input class="btn cyan waves-effect waves-light left btn-primary" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="btnSave" />
                            }
                            else
                            {
                                @Html.HiddenFor(m => m.DesignationID, new { @Value = @Model.DesignationID })
                                <input class="btn cyan waves-effect waves-light left btn-primary" type="submit" onclick="return validateform();" value="Update" id="btnUpdate" name="btnUpdate" />
                            }
                            <input type="hidden" id="UserType" value="@Session["UserType"]" />
                            <input type="hidden" id="UserTypeName" value="@Session["UserTypeName"]" />
                            <a class="btn btn-info" id="BtnList" href="/Master/RankList">Back To List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>

    $(document).ready(function () {
        var UserType = $('#UserType').val();
        var UserTypeName = $('#UserTypeName').val();
        if (UserType == 'Admin' && UserTypeName != 'Admin' && UserTypeName != "")
        {
            GetMenuDetails();
        }
      
    });
    function GetMenuDetails() {
        debugger
        var URL = "/Master/RankMaster";
        $.ajax({
            type: "POST",
            url: "/Master/GetMenuDetails",
            data: { URL: URL},
            dataType: "json",
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                //console.log(obj)
                for (var i = 0; i < obj.length; i++) {
                    if (obj[i].FormSave == true) {
                        $('#btnSave').show();
                        $('#divsave').show();
                        $("#btnSave").removeAttr('disabled');
                    }
                    else {
                        $('#btnSave').hide();
                      
                        $("#btnSave").attr('disabled', 'disabled');
                    }
                    if (obj[i].FormUpdate ==true && $('#DesignationID').val() != "")
                    {
                        $('#btnUpdate').show();
                     
                        $("#btnUpdate").removeAttr('disabled');
                    }
                    else {
                        $('#btnUpdate').hide();
                       
                        $("#btnUpdate").attr('disabled', 'disabled');
                    }
                }
               },
            error: function () {
                alert("Error occured!!")
            }
        });
    }
    function validateform() {
        $("#divload").css({ 'display': 'none' });
        $(".errortext").removeClass("errortext");
        if ($('#DesignationName').val() == '') {
            $("#DesignationName").addClass('errortext');
            $('#DesignationName').focus();
            return false;
        }
        if ($('#Percentage').val() == '') {
            $("#Percentage").addClass('errortext');
            $('#Percentage').focus();
            return false;
        }

        return true;
    }
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>








