@model RadhekunkInfra.Models.Master

@{
    ViewBag.Title = "SectorMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SectorMaster", "Master", FormMethod.Post, new { @id = "form1" }))
{

    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item">Sector Master</li>
        </ul>
    </section>


    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Sector Master</h4>

                    <p style="color: red">
                        @TempData["SectorMaster"]
                    </p>
                </div>
                <div class="card-body">
                    <div class="row ">
                        <div class="input-field col m6 s12">
                            Project Name<span style="color:red">*</span>
                            @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control" })
                        </div>

                        <div class="input-field col m6 s12">
                            Sector Name<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.SectorName, new { @class = "form-control", @Placeholder = "Sector Name" })
                        </div>

                    </div>

                    <br />
                    <div class="form-group row">

                        <div class="input-field col m6 s12">
                            @if (Model.SectorID == null)
                {
                                <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="btnSave" />
                            }
                            else
                            {
                                @Html.HiddenFor(m => m.SectorID, new { @Value = @Model.SectorID })
                                <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Update" id="btnUpdate" name="btnUpdate" />
                            }
                            <input type="hidden" id="UserType" value="@Session["UserType"]" />
                            <input type="hidden" id="UserTypeName" value="@Session["UserTypeName"]" />
                            <a class="btn btn-info" href="/Master/SectorList" style="margin-left:5px">Back To List</a>
                        </div>


                    </div>



                </div>

            </div>
        </div>
    </div>

}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    $(document).ready(function () {
        var UserType = $('#UserType').val();
        var UserTypeName = $('#UserTypeName').val();
        if (UserType == 'Admin' && UserTypeName != 'Admin' && UserTypeName != "") {
            GetMenuDetails();
        }

    });
    function GetMenuDetails() {
        debugger
        var URL = "/Master/SectorMaster";
        $.ajax({
            type: "POST",
            url: "/Master/GetMenuDetails",
            data: { URL: URL },
            dataType: "json",
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                console.log(obj)
                for (var i = 0; i < obj.length; i++) {
                    if (obj[i].FormSave == true) {
                        $('#btnSave').show();

                        $("#btnSave").removeAttr('disabled');
                    }
                    else {
                        $('#btnSave').hide();

                        $("#btnSave").attr('disabled', 'disabled');
                    }
                    debugger
                    if (obj[i].FormUpdate == true && $('#SectorID').val() != "") {
                        $('#btnUpdate').show();

                        $("#btnUpdate").removeAttr('disabled');
                    }
                    else {
                        $('#btnUpdate').hide();
                        $("#btnUpdate").attr('disabled', 'disabled');
                    }
                }
            },
            error: function () {
                alert("Error occured!!")
            }
        });
    }
    function validateform() {
        $("#divload").css({ 'display': '' });
        $(".errortext").removeClass("errortext");
        if ($('#SiteID').val() == '0') {
            $("#SiteID").addClass('errortext');
            $('#SiteID').focus();
            return false;
        }
        if ($('#SectorName').val() == '') {
            $("#SectorName").addClass('errortext');
            $('#SectorName').focus();
            return false;
        }


        return true;
    }

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }

</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
