@model RadhekunkInfra.Models.Master

@{
    ViewBag.Title = "SiteMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("SiteMaster", "Master", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-item">Project</li>
        </ul>
    </section>


    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Project</h4>

                    <p style="color: red">
                        @TempData["SiteMaster"]
                    </p>
                </div>
                <div class="card-body">
                    <div id="divsave">
                        <div class="row ">
                            <div class="input-field col m6 s12">
                                Project Name<span style="color:red">*</span>
                                @Html.TextBoxFor(m => m.SiteName, new { @class = "form-control", @Placeholder = "Site Name" })
                            </div>

                            <div class="input-field col m6 s12">
                                Project Type<span style="color:red">*</span>
                                @Html.DropDownListFor(m => m.SiteTypeID, new SelectList(ViewBag.ddlSiteType, "Value", "Text"), new { @class = "form-control" })
                            </div>
                            <div class="input-field col m6 s12">
                                Rate<span style="color:red">*</span>
                                @Html.TextBoxFor(m => m.Rate, new { @class = "form-control", @Placeholder = "Rate", @onkeypress = "return isNumberOrDecimal(event);" })
                            </div>
                            <div class="input-field col m6 s12">
                                Unit<span style="color:red">*</span>
                                @Html.DropDownListFor(m => m.UnitID, new SelectList(ViewBag.ddlUnit, "Value", "Text"), new { @class = "form-control" })
                            </div>
                            <div class="input-field col m6 s12">
                                Location<span style="color:red">*</span>
                                @Html.TextAreaFor(m => m.Location, new { @class = "form-control", @Placeholder = "Location" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-md" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>S No.</th>
                                                <th>PLC Name</th>
                                                <th>Charges(%)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.lstPLC != null)
                                                {
                                                    int i = 1;
                                                    foreach (var Item in Model.lstPLC)
                                                    {
                                                        <tr class="text-left">
                                                            <td>@i</td>
                                                            <td>@Item.PLCName</td>
                                                            <td>
                                                                <input type="text" id="txtCharge_ @i" name="txtCharge_ @i" value="@Item.PLCCharge" onkeypress="return isNumberOrDecimal(event);" maxlength="12" />%
                                                                <input type="hidden" id="hdPLCID_ @i" name="hdPLCID_ @i" value="@Item.PLCID" />
                                                                @*@Html.TextBoxFor(m => m.PLCCharge, new { @class = "form-control", @Placeholder = "Charge", @onkeypress="return isNumberOrDecimal(event);" })*@
                                                            </td>
                                                        </tr>
                                                        i++;
                                                    }
                                                    <input type="hidden" id="hdRows" name="hdRows" value="@i" />
                                                }
                                            }

                                        </tbody>

                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="input-field col row-cols-lg-3">
                                Development Charge<span style="color:red">*</span>
                                @Html.TextBoxFor(m => m.DevelopmentCharge, new { @class = "form-control", @Placeholder = "Development Charge", @onkeypress = "return isNumberOrDecimal(event);" })
                                <span class="form-bar"></span>
                            </div>

                        </div>
                    </div>
                    <br />
                    <div class="form-group row">

                        <div class="input-field col m6 s12">
                            @if (Model.SiteID == null)
                {
                                <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="btnSave" />
                            }
                            else
                            {
                                @Html.HiddenFor(m => m.SiteID, new { @Value = @Model.SiteID })
                                <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Update" id="btnUpdate" name="btnUpdate" />
                            }
                            <a class="btn btn-info" href="/Master/SiteList" style="margin-left:5px">Back To List</a>
                        </div>
                        <input type="hidden" id="UserType" value="@Session["UserType"]" />
                        <input type="hidden" id="UserTypeName" value="@Session["UserTypeName"]" />

                    </div>

                </div>
            </div>
        </div>
    </div>


}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    $(document).ready(function () {
        var UserType = $('#UserType').val();
        var UserTypeName = $('#UserTypeName').val();
        if (UserType == 'Admin' && UserTypeName != 'Admin' && UserTypeName != "") {
            GetMenuDetails();
        }

    });
    function GetMenuDetails() {
        debugger
        var URL = "/Master/SiteMaster";
        $.ajax({
            type: "POST",
            url: "/Master/GetMenuDetails",
            data: { URL: URL },
            dataType: "json",
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                console.log(obj)
                for (var i = 0; i < obj.length; i++) {
                    if (obj[i].FormSave == true) {
                        $('#btnSave').show();

                        $("#btnSave").removeAttr('disabled');
                    }
                    else {
                        $('#btnSave').hide();

                        $("#btnSave").attr('disabled', 'disabled');
                    }
                    debugger
                    if (obj[i].FormUpdate == true && $('#SiteID').val() != "") {
                        $('#btnUpdate').show();

                        $("#btnUpdate").removeAttr('disabled');
                    }
                    else {
                        $('#btnUpdate').hide();
                        $("#btnUpdate").attr('disabled', 'disabled');
                    }
                }
            },
            error: function () {
                alert("Error occured!!")
            }
        });
    }
    function validateform() {
        $("#divload").css({ 'display': '' });
        $(".errortext").removeClass("errortext");
        if ($('#SiteName').val() == '') {
            $("#SiteName").addClass('errortext');
            $('#SiteName').focus();
            return false;
        }
        if ($('#SiteTypeID').val() == '0') {
            $("#SiteTypeID").addClass('errortext');
            $('#SiteTypeID').focus();
            return false;
        }
        if ($('#Location').val() == '') {
            $("#Location").addClass('errortext');
            $('#Location').focus();
            return false;
        }
        if ($('#Rate').val() == '') {
            $("#Rate").addClass('errortext');
            $('#Rate').focus();
            return false;
        }
        if ($('#UnitID').val() == '0') {
            $("#UnitID").addClass('errortext');
            $('#UnitID').focus();
            return false;
        }
        if ($('#DevelopmentCharge').val() == '') {
            $("#DevelopmentCharge").addClass('errortext');
            $('#DevelopmentCharge').focus();
            return false;
        }


        return true;
    }

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }

</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

