@model RadhekunkInfra.Models.Customer

@{
    ViewBag.Title = "CustomerRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("CustomerRegistration", "Customer", FormMethod.Post, new { @id = "form1" }))
{ 
    <div id="divload" class="loader"></div>
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Customer</li>
            <li class="breadcrumb-item">Customer Registration</li>
        </ul>
    </section>


    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Customer Registration</h4>
                    <p style="color: red">
                        @TempData["Registration"]
                        @TempData["AssociateDetails"]
                    </p>
                </div>
                <div class="card-body">
                    <div class="row ">
                        <div class="input-field col m6 s12" style="display:none">
                            Branch<span style="color:red">*</span>
                            @Html.DropDownListFor(m => m.BranchID, new SelectList(ViewBag.ddlBranch, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col m6 s12">
                            Associate Code<span style="color:red">*</span>
                            @if (Model.UserID == null)
                            {
                                @Html.TextBoxFor(m => m.SponsorID, new { @class = "form-control", @Placeholder = "Associate ID", @onchange = "return getSponsorName();" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.SponsorID, new { @class = "form-control", @Placeholder = "Sponsor ID", @readonly = "readonly" })
                            }
                            @Html.HiddenFor(m => m.UserID)
                        </div>
                        <div class="input-field col m6 s12">
                            Associate Name<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.SponsorName, new { @class = "form-control", @Placeholder = "Sponsor Name", @readonly = "readonly" })
                        </div>
                        <div class="input-field col m6 s12">
                                <img src="" style="margin-left: 37%;width: 86px;" id="AssociateImage" class="rounded-circle author-box-picture" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12">
                            First Name<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @Placeholder = "First Name" })
                        </div>
                        <div class="input-field col m3 s12">
                            Last Name
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @Placeholder = "Last Name" })
                        </div>

                        <div class="input-field col m3 s12">
                            Father Name
                            @Html.TextBoxFor(m => m.FatherName, new { @class = "form-control", @Placeholder = "Father Name", })
                        </div>

                        
                    </div>
                    
                    <div class="row">
                        <div class="input-field col m3 s12">
                            Email
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @Placeholder = "Email" })
                        </div>
                        <div class="input-field col m3 s12">
                            Mobile<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.Contact, new { @class = "form-control", @Placeholder = "Mobile Number", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "10" })
                        </div>
                        <div class="input-field  col m3 s12">
                            Pan No.
                            @Html.TextBoxFor(m => m.PanNo, new { @class = "form-control", @Placeholder = "PAN Number", @maxlength = "10", @onchange = "return validatePan();" })
                        </div>
                        </div>
                        <div class="row">
                            <div class="input-field col m3 s12">
                                Pin Code<span style="color:red">*</span>
                                @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control", @Placeholder = "Pincode", @onchange = "return getStateCity();", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "6" })

                            </div>
                            <div class="input-field col m3 s12">
                                State
                                @Html.TextBoxFor(m => m.State, new { @class = "form-control", @Placeholder = "State", @readonly = "readonly" })

                            </div>
                            <div class="input-field col m3 s12">
                                City
                                @Html.TextBoxFor(m => m.City, new { @class = "form-control", @Placeholder = "City", @readonly = "readonly" })

                            </div>

                        </div>

                        <div class="row">
                            <div class="input-field col-md-12">
                                Address
                                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @Placeholder = "Address" })

                            </div>
                        </div>
                    <div class="row">
                        <div class="input-field col s2 s12">
                            Nominee Name
                            @Html.TextBoxFor(m => m.Nomani, new { @class = "form-control", @Placeholder = "Nominee Name", })
                        </div>
                        <div class="input-field col s2 s12">
                            Nominee Age
                            @Html.TextBoxFor(m => m.NomineeAge, new { @class = "form-control", @Placeholder = "Nominee Age", @onkeypress = "return isNumberOrDecimal(event);" })
                        </div>
                        <div class="input-field col s2 s12">
                            Nominee Relation
                            @Html.TextBoxFor(m => m.NomineeRelation, new { @class = "form-control", @Placeholder = "Nominee Relation", })
                        </div>
                    </div>
                        <br />

                        <div class="form-group row">
                            <div class="input-field col m6 s12">
                                @if (Model.UserID == null)
                                {
                                    <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="btnRegistration" />
                                }
                                else
                                {
                                    @Html.HiddenFor(m => m.UserID, new { @Value = @Model.UserID })
                                    <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Update" id="btnUpdate" name="btnUpdate" />
                                }
                                <a class="btn btn-info" href="/Customer/CustomerList" style="margin-left:5px">Back To List</a>
                            </div>


                        </div>



                    </div>
            </div>
        </div>
    </div>


}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
        var cityuse = [];
        $("#loader").css({ 'display': '' });
        $.ajax({
            url: '/Plot/GetUserList',
            type: 'Post',
            success: function (response) {
                if (response != null) {
                    $(response).each(function (index, item) {
                        cityuse.push(item.UserName + "(" + item.LoginIDD + ")");
                    });
                    debugger
                    $('#SponsorID').autocomplete({
                        source: cityuse,
                        select: function (event, ui) {
                            var str = ui.item.label;
                            var strsplit = str.split("(");
                            $('#UserID').val(strsplit[1].substr(0, strsplit[1].length - 1));
                        }
                    })
                }
            }, error: function () {
                alert('Some Thing wrong!');
                $("#loader").css({ 'display': 'none' });
            }
        });
    });

    function validatePan() {
        var panVal = $('#PanNo').val();
        var regpan = /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/;

        if (regpan.test(panVal)) {
            $("#PanNo").removeClass('errortext');
        } else {
            alert("Invalid PAN Number");
            $("#PanNo").val('');
            $("#PanNo").addClass('errortext');
        }
    }

    function getStateCity() {

        var pincode = $('#Pincode').val();
        $.ajax({
            url: '/Master/GetStateCity', type: 'post', dataType: 'json',
            data: { 'Pincode': pincode },
            success: function (data) {
                if (data.Result == "yes") {
                    $("#State").val(data.State);
                    $("#City").val(data.City);
                    $("#State").removeClass('errortext');
                    $("#City").removeClass('errortext');
                    $("#Pincode").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    alert("Invalid Pincode");
                    $("#State").val('');
                    $("#City").val('');
                    $("#State").addClass('errortext');
                    $("#City").addClass('errortext');
                    $("#Pincode").addClass('errortext');
                    $('#Pincode').focus();
                    $('#Pincode').val('');

                }
            }

        });
    }

    function getSponsorName() {
        $("#divload").css({ 'display': '' });
        var sponsorID = $('#UserID').val();
        $.ajax({
            url: '/Customer/GetSponsorName', type: 'post', dataType: 'json',
            data: { 'SponsorID': sponsorID },
            success: function (data) {

                $("#divload").css({ 'display': 'none' });
                if (data.Result == "yes") {
                    $("#SponsorName").val(data.SponsorName);
                    //$("#AssociateImage").src(data.AssociateImage);
                    //document.querySelector('.rounded-circle author-box-picture').setAttribute('src', data.AssociateImage);
                    document.getElementById('AssociateImage').src =data.AssociateImage;
                    $("#UserID").val(data.UserID);
                    $("#SponsorName").removeClass('errortext');
                    $("#SponsorID").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    alert("Invalid Sponsor ID");
                    $("#SponsorName").val('');
                    document.getElementById('AssociateImage').src = '';
                 
                    $("#SponsorName").addClass('errortext');
                    $("#SponsorID").addClass('errortext');
                    $('#SponsorID').focus();
                    $('#SponsorID').val('');

                }
            }
        });
    }

    function validateform() {
        $("#divload").css({ 'display': 'none' });
        $(".errortext").removeClass("errortext");
        if ($('#BranchID').val() == '0') {
            $("#BranchID").addClass('errortext');
            $('#BranchID').focus();
            return false;
        }
        if ($('#SponsorID').val() == '') {
            $("#SponsorID").addClass('errortext');
            $('#SponsorID').focus();
            return false;
        }
        if ($('#FirstName').val() == '') {
            $("#FirstName").addClass('errortext');
            $('#FirstName').focus();
            return false;
        }
        if ($('#Contact').val() == '') {
            $("#Contact").addClass('errortext');
            $('#Contact').focus();
            return false;
        }
        //if ($('#PanNo').val() == '') {
        //    $("#PanNo").addClass('errortext');
        //    $('#PanNo').focus();
        //    return false;
        //}
        if ($('#Pincode').val() == '') {
            $("#Pincode").addClass('errortext');
            $('#Pincode').focus();
            return false;
        }
        $("#divload").css({ 'display': '' });
        return true;
    }

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }

</script>

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
