@model RadhekunkInfra.Models.Plot

@{
    ViewBag.Title = "HoldPlot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("HoldPlot", "Plot", FormMethod.Post, new { @id = "form1" }))
{
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Plot</li>
            <li class="breadcrumb-item">Hold Plot</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Hold Plot</h4>
                    <p style="color: red">
                        @TempData["Plot"]
                    </p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="input-field col m4 s12">
                            <div class="form-group">
                                Select Site <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                            </div>
                        </div>
                        <div class="input-field col m4 s12">
                            <div class="form-group">
                                Select Phase <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @onchange = "return onSectorChange();" })
                            </div>
                        </div>
                        <div class="input-field col m4 s12">
                            <div class="form-group">
                                Select Block <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m4 s12">
                            <div class="form-group">
                                Plot Number <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @Placeholder = "Plot Number", @onchange = "return CheckPlotStatus();", @style = "text-transform:uppercase" })
                                @Html.HiddenFor(m => m.PlotID)
                            </div>
                        </div>
                        <div class="input-field col m4 s12">
                            <div class="form-group">
                                Hold From Date <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.HoldFrom, new { @class = "form-control", @Placeholder = "Select Hold From Date", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="input-field col m4 s12">
                            <div class="form-group">
                                Hold To Date<span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.HoldTo, new { @class = "form-control", @Placeholder = "Select Hold To Date", @readonly = "readonly", @onchange = "return  CheckDate() ;" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m4 s12">
                            <div class="form-group">
                                Name <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Placeholder = "Name" })

                            </div>
                        </div>
                        <div class="input-field col m4 s12">
                            <div class="form-group">
                                Mobile <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @Placeholder = "Mobile", onkeypress = "return isNumberOrDecimal(event);", @maxlength = "10" })

                            </div>
                        </div>
                        <div class="input-field col m4 s12">
                            <div class="form-group">
                                Remark
                                @Html.TextAreaFor(m => m.Remark, new { @class = "form-control", @Placeholder = "Remark" })

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m4 s12">
                            <div class="form-group">
                                Amount
                                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @Placeholder = "Amount" })
                            </div>
                        </div>
                        <div class="input-field col m4 s12">
                            <div class="form-group">
                                @if (Model.PK_PlotHoldID == null)
                                {
                                    <input class="btn btn-success pull-right" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="Save" />
                                }
                                else
                                {
                                    @Html.HiddenFor(m => m.PK_PlotHoldID, new { @Value = @Model.PK_PlotHoldID })
                                    <input class="btn btn-success pull-right" type="submit" value="Update" id="btnUpdate" name="Update" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    function validateform() {
        //$("#divload").css({ 'display': '' });
        $(".errortext").removeClass("errortext");
        if ($('#SiteID').val() == '0') {
            $("#SiteID").addClass('errortext');
            $('#SiteID').focus();
            return false;
        }

        if ($('#SectorID').val() == '0') {
            $("#SectorID").addClass('errortext');
            $('#SectorID').focus();
            return false;
        }
        if ($('#BlockID').val() == '0') {
            $("#BlockID").addClass('errortext');
            $('#BlockID').focus();
            return false;
        }
        if ($('#PlotNumber').val() == '') {
            $("#PlotNumber").addClass('errortext');
            $('#PlotNumber').focus();
            return false;
        }
        if ($('#HoldFrom').val() == '') {
            $("#HoldFrom").addClass('errortext');
            $('#HoldFrom').focus();
            return false;
        }

        if ($('#HoldTo').val() == '') {
            $("#HoldTo").addClass('errortext');
            $('#HoldTo').focus();
            return false;
        }
        if ($('#Name').val() == '') {
            $("#Name").addClass('errortext');
            $('#Name').focus();
            return false;
        }

        if ($('#Mobile').val() == '') {
            $("#Mobile").addClass('errortext');
            $('#Mobile').focus();
            return false;
        }

        //if ($('#Amount').val() == '') {
        //    $("#Amount").addClass('errortext');
        //    $('#Amount').focus();
        //    return false;
        //}

        return true;
    }

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }

    function onSiteChange() {
        $("#divload").css({ 'display': '' });
        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/Master/GetSiteDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                var j = 1;
                if (data.Result == "yes") {
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Phase'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));

                    });
                    $("#SectorID").formSelect();
                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }


            }

        });

    }

    function onSectorChange() {
        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/Master/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });
                $("#BlockID").formSelect();
            }

        });
    }

    function CheckPlotStatus() {
        $("#divload").css({ 'display': '' });
        debugger
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        var block = $('#BlockID').val();
        var plotno = $('#PlotNumber').val();
        $.ajax({
            url: '/Plot/CheckPlot', type: 'get', dataType: 'json',
            data: { 'SiteID': siteID, 'SectorID': sectorID, 'BlockID': block, 'PlotNumber': plotno },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                if (data.Result == "yes") {

                    $("#PlotID").val(data.PlotID);
                    $("#PlotAmount").val(data.PlotAmount);
                    $("#ActualPlotRate").val(data.ActualPlotRate);
                    $("#BookingAmount").val(data.BookingAmount);
                    $("#TotalPLC").val(data.TotalPLC);
                }
                else {
                    alert('Plot not available .');
                    $("#PlotNumber").val('');
                    $("#PlotAmount").val('');
                    $("#ActualPlotRate").val('');
                    $("#BookingAmount").val('');
                    $("#TotalPLC").val('');

                }
            }

        });

    }

    function CheckDate() {
        debugger
        var startDate = new Date($('#HoldFrom').val());
        var endDate = new Date($('#HoldTo').val());

        if (startDate > endDate) {
            alert("Hold To Date should be greater than Hold From Date");
            $('#HoldTo').val('');
        }

    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

<script>

    $('#HoldFrom').datepicker({
        format: 'dd/mm/yyyy',
        changeYear: true,
        changeMonth: true
    });
    $('#HoldTo').datepicker({
        format: 'dd/mm/yyyy',
        changeYear: true,
        changeMonth: true
    });


</script>




