@model RadhekunkInfra.Models.Plot

@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #divload {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url("../../images/login-gif-11.gif") no-repeat center center rgba(0,0,0,0.25);
    }
    .errortext {
        border: 1px solid red !important;
    }
</style>
<div class="loader" id="divload"></div>
@using (Html.BeginForm("Payment", "Plot", FormMethod.Post, new { @id = "form1" }))
{
 <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Payment Approval</li>
            <li class="breadcrumb-item">Aprprove Payment Detail</li>
        </ul>
    </section>


    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Aprprove Payment Detail</h4>

                    <p style="color: red" id="Plot">
                        @TempData["Plot"]
                    </p>
                </div>
                <div class="card-body">


                    <div class="row">
                        <div class="input-field col m3 s12">
                            <div class="form-group">
                                From Date
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "Search From Date", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="input-field col m3 s12">
                            <div class="form-group">
                                To Date
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "Search To Date", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="input-field col m3 s12">
                            <div class="form-group">
                                Payment Mode
                                @Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlPaymentMode, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="input-field col m3 s12">
                            <div class="form-group">
                                <br />
                                <input class="btn btn-success" type="submit" value="Search" id="btnSearch" name="Search" />
                            </div>
                        </div>
                    </div>
                    <div class="dt-responsive table-responsive">
                        <table class="table table-striped table-hover" data-page-length='50' id="tableExport" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Customer ID</th>
                                    <th>Associate ID</th>
                                    <th>Plot Details</th>
                                    <th>Mode</th>
                                    <th>Payment Date</th>
                                    <th>Transaction No.</th>
                                    <th>Bank Details</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Description</th>
                                    <th>Payment Clear Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstPlot != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstPlot)
                                        {

                                            <tr class="text-left">
                                                @*  <td hidden>@Item.UserID</td>*@
                                                <td>@i</td>
                                                <td>@Item.CustomerID (@Item.CustomerName)</td>
                                                <td>@Item.AssociateID (@Item.AssociateName)</td>
                                                <td>@Item.PlotInfo</td>
                                                <td>@Item.PaymentMode</td>
                                                <td>@Item.PaymentDate</td>
                                                <td>@Item.TransactionNumber</td>
                                                <td>@Item.Remark</td>
                                                <td>@Item.PaidAmount</td>
                                                <td>@Item.PaymentStatus</td>
                                                <td>
                                                    <textarea type="text" id="txtDesc @i" name="txtDesc @i" onchange="getdata(this)"></textarea>
                                                </td>
                                                <td>
                                                    <input type="text" readonly="readonly" class="date" id="txtAppDate @i" name="txtAppDate @i" onchange="getdata2(this)" />
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-success btn-sm" style="margin-top:5px" onclick="Approve('@i','@Item.UserID');">Cleared</a>
                                                    <a href="#" class="btn btn-warning btn-sm" style="margin-top:5px;margin-bottom:5px;" onclick="Bounce('@i','@Item.UserID');">Bounce</a>
                                                    <a href="#" class="btn btn-danger btn-sm" style="margin-top:5px;margin-bottom:5px;" onclick="Reject('@i','@Item.UserID');">Cancel</a>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

                    <input type="hidden" id="txtdecription" />
                    <input type="hidden" id="txtAppDt" />

}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });

    function Approve(id, userid) {
        debugger
        var r = confirm('Are you sure you want to approve this Payment ?');
        if (r == true) {
            $("#divload").css({ 'display': '' });
            var Description = $('#txtdecription').val();
            var Date = $('#txtAppDt').val();
            $.ajax({
                url: "/Plot/ApprovePayment",
                Type: "Get",
                DataType: "JSON",
                data: { UserID: userid, Description: $('#txtdecription').val(), ApprovedDate: $('#txtAppDt').val() },
                success: function (data) {
                    alert("Payment Approved successfully");
                    location.reload();
                    @*window.location.href = '@Url.Action("Payment", "Plot")';*@
                    $("#divload").css({ 'display': 'none' });
                }

            });
        }
    }

    function getdata(decription) {
        $('#txtdecription').val(decription.value);
    }
    function getdata2(date) {
        $('#txtAppDt').val(date.value);
    }


    function Bounce(id, userid) {
        var r = confirm('Are you sure you want to bounce this payment ?');
        if (r == true) {
            $("#divload").css({ 'display': '' });
            var Description = $('#txtdecription').val();
            var Date = $('#txtAppDt').val();
            $.ajax({
                url: "/Plot/BouncePayment",
                Type: "Get",
                DataType: "JSON",
                data: { UserID: userid, Description: $('#txtdecription').val(), ApprovedDate: $('#txtAppDt').val() },
                success: function (data) {
                    alert("payment status updated successfully !! ");
                    location.reload();
                    @*window.location.href = '@Url.Action("Payment", "Plot")';*@
                    $("#divload").css({ 'display': 'none' });
                }

            });
        }
    }
    function Reject(id, userid) {
        var r = confirm('Are you sure you want to reject this Payment ?');
        if (r == true) {
            $("#divload").css({ 'display': '' });
            var Description = $('#txtdecription').val();
            var Date = $('#txtAppDt').val();
            $.ajax({
                url: "/Plot/RejectPayment",
                Type: "Get",
                DataType: "JSON",
                data: { UserID: userid, Description: $('#txtdecription').val(), ApprovedDate: $('#txtAppDt').val() },
                success: function (data) {
                    alert("Payment rejected ");
                    location.reload();
                    @*window.location.href = '@Url.Action("Payment", "Plot")';*@
                    $("#divload").css({ 'display': 'none' });
                }

            });
        }
    }
</script>


<script>
    $('.date').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#txtAppDate').datepicker({
        dateFormat: 'dd/mm/yy',

    });
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '-3d'
    });
</script>
