@model RadhekunkInfra.Models.Plot

@{
    ViewBag.Title = "PlotAllotment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-group .control-label, .form-group > label {
        font-weight: 600;
        color: #34395e;
        font-size: 12px;
        letter-spacing: 0.5px;
    }
</style>
<div class="loader" id="divload"></div>
@using (Html.BeginForm("PlotAllotment", "Plot", FormMethod.Post, new { @id = "form1" }))
{



    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Plot</li>
            <li class="breadcrumb-item">Part Payment</li>
        </ul>
    </section>


    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Part Payment</h4>

                    <p style="color: red">
                        @TempData["Plot"]
                    </p>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                Select Site <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Select Phase <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @onchange = "return onSectorChange();" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Select Block <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Plot Number <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @Placeholder = "Plot Number" })
                                @Html.HiddenFor(m => m.PlotID)
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <h4 style="text-align:center">Or</h4>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                            <div class="form-group">
                                Booking Number
                                @Html.TextBoxFor(m => m.BookingNumber, new { @class = "form-control", @Placeholder = "Booking Number" })
                                @Html.HiddenFor(m => m.PK_BookingId)
                            </div>
                        </div>*@
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>
                                    Customer Name <span style="color: red">*</span>
                                </label>
                                @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @Placeholder = "Customer Name", @onchange = "return getBookingNo();" })
                                @Html.HiddenFor(m => m.UserID)
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label> Booking List</label>
                                <select class="form-control select2" style="width: 100%;height:30px" tabindex="-1" aria-hidden="true" id="ddlBooking" onchange="return getBookingNobyid(this)" name="BookingNumber"></select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <label>Booking Number <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.BookingNumber, new { @class = "form-control", @Placeholder = "Booking Number" })
                                @Html.HiddenFor(m => m.PK_BookingId)
                            </div>
                        </div>
                        <div class="col-12 col-md-3 col-lg-3">
                            <div class="form-group">
                                <input type="button" style="margin-top:31px;" name="SearchPlot" value="Search" id="btnSearchPlot" class="btn btn-success mr-1" onclick="return GetDetails(); " />

                            </div>
                        </div>
                    </div>

                    <div class="row" id="Details1" style="display: none;">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="card-header">
                                <h4>Plot Details</h4>
                            </div>
                            <div class="card-body">
                                <div class="row ">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Associate ID :</label>
                                            <label id="AssoID"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Associate Name :</label>
                                            <label id="AssoName"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Customer ID :</label>
                                            <label id="CustID"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Customer Name :</label>
                                            <label id="CustName"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Site Name :</label>
                                            <label id="SiteName"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Sector Name :</label>
                                            <label id="SectorName"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Block Name :</label>
                                            <label id="BlockName"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Plot Number :</label>
                                            <label id="NPlotNumber"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Plot Rate :</label>
                                            <label id="Plotrte"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Plot Area :</label>
                                            <label id="Plotarea"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Actual Plot Amount :</label>
                                            <label id="ActPlotAmt"></label>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Discount :</label>
                                            <label id="disct"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>PLC :</label>
                                            <label id="PLC"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Net Plot Amount :</label>
                                            <label id="NetPlotAmount"></label>
                                        </div>
                                        @*<div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Booking Amount :</label>
                                                    <label id="bookingAmt"></label>
                                                </div>
                                            </div>*@
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Booking Date :</label>
                                            <label id="Bookigdt"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Paid Amount:</label>
                                            <label id="Payamt"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Payment Date:</label>
                                            <label id="Paydt"></label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Payment Plan :</label>
                                            <label id="Payplan"></label>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Balance Amount:</label>
                                            <label id="remamt"></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    @*<div class="col-md-3">
                                            <div class="form-group">
                                                <label><b>Total Allotment Amount:</b></label>
                                                <label id="totAlotamt"></label>
                                            </div>
                                        </div>*@
                                    @*<div class="col-md-3">
                                            <div class="form-group">
                                                <label>Paid Allotment Amount:</label>
                                                <label id="paidaltamt"></label>
                                            </div>
                                        </div>*@
                                    @*<div class="col-md-3">
                                            <div class="form-group">
                                                <label>Balance Allotment Amount :</label>
                                                <label id="balalotamt"></label>
                                            </div>
                                        </div>*@

                                </div>
                                @*<div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label><b>Net Plot Amount:</b></label>
                                                <label id="netPlotAmt"></label>
                                            </div>
                                        </div>



                                    </div>*@
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            Pay Amount<span style="color: red">*</span>
                                            @Html.TextBoxFor(m => m.PaidAmount, new { @class = "form-control", @Placeholder = "Pay Amount", @type = "number" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            Payment Date<span style="color: red">*</span>
                                     @Html.TextBoxFor(m => m.PaymentDate, new { @class = "form-control", @Placeholder = "PaymentDate", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            Payment Mode <span style="color: red">*</span>
                                            @Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlPaymentMode, "Value", "Text"), new { @class = "form-control", @onchange = "return CheckPayMode()" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            Bank <span style="color: red">*</span>
                                            @Html.DropDownListFor(m => m.Fk_BankId, new SelectList(ViewBag.ddlTransactionType, "Value", "Text"), new { @class = "TransactionID form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3" id="divtransactiono" style="display: none">
                                        <div class="form-group">
                                            <span id="txnNo"></span> <span id="spntrannumber" style="color: red">*</span>
                                            @Html.TextBoxFor(m => m.TransactionNumber, new { @class = "form-control", @Placeholder = "Mobile Number", @maxlength = "50" })
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="divPaymentMode" style="display: none">
                                        <div class="form-group">
                                            <span id="txndt"></span><span id="spntradate" style="color: red">*</span>
                                            @Html.TextBoxFor(m => m.TransactionDate, new { @class = "form-control", @Placeholder = "Date", @Readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="divbankname" style="display: none">
                                        <div class="form-group">
                                            Bank Name <span id="spnbankname" style="color: red">*</span>
                                            @Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @maxlength = "100", @Placeholder = "Bank Name" })
                                        </div>
                                    </div>
                                    <div class="col-md-3" id="divbankbranch" style="display: none">
                                        <div class="form-group">
                                            Bank Branch <span id="spnbankbranch" style="color: red">*</span>
                                            @Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control", @maxlength = "100", @Placeholder = "Bank Branch" })
                                        </div>
                                    </div>
                                  
                                </div>
                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            Remark
                                            @Html.TextAreaFor(m => m.Remark, new { @class = "form-control", @Placeholder = "Remark" })
                                        </div>
                                    </div>
                                  
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <br />
                                            <input type="submit" name="Save" value="Save" id="btnSave" class="btn btn-success" onclick="return validateform();" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="UserType" value="@Session["UserType"]" />
                    <input type="hidden" id="UserTypeName" value="@Session["UserTypeName"]" />
                </div>
            </div>
        </div>
    </div>


}


<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $('#TransactionDate').datepicker({
            dateFormat: 'dd/mm/yy',
            //maxDate: 0,
            changeYear: true,
            changeMonth: true
        });
        $('#PaymentDate').datepicker({
            dateFormat: 'dd/mm/yy',
            changeYear: true,
            changeMonth: true,
            maxDate: 0
        });
        $("#divload").css({ 'display': 'none' });      
        var UserType = $('#UserType').val();
        var UserTypeName = $('#UserTypeName').val();
        if (UserType == 'Admin' && UserTypeName != 'Admin' && UserTypeName != "") {
            GetMenuDetails();
        }
        $("input").attr("autocomplete", "off");

        var cityuse = [];
        $("#loader").css({ 'display': '' });
        $.ajax({
            url: '/Plot/CustomerListForAutoSearch',
            type: 'Post',
            success: function (response) {
                if (response != null) {
                    $(response).each(function (index, item) {
                        cityuse.push(item.UserName + "(" + item.LoginIDD + ")");
                    });
                    debugger
                    $('#CustomerName').autocomplete({
                        source: cityuse,
                        select: function (event, ui) {
                            var str = ui.item.label;
                            var strsplit = str.split("(");

                            $('#UserID').val(strsplit[1].substr(0, strsplit[1].length - 1));
                        }
                    })
                }
            }, error: function () {
                alert('Some Thing wrong!');
                $("#loader").css({ 'display': 'none' });
            }
        });
    });
    function getBookingNo() {
        debugger;
        $("#BookingNumber").val('');
        var CustomerName = $('#UserID').val();
        $.ajax({
            url: '/AdminReports/GetBookingNoByName', type: 'post', dataType: 'json',
            data: { 'CustomerName': CustomerName },
            success: function (data) {
                $('#ddlBooking').empty();
                $("#ddlBooking").append(
                       $('<option></option>').val(0).html('-Choose-'));
                if (data.lstPlot != null) {
                    if (data.lstPlot.length > 0) {
                        $.each(data.lstPlot, function (index, Count) {
                            debugger;
                            $("#ddlBooking").append(
                                  $('<option></option>').val(Count.BookingNumber).html(Count.BookingNumber));
                        });
                    }
                }
                else {
                    alert("This customer has not booked any plot !!");
                    $("#CustomerName").val('');
                }
            }
        });
    }
    function getBookingNobyid(selectObject) {
        debugger
        var value = selectObject.value;
        console.log(value);
        if (value == 0) {
            $("#BookingNumber").val('');
        }
        else {
            $("#BookingNumber").val(value);
        }

    }
    function GetMenuDetails() {
        debugger
        var URL = "/Plot/PlotAllotment";
        $.ajax({
            type: "POST",
            url: "/Master/GetMenuDetails",
            data: { URL: URL },
            dataType: "json",
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                console.log(obj)
                for (var i = 0; i < obj.length; i++) {
                    if (obj[i].FormSave == true) {
                        $('#btnSave').show();

                        $("#btnSave").removeAttr('disabled');
                    }
                    else {
                        $('#btnSave').hide();

                        $("#btnSave").attr('disabled', 'disabled');
                    }
                    debugger
                    //if (obj[i].FormUpdate == true && $('#PK_BookingId').val() != "") {
                    //    $('#btnUpdate').show();

                    //    $("#btnUpdate").removeAttr('disabled');
                    //}
                    //else {
                    //    $('#btnUpdate').hide();
                    //    $("#btnUpdate").attr('disabled', 'disabled');
                    //}
                }


            },
            error: function () {
                alert("Error occured!!")
            }
        });
    }

    function getStateCity() {

        var pincode = $('#Pincode').val();
        $.ajax({
            url: '/Master/GetStateCity', type: 'post', dataType: 'json',
            data: { 'Pincode': pincode },
            success: function (data) {
                if (data.Result == "yes") {
                    $("#State").val(data.State);
                    $("#City").val(data.City);
                    $("#State").removeClass('errortext');
                    $("#City").removeClass('errortext');
                    $("#Pincode").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    $("#State").val('');
                    $("#City").val('');
                    $("#State").addClass('errortext');
                    $("#City").addClass('errortext');
                    $("#Pincode").addClass('errortext');
                    $('#Pincode').focus();
                }
            }

        });
    }

    function validateform() {
        $("#divload").css({ 'display': '' });
        $(".errortext").removeClass("errortext");
        if ($('#PaidAmount').val() == '') {
            $("#PaidAmount").addClass('errortext');
            $('#PaidAmount').focus();
            return false;
        }
        if ($('#PaymentDate').val() == '') {
            $("#PaymentDate").addClass('errortext');
            $('#PaymentDate').focus();
            return false;
        }
        if ($('#PaymentMode').val() == '0') {
            $("#PaymentMode").addClass('errortext');
            $('#PaymentMode').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

        if ($('#Fk_BankId').val() == '0') {
            $("#Fk_BankId").addClass('errortext');
            $('#Fk_BankId').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#PaymentMode').val() == '2') {
            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
            //else if ($('#PaymentMode').val() == '3') {
            //    if ($('#TransactionNumber').val() == '') {
            //        $("#TransactionNumber").addClass('errortext');
            //        $('#TransactionNumber').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#TransactionDate').val() == '') {
            //        $("#TransactionDate").addClass('errortext');
            //        $('#TransactionDate').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#BankName').val() == '') {
            //        $("#BankName").addClass('errortext');
            //        $('#BankName').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#BankBranch').val() == '') {
            //        $("#BankBranch").addClass('errortext');
            //        $('#BankBranch').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //}
        else if ($('#PaymentMode').val() == '4') {
            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
            //else if ($('#PaymentMode').val() == '5') {
            //    if ($('#TransactionNumber').val() == '') {
            //        $("#TransactionNumber").addClass('errortext');
            //        $('#TransactionNumber').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#TransactionDate').val() == '') {
            //        $("#TransactionDate").addClass('errortext');
            //        $('#TransactionDate').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#BankName').val() == '') {
            //        $("#BankName").addClass('errortext');
            //        $('#BankName').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#BankBranch').val() == '') {
            //        $("#BankBranch").addClass('errortext');
            //        $('#BankBranch').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //}
            //else if ($('#PaymentMode').val() == '6') {
            //    if ($('#TransactionNumber').val() == '') {
            //        $("#TransactionNumber").addClass('errortext');
            //        $('#TransactionNumber').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#TransactionDate').val() == '') {
            //        $("#TransactionDate").addClass('errortext');
            //        $('#TransactionDate').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#BankName').val() == '') {
            //        $("#BankName").addClass('errortext');
            //        $('#BankName').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#BankBranch').val() == '') {
            //        $("#BankBranch").addClass('errortext');
            //        $('#BankBranch').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //}
        else if ($('#PaymentMode').val() == '7') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }

        }
        else if ($('#PaymentMode').val() == '8') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#PaymentMode').val() == '9') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#PaymentMode').val() == '10') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            //if ($('#TransactionDate').val() == '') {
            //    $("#TransactionDate").addClass('errortext');
            //    $('#TransactionDate').focus();
            //    $("#divload").css({ 'display': 'none' });
            //    return false;
            //}
            //if ($('#BankName').val() == '') {
            //    $("#BankName").addClass('errortext');
            //    $('#BankName').focus();
            //    $("#divload").css({ 'display': 'none' });
            //    return false;
            //}
            //if ($('#BankBranch').val() == '') {
            //    $("#BankBranch").addClass('errortext');
            //    $('#BankBranch').focus();
            //    $("#divload").css({ 'display': 'none' });
            //    return false;
            //}
        }
        else if ($('#PaymentMode').val() == '11') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            //if ($('#BankName').val() == '') {
            //    $("#BankName").addClass('errortext');
            //    $('#BankName').focus();
            //    $("#divload").css({ 'display': 'none' });
            //    return false;
            //}
            //if ($('#BankBranch').val() == '') {
            //    $("#BankBranch").addClass('errortext');
            //    $('#BankBranch').focus();
            //    $("#divload").css({ 'display': 'none' });
            //    return false;
            //}
        }
        return true;
    }

    function isNumberOrDecimal(evt) {

        var input = 0 - Math.abs($('selector').val());
        $('input').change(function () {
            if ($(this).val() > 0) {
                $(this).val(0 - $(this).val());
            }
        });

        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }

    function onSiteChange() {
        $("#divload").css({ 'display': '' });
        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/Master/GetSiteDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                var j = 1;
                if (data.Result == "yes") {
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Phase'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));

                    });
                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }
            }

        });

    }

    function onSectorChange() {

        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/Master/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });

            }

        });
    }

    function GetDetails() {
        $("#divload").css({ 'display': '' });
        if ($('#PlotNumber').val() == '' && $('#BookingNumber').val() == '') {
            alert(" Please, either select Site ID,Phase ID,Block ID and fill Plot Number OR fill Booking Number");
            $("#divload").css({ 'display': 'none' });
        }
        else if ($('#BookingNumber').val() != '') {


            var siteID = $('#SiteID').val();
            var sectorID = $('#SectorID').val();
            var block = $('#BlockID').val();
            var plotno = $('#PlotNumber').val();
            var bookno = $('#BookingNumber').val();
            $.ajax({

                url: '/Plot/PlotBookingDetails', type: 'get', dataType: 'json',
                data: { 'SiteID': siteID, 'SectorID': sectorID, 'BlockID': block, 'PlotNumber': plotno, 'BookingNumber': bookno },
                success: function (data) {
 GetMenuDetails();
                    $("#divload").css({ 'display': 'none' });
                    if (data.Result == "yes") {



                        $("#Details1").show();

                        $("#AssoID").text(data.AssociateLoginID);
                        $("#AssoName").text(data.AssociateName);
                        $("#CustID").text(data.CustomerLoginID);
                        $("#CustName").text(data.CustomerName);
                        $("#PLC").text(data.PLC);
                        $("#ActPlotAmt").text(data.PlotAmount);
                        $("#NetPlotAmount").text(data.NetPlotAmount);
                        $("#ActPlotRate").text(data.ActualPlotRate);
                        $("#Plotrte").text(data.PlotRate);
                        $("#Bookigdt").text(data.BookingDate);
                        $("#bookingAmt").text(data.BookingAmount);
                        $("#Payamt").text(data.PaidAmount);
                        $("#Paydt").text(data.PaymentDate);
                        $("#disct").text(data.Discount);
                        $("#Payplan").text(data.PlanName);
                        $("#PK_BookingId").val(data.PK_BookingId);
                        //$("#Paydt").val(data.PaymentDate);
                        //$("#totAlotamt").text(data.TotalAllotmentAmount);
                        $("#paidaltamt").text(data.PaidAllotmentAmount);
                        $("#balalotamt").text(data.BalanceAllotmentAmount);
                        $("#Plotarea").text(data.PlotArea);
                        $("#bal").text(data.Balance);
                        $("#SiteName").text(data.SiteName);
                        $("#NPlotNumber").text(data.PlotNumber);
                        $("#SectorName").text(data.SectorName);
                        $("#BlockName").text(data.BlockName);
                        //$("#netPlotAmt").text(data.NetPlotAmount);
                        //var totalAmt = $('#ActPlotAmt').text();
                        //var paidAmt = $('#Payamt').text();
                        //var checkAmt = (Number)(totalAmt) - (Number)(paidAmt);
                        $("#remamt").text(data.Balance);

                        //$("#SiteID").val('');
                        //$("#SectorID").val('');
                        //$("#BlockID").val('');
                        //$("#PlotNumber").val('');

                    }
                    else {
                        alert(data.Result);
                        //    alert("Invalid Request")
                        $("#SiteID").val('0');
                        $("#SectorID").val('0');
                        $("#BlockID").val('0');
                        $("#PlotNumber").val('');
                    }

                }

            });
        }

        else if ($('#SiteID').val() != '0' && $('#SectorID').val() != '0' && $('#BlockID').val() != '0' && $('#PlotNumber').val() != '') {
            $("#divload").css({ 'display': 'none' });
            var siteID = $('#SiteID').val();
            var sectorID = $('#SectorID').val();
            var block = $('#BlockID').val();
            var plotno = $('#PlotNumber').val();
            var bookno = $('#BookingNumber').val();
            $.ajax({

                url: '/Plot/PlotBookingDetails', type: 'get', dataType: 'json',
                data: { 'SiteID': siteID, 'SectorID': sectorID, 'BlockID': block, 'PlotNumber': plotno, 'BookingNumber': bookno },
                success: function (data) {
                    $("#divload").css({ 'display': 'none' });
                    if (data.Result == "yes") {
                         GetMenuDetails();
                        var totalAmt = $('#ActPlotAmt').text();
                        var paidAmt = $('#Payamt').text();
                        var checkAmt = (Number)(totalAmt) - (Number)(paidAmt);

                        $("#Details1").show();

                        $("#AssoID").text(data.AssociateLoginID);
                        $("#AssoName").text(data.AssociateName);
                        $("#CustID").text(data.CustomerLoginID);
                        $("#CustName").text(data.CustomerName);
                        $("#PLC").text(data.PLC);
                        $("#NetPlotAmount").text(data.NetPlotAmount);
                        $("#ActPlotAmt").text(data.PlotAmount);
                        $("#ActPlotRate").text(data.ActualPlotRate);
                        $("#Plotrte").text(data.PlotRate);
                        $("#Bookigdt").text(data.BookingDate);
                        $("#bookingAmt").text(data.BookingAmount);
                        $("#Payamt").text(data.PaidAmount);
                        $("#Paydt").text(data.PaymentDate);
                        $("#disct").text(data.Discount);
                        $("#Payplan").text(data.PlanName);
                        $("#PK_BookingId").val(data.PK_BookingId);
                        //$("#PaymentDate").val(data.PaymentDate);
                        $("#totAlotamt").text(data.TotalAllotmentAmount);
                        $("#paidaltamt").text(data.PaidAllotmentAmount);
                        $("#balalotamt").text(data.BalanceAllotmentAmount);
                        $("#Plotarea").text(data.PlotArea);
                        $("#bal").text(data.Balance);
                        $("#netPlotAmt").text(data.NetPlotAmount);
                        $("#SiteName").text(data.SiteName);
                        $("#NPlotNumber").text(data.PlotNumber);
                        $("#SectorName").text(data.SectorName);
                        $("#BlockName").text(data.BlockName);
                        //var totalAmt = Number($('#ActPlotAmt').text()) - Number($('#disct').text()) ;
                        //var paidAmt = $('#Payamt').text();
                        //var checkAmt = (Number)(totalAmt) - (Number)(paidAmt);

                        $("#remamt").text(data.Balance);
                        //$("#SiteID").val('');
                        //$("#SectorID").val('');
                        //$("#BlockID").val('');
                        //$("#PlotNumber").val('');

                    }
                    else {
                        alert(data.Result);
                        // alert("Invalid Request")
                        $("#SiteID").val('0');
                        $("#SectorID").val('0');
                        $("#BlockID").val('0');
                        $("#PlotNumber").val('');

                    }

                }

            });
        }
    }

    function CheckPayMode() {
        if ($('#PaymentMode').val() == '2') {
            $('#txnNo').html('Cheque No.');
            $('#txndt').html('Cheque Date');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#spntrannumber").show();
            $("#spntradate").show();
            $("#spnbankname").show();
            $("#spnbankbranch").show();
            $("#TransactionNumber").attr("placeholder", "Cheque No.");
            $("#TransactionDate").attr("placeholder", "Cheque Date");
        }
        else if ($('#PaymentMode').val() == '3') {
            $('#txndt').html('NEFT Date');
            $('#txnNo').text('NEFT No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#spntrannumber").hide();
            $("#spntradate").hide();
            $("#spnbankname").hide();
            $("#spnbankbranch").hide();
            $("#TransactionNumber").attr("placeholder", "NEFT No.");
            $("#TransactionDate").attr("placeholder", "NEFT Date");
        }
        else if ($('#PaymentMode').val() == '4') {
            $('#txndt').html('DD Date');
            $('#txnNo').text('DD No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#spntrannumber").show();
            $("#spntradate").show();
            $("#spnbankname").show();
            $("#spnbankbranch").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#TransactionNumber").attr("placeholder", "DD No.");
            $("#TransactionDate").attr("placeholder", "DD Date");
        }
        else if ($('#PaymentMode').val() == '5') {
            $('#txndt').html('RTGS Date');
            $('#txnNo').text('RTGS No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#spntrannumber").hide();
            $("#spntradate").hide();
            $("#spnbankname").hide();
            $("#spnbankbranch").hide();
            $("#TransactionNumber").attr("placeholder", "RTGS No.");
            $("#TransactionDate").attr("placeholder", "RTGS Date");
        }
        else if ($('#PaymentMode').val() == '6') {
            $('#txndt').html('IMPS Date');
            $('#txnNo').text('IMPS No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#spntrannumber").hide();
            $("#spntradate").hide();
            $("#spnbankname").hide();
            $("#spnbankbranch").hide();
            $("#divbankbranch").show();
            $("#TransactionNumber").attr("placeholder", "IMPS No.");
            $("#TransactionDate").attr("placeholder", "IMPS Date");
        }
        else if ($('#PaymentMode').val() == '7') {

            $('#txnNo').text('Mobile No./UPI ID');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#spntrannumber").show();

            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No. / UPI ID");
        }
        else if ($('#PaymentMode').val() == '8') {

            $('#txnNo').text('Mobile No. / UPI ID');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#spntrannumber").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No. / UPI ID");
        }
        else if ($('#PaymentMode').val() == '9') {

            $('#txnNo').text('Mobile No. / UPI ID');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#spntrannumber").show();
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No. / UPI ID");
        }
        else if ($('#PaymentMode').val() == '10') {
            $("#spntrannumber").show();
            $('#txnNo').text('Mobile No. / UPI ID');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No. / UPI ID");
        }
        else if ($('#PaymentMode').val() == '11') {

            $('#txndt').html('Transaction Date');
            $('#txnNo').text('Reciept No.');
            $("#spntrannumber").show();
            $("#spntradate").show();
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#TransactionNumber").attr("placeholder", "Reciept No.");
            $("#TransactionDate").attr("placeholder", "Transaction Date");
        }
        else {
            $("#divPaymentMode").hide();
            $("#divtransactiono").hide();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
        }

    }

    function Validate() {
        $(".errortext").removeClass("errortext");

        if ($('#SiteID').val() == '0') {
            $("#SiteID").addClass('errortext');
            $('#SiteID').focus();
            return false;
        }
        if ($('#BookingNumber').val() == ' ') {
            $("#BookingNumber").addClass('errortext');
            $('#BookingNumber').focus();
            return false;
        }
        return true;
    }

    function validatePayAmount() {
        var totalAmt = $('#ActPlotAmt').text();
        var paidAmt = $('#Payamt').text();
        var checkAmt = (Number)(totalAmt) - (Number)(paidAmt);
        var payAmt = $('#PaidAmount').val();
        if (Number(payAmt) > Number(checkAmt)) {
            alert('Pay Amount cannot be greater than Remaining Amount.\nRemaining Amount is : Rs.' + checkAmt);
            $("#PaidAmount").val("");
            $("#PaidAmount").addClass('errortext');
            $('#PaidAmount').focus();
        }
        else {
            $("#PaidAmount").removeClass('errortext');
        }
    }
</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
@section script{
    @if (TempData["PartPaymentSucesssMessage"] != null && Session["PartPaymentId"] != null)
    {

        <script>
            swal({
                title: "Part Payment Done successfully !!",
                text: "If you want to print Click OK !!",
                icon: "success",
                buttons: true,
                buttons:["Cancel","Print"],
                dangerMode: false,
            }).then((willDelete) => {
                if (willDelete) {
                    var a = window.location.href;
                    id = "@Session["PartPaymentId"]";
                    window.open('/AdminReports/PrintAllotment' + '?PrintId=' + id + "");
                }
                else {

                }
            });
        </script>
    }
}

