@model RadhekunkInfra.Models.Plot

@{
    ViewBag.Title = "PlotHoldList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    #divload {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url("../files/assets/images/login-gif-11.gif") no-repeat center center rgba(0,0,0,0.25);
    }

    .errortext {
        border: 1px solid red !important;
    }
</style>
<div class="loader" id="divload"></div>
@using (Html.BeginForm("PlotHoldList", "Plot", FormMethod.Post, new { @id = "form1" }))
{    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Plot</li>
            <li class="breadcrumb-item">Plot Holding List</li>
        </ul>
    </section>


    <div class="section-body">

        <div class="card">
            <div class="card-header">
                <h4>Plot Holding List</h4>

                <p style="color: red">
                    @TempData["Plot"]
                </p>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- HTML5 Export Buttons table start -->
                  
                            <div class="card-block" style="margin-left:5px;margin-right:5px">
                                <div class="form-group row">
                                    <div class="input-field col m3 s12">
                                        Select Site
                                        @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                                    </div>
                                    <div class="input-field col m3 s12">
                                        Select Phase
                                        @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @onchange = "return onSectorChange();" })
                                    </div>
                                    <div class="input-field col m3 s12">
                                        Select Block
                                        @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })
                                    </div>
                                    <div class="input-field col m3 s12">
                                        Plot Number
                                        @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @Placeholder = "Search by Plot Number" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <br />
                                            <input class="btn btn-success" type="submit" value="Search" id="btnSearch" name="Search" />
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th hidden>PK_PlotHoldID</th>
                                                <th>S No.</th>
                                                <th>Plot No.</th>
                                                <th>Hold From </th>
                                                <th>Hold To</th>
                                                <th>Name</th>
                                                <th>Mobile</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                if (Model.lstPlot != null)
                                                {
                                                    int i = 1;
                                                    foreach (var Item in Model.lstPlot)
                                                    {
                                                        <tr class="text-left">
                                                            <td hidden>@Item.PK_PlotHoldID</td>
                                                            <td>@i</td>

                                                            <td>@Item.PlotNumber</td>
                                                            <td>@Item.HoldFrom</td>
                                                            <td>@Item.HoldTo</td>
                                                            <td>@Item.Name</td>
                                                            <td>@Item.Mobile</td>
                                                            <td>
                                                                <a href="/Plot/PrintPlotHold?id=@Item.EncryptKey" class="btn btn-success btn-sm" target="_blank">Print</a>
                                                                <a href="/Plot/DeletePlotHold?PK_PlotHoldID=@Item.PK_PlotHoldID" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this row?');">Delete</a>

                                                            </td>
                                                        </tr>
                                                        i++;
                                                    }
                                                }
                                            }

                                        </tbody>

                                    </table>
                                </div>
                                <input type="hidden" id="UserType" value="@Session["UserType"]" />
                                <input type="hidden" id="UserTypeName" value="@Session["UserTypeName"]" />


                            </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': '' });
        var UserType = $('#UserType').val();
        var UserTypeName = $('#UserTypeName').val();
        if (UserType == 'Admin' && UserTypeName != 'Admin') {
            GetMenuDetails();
        }

    });
    function GetMenuDetails() {
        var URL = "/Plot/PlotHoldList";
        $.ajax({
            type: "POST",
            url: "/Master/GetMenuDetails",
            data: { URL: URL },
            dataType: "json",
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                console.log(data)
                for (var i = 0; i < obj.length; i++) {
                    if (obj[i].FormDelete == true) {
                        $(".delete").show();
                    }
                    else {
                        $(".delete").hide();
                    }
                    if (obj[i].FormUpdate == true) {
                        $(".edit").show();
                    }
                    else {
                        var table = $('#tableExport').DataTable();
                        table.column(7).visible(false);
                    }

                }
            },
            error: function () {
                alert("Error occured!!")
            }
        });
    }

    function onSiteChange() {
        $("#divload").css({ 'display': '' });
        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/Plot/GetSiteDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                var j = 1;
                if (data.Result == "yes") {
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Phase'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));

                    });

                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }


            }

        });

    }

    function onSectorChange() {

        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/Plot/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });

            }

        });
    }


</script>


