@model RadhekunkInfra.Models.Plot
@{
    ViewBag.Title = "PlotBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ui-menu .ui-menu-item {
    margin: 0;
    cursor: pointer;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    padding: 10px;
}
</style>
@using (Html.BeginForm("PlotBooking", "Plot", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))

{
     <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Plot</li>
            <li class="breadcrumb-item">Plot Booking</li>
        </ul>
    </section>
    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Plot Booking</h4>
                    <p style="color: red">
                        @TempData["Plot"]
                        @TempData["Booking"]
                    </p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                Select Branch <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.BranchID, new SelectList(ViewBag.ddlBranch, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Customer ID <span style="color: red">*</span>
                                @if (Model.PK_BookingId == null)
                                {
                                    @Html.TextBoxFor(m => m.CustomerID, new { @class = "form-control", @Placeholder = "Customer ID", @onchange = "return getCustomerName();" })
                                   

                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.CustomerID, new { @class = "form-control", @Placeholder = "Customer ID", @onchange = "return getCustomerName();", @readonly = "d" })

                                }
                                @Html.HiddenFor(m => m.UserID)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Customer Name
                                @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @Placeholder = "Customer Name", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <img src="" style="margin-left: 37%;width: 86px;" id="AssociateImage" class="rounded-circle author-box-picture" />
                                </div>
                            </div>
                            
                        </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                Associate ID
                                @Html.TextBoxFor(m => m.AssociateID, new { @class = "form-control", @Placeholder = "Affiliate ID", @onchange = "return GetAssociateNameByAssociateID();", @readonly = "abc" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Associate Name
                                @Html.TextBoxFor(m => m.AssociateName, new { @class = "form-control", @Placeholder = "Associate Name", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Select Site <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Select Sector <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @onchange = "return onSectorChange();" })
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                Select Block <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                Plot Number <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @Placeholder = "Plot Number", @onchange = "return CheckPlotStatus();", @style = "text-transform:uppercase" })
                                @Html.HiddenFor(m => m.PlotID)
                                @Html.HiddenFor(m => m.PlotSize)
                                @Html.HiddenFor(m => m.BookingPercent)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Plot Area
                                @Html.TextBoxFor(m => m.PlotArea, new { @class = "form-control", @Placeholder = "Plot Number",@readonly=true})
                                @*@Html.HiddenFor(m => m.PlotID)
                                @Html.HiddenFor(m => m.PlotSize)
                                @Html.HiddenFor(m => m.BookingPercent)*@
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                Actual Plot Amount <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.PlotAmount, new { @class = "form-control", @Placeholder = "Actual Plot Amount", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                Actual Plot Rate <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.ActualPlotRate, new { @class = "form-control", @Placeholder = "Actual Plot Rate", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                Plot Rate <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.PlotRate, new { @class = "form-control", @maxlength = "6", @Placeholder = "Plot Rate", @onchange = "return calculatePlotAmount();", onkeypress = "return isNumberOrDecimal(event);" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Total PLC 
                                @Html.TextBoxFor(m => m.TotalPLC, new { @class = "form-control", @Placeholder = "TotalPLC", @onchange = "return calculatePlotAmount()", onkeypress = "return isNumberOrDecimal(event);" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                NetPlotAmount<span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.NetPlotAmount, new { @class = "form-control", @Placeholder = "Net Plot Amount", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Payment Plan <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.PaymentPlanID, new SelectList(ViewBag.ddlPlan, "Value", "Text"), new { @class = "form-control", @onchange = "return Flexi();" })
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-3" id="emi">
                            <div class="form-group">
                                No. Of EMI
                                @Html.TextBoxFor(m => m.NoOfEMI, new { @class = "form-control", @maxlength = "8", @Placeholder = "No. Of EMI", @onkeypress = "return isNumberOrDecimal(event);" })
                            </div>
                        </div>
                        <div class="col-md-3" hidden="hidden">
                            <div class="form-group">
                                Booking Amount <span  style="color: red">*</span>
                                @Html.TextBoxFor(m => m.BookingAmount, new { @class = "form-control", @maxlength = "8", @Placeholder = "BookingAmount", @onkeypress = "return isNumberOrDecimal(event);", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Booking Date <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.BookingDate, new { @class = "form-control", @Placeholder = "Booking Date", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Discount (In Amount)
                                @Html.TextBoxFor(m => m.Discount, new { @class = "form-control", @Placeholder = "Discount", @onchange = "return checkDiscount()", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "10" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Pay Amount <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.PayAmount, new { @class = "form-control", @Placeholder = "PayAmount", onkeypress = "return isNumberOrDecimal(event);", @onchange = "return validatePayAmount();" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                Remaining Amount
                                @Html.TextBoxFor(m => m.Balance, new { @class = "form-control", @Placeholder = "Remaining Amount", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Payment Date <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.PaymentDate, new { @class = "form-control", @Placeholder = "PaymentDate", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Payment Mode <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlPaymentMode, "Value", "Text"), new { @class = "form-control", @onchange = "return CheckPayMode()" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Bank <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.Fk_BankId, new SelectList(ViewBag.ddlTransactionType, "Value", "Text"), new { @class = "TransactionID form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" id="divtransactiono" style="display: none">
                            <div class="form-group">
                                <span id="txnNo"></span> <span id="spntrannumber" style="color: red">*</span>
                                @Html.TextBoxFor(m => m.TransactionNumber, new { @class = "form-control", @Placeholder = "Mobile Number", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="col-md-3" id="divPaymentMode" style="display: none">
                            <div class="form-group">
                                <span id="txndt"></span><span id="spntradate" style="color: red">*</span>
                                @Html.TextBoxFor(m => m.TransactionDate, new { @class = "form-control", @Placeholder = "Date", @Readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3" id="divbankname" style="display: none">
                            <div class="form-group">
                                Bank Name <span id="spnbankname" style="color: red">*</span>
                                @Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @maxlength = "100", @Placeholder = "Bank Name" })
                            </div>
                        </div>
                        <div class="col-md-3" id="divbankbranch" style="display: none">
                            <div class="form-group">
                                Bank Branch <span id="spnbankbranch" style="color: red">*</span>
                                @Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control", @maxlength = "100", @Placeholder = "Bank Branch" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @if (Model.PK_BookingId == null)
                                {
                                    <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="Save" />
                                }
                                else
                                {
                                    @Html.HiddenFor(m => m.PK_BookingId, new { @Value = @Model.PK_BookingId })
                                    <input class="btn btn-success pull-left" type="submit" value="Update" id="btnUpdate" name="Update" />
                                }
                                <input type="hidden" id="UserType" value="@Session["UserType"]" />
                                <input type="hidden" id="UserTypeName" value="@Session["UserTypeName"]" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<script src="~/WebsiteCss/js/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
  
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
        $("#NoOfEMI").prop('disabled', true);
        $("input").attr("autocomplete", "off");
        var cityuse = [];
        $("#loader").css({ 'display': '' });
        $.ajax({
            url: '/Plot/CustomerListForAutoSearch',
            type: 'Post',
         
            success: function (response) {
                debugger
                if (response != null) {
                    $(response).each(function (index, item) {
                        cityuse.push(item.UserName + "(" + item.LoginIDD + ")");
                    });
                    debugger
                    $('#CustomerID').autocomplete({
                        source: cityuse,
                        select: function (event, ui) {
                            var str = ui.item.label;
                            var strsplit = str.split("(");
                            $('#UserID').val(strsplit[1].substr(0, strsplit[1].length - 1));
                        }
                    })
                }
            }, error: function () {
                alert('Some Thing wrong!');
                $("#loader").css({ 'display': 'none' });
            }
        });
        var UserType = $('#UserType').val();
        var UserTypeName = $('#UserTypeName').val();
        if (UserType == 'Admin' && UserTypeName != 'Admin' && UserTypeName != "") {
            GetMenuDetails();
        }
    });
    function GetMenuDetails() {
        debugger
        var URL = "/Plot/PlotBooking";
        $.ajax({
            type: "POST",
            url: "/Master/GetMenuDetails",
            data: { URL: URL },
            dataType: "json",
            //contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                console.log(obj)
                for (var i = 0; i < obj.length; i++) {
                    if (obj[i].FormSave == true) {
                        $('#btnSave').show();

                        $("#btnSave").removeAttr('disabled');
                    }
                    else {
                        $('#btnSave').hide();

                        $("#btnSave").attr('disabled', 'disabled');
                    }
                    debugger
                    if (obj[i].FormUpdate == true && $('#PK_BookingId').val() != "") {
                        $('#btnUpdate').show();

                        $("#btnUpdate").removeAttr('disabled');
                    }
                    else {
                        $('#btnUpdate').hide();
                        $("#btnUpdate").attr('disabled', 'disabled');
                    }
                }
            },
            error: function () {
                alert("Error occured!!")
            }
        });
    }
    function Flexi() {
        if ($('#PaymentPlanID').val() == 3) {
            $("#NoOfEMI").prop('disabled', false);
        }
        else {
            $("#NoOfEMI").prop('disabled', true);
        }
    }

    function calculatePlotAmount() {
        var plotSize = $('#PlotSize').val();
        var plotRate = $('#PlotRate').val();
        var plotRate = $('#PlotRate').val();
        var bookingPercent = $('#BookingPercent').val();
        var plc = $('#TotalPLC').val();
        var actplotamt = $('#PlotAmount').val();

        var plotAmount = (Number)(plotSize) * (Number)(plotRate);

        var bookingAmount = plotAmount * bookingPercent / 100;
        if ($('#TotalPLC').val() == "0" || $('#TotalPLC').val() == "" || $('#TotalPLC').val() == "0.00") {
            $("#NetPlotAmount").val(plotAmount);

        }
        else {
            var actplotamtplc = (Number)(plotAmount) + (Number)(plc);
            $("#NetPlotAmount").val(actplotamtplc);
        }

        $("#Discount").val(0);
        $("#PayAmount").val(0);
        $("#Balance").val(0);

        $("#BookingAmount").val(bookingAmount);
    }

    function validatePayAmount() {
        debugger
        var payAmount = $('#PayAmount').val();
        var actualAmount = $('#PlotAmount').val();
        var disc = $('#Discount').val();


        var NetPlotAmount = $('#NetPlotAmount').val();
        var remaining = (Number)(NetPlotAmount) - (Number)(payAmount);
        $("#Balance").val(remaining);

        if ((Number)(payAmount) > ((Number)(NetPlotAmount))) {
            $("#PayAmount").addClass('errortext');
            $('#PayAmount').focus();
            $("#PayAmount").val('');
            $("#Balance").val(0);
            alert("Pay Amount cannot be greater than Actual Plot Amount ");
            return false;
        }

        else {
            $("#PayAmount").removeClass('errortext');
            return true;
        }

    }

    function checkDiscount() {
        //alert("Called");
        var discount = $('#Discount').val();
        var actualAmount = $('#PlotAmount').val();
        var disc = $('#Discount').val();
        var plc = $('#TotalPLC').val();
        if ((Number)(discount) > (Number)(actualAmount)) {
            $("#Discount").addClass('errortext');
            $('#Discount').focus();
            $("#Discount").val('');
            alert("Discount cannot be greater than Actual Plot Amount.");
            return false;
        }
        else {
            debugger;
            var payAmount = $('#PayAmount').val();
            var actualAmount = $('#PlotAmount').val();
            var disc = $('#Discount').val();


            var NetPlotAmount = $('#NetPlotAmount').val();

            var amount = Number($('#NetPlotAmount').val()) - Number(disc);
            $('#NetPlotAmount').val(amount);

            if ($('#PayAmount').val() != "") {
                var payamount = Number($('#PayAmount').val()) - Number(disc);
                $('#PayAmount').val(payamount);
            }
            $("#PayAmount").val(0);
            $("#Balance").val(0);

        }
    }

    function getStateCity() {

        var pincode = $('#Pincode').val();
        $.ajax({
            url: '/Master/GetStateCity', type: 'post', dataType: 'json',
            data: { 'Pincode': pincode },
            success: function (data) {
                if (data.Result == "yes") {
                    $("#State").val(data.State);
                    $("#City").val(data.City);
                    $("#State").removeClass('errortext');
                    $("#City").removeClass('errortext');
                    $("#Pincode").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    $("#State").val('');
                    $("#City").val('');
                    $("#State").addClass('errortext');
                    $("#City").addClass('errortext');
                    $("#Pincode").addClass('errortext');
                    $('#Pincode').focus();
                }
            }

        });
    }

    function GetAssociateNameByAssociateID() {
        $("#divload").css({ 'display': '' });

        var Associate = $('#AssociateID').val();
        $.ajax({
            url: '/Plot/GetAssociateName', type: 'post', dataType: 'json',
            data: { 'AssociateID': Associate },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                if (data.Result == "yes") {
                    $("#AssociateName").val(data.AssociateName);
                    $("#UserID").val(data.UserID);
                    document.getElementById('AssociateImage').src = data.ProfileImage;
                    $("#AssociateName").removeClass('errortext');
                    $("#AssociateID").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    $("#AssociateName").val('');
                    $("#AssociateImage").hide();
                    $("#AssociateName").addClass('errortext');
                    $("#AssociateID").addClass('errortext');
                    $('#AssociateID').focus();

                    alert("Invalid Associate ID");
                    $('#AssociateID').val('');
                }
            }

        });
    }

    function getCustomerName() {

        $("#divload").css({ 'display': '' });
        var sponsorID = $('#UserID').val();
        $.ajax({
            url: '/Plot/GetCustomerNameFromCustomerID', type: 'post', dataType: 'json',
            data: { 'CustomerID': sponsorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                if (data.Result == "yes") {
                    $("#CustomerName").val(data.CustomerName);
                    $("#AssociateName").val(data.AssociateName);
                    $("#AssociateID").val(data.AssociateID);
                    document.getElementById('AssociateImage').src = data.ProfileImage;

                    $("#CustomerName").removeClass('errortext');
                    $("#CustomerID").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    $("#CustomerName").val('');
                    document.getElementById('AssociateImage').src = '';
                    $("#AssociateName").val('');
                    $("#UserID").val('');
                    $("#AssociateID").val('');
                    $("#CustomerName").addClass('errortext');
                    $("#CustomerID").addClass('errortext');
                    $('#CustomerID').focus();
                    alert("Invalid Customer ID");
                    $('#CustomerID').val('');
                }
            }

        });
    }
    function getmlmname() {
        $("#divload").css({ 'display': '' });

        $.ajax({
            url: '/Plot/GetMLMLoginId', type: 'post', dataType: 'json',
            data: { 'LoginId': $('#MLMLoginId').val() },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                if (data.Result == "Yes") {
                    $("#mlmname").html(data.DisplayName);
                    $("#mlmname").removeClass('errortext');

                }
                else {
                    $("#MLMLoginId").val('');
                    $("#MLMLoginId").addClass('errortext');
                    $("#MLMLoginId").addClass('errortext');
                    $("#mlmname").html("");
                    alert("Invalid MLM Id");

                }
            }

        });
    }

    function validateform() {
        debugger
        $("#divload").css({ 'display': '' });
        $(".errortext").removeClass("errortext");

        if ($('#BranchID').val() == '0') {
            $("#BranchID").addClass('errortext');
            $('#BranchID').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#CustomerID').val() == '') {
            $("#CustomerID").addClass('errortext');
            $('#CustomerID').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#AssociateID').val() == '') {
            $("#AssociateID").addClass('errortext');
            $('#AssociateID').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#MLMLoginId').val() == '') {
            $("#MLMLoginId").addClass('errortext');
            $('#MLMLoginId').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

        if ($('#SiteID').val() == '0') {
            $("#SiteID").addClass('errortext');
            $('#SiteID').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#SectorID').val() == '0') {
            $("#SectorID").addClass('errortext');
            $('#SectorID').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

        if ($('#BlockID').val() == '0') {
            $("#BlockID").addClass('errortext');
            $('#BlockID').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

        if ($('#PlotNumber').val() == '') {
            $("#PlotNumber").addClass('errortext');
            $('#PlotNumber').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

        if ($('#PlotRate').val() == '') {
            $("#PlotRate").addClass('errortext');
            $('#PlotRate').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

        if ($('#PaymentPlanID').val() == '0') {
            $("#PaymentPlanID").addClass('errortext');
            $('#PaymentPlanID').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#PaymentPlanID').val() == '3') {
            if ($('#NoOfEMI').val() == '') {
                $("#NoOfEMI").addClass('errortext');
                $('#NoOfEMI').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else {
            $('#NoOfEMI').val('0');

        }
        if ($('#BookingDate').val() == '') {
            $("#BookingDate").addClass('errortext');
            $('#BookingDate').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }


        if ($('#PayAmount').val() == '') {
            $("#PayAmount").addClass('errortext');
            $('#PayAmount').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

        if ($('#PaymentDate').val() == '') {
            $("#PaymentDate").addClass('errortext');
            $('#PaymentDate').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#PaymentMode').val() == '0') {
            $("#PaymentMode").addClass('errortext');
            $('#PaymentMode').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#Fk_BankId').val() == '0')
        {
            $("#Fk_BankId").addClass('errortext');
            $('#Fk_BankId').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#PaymentMode').val() == '2') {
            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        //else if ($('#PaymentMode').val() == '3') {
        //    if ($('#TransactionNumber').val() == '') {
        //        $("#TransactionNumber").addClass('errortext');
        //        $('#TransactionNumber').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //    if ($('#TransactionDate').val() == '') {
        //        $("#TransactionDate").addClass('errortext');
        //        $('#TransactionDate').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //    if ($('#BankName').val() == '') {
        //        $("#BankName").addClass('errortext');
        //        $('#BankName').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //    if ($('#BankBranch').val() == '') {
        //        $("#BankBranch").addClass('errortext');
        //        $('#BankBranch').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //}
        else if ($('#PaymentMode').val() == '4') {
            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        //else if ($('#PaymentMode').val() == '5') {
        //    if ($('#TransactionNumber').val() == '') {
        //        $("#TransactionNumber").addClass('errortext');
        //        $('#TransactionNumber').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //    if ($('#TransactionDate').val() == '') {
        //        $("#TransactionDate").addClass('errortext');
        //        $('#TransactionDate').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //    if ($('#BankName').val() == '') {
        //        $("#BankName").addClass('errortext');
        //        $('#BankName').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //    if ($('#BankBranch').val() == '') {
        //        $("#BankBranch").addClass('errortext');
        //        $('#BankBranch').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //}
        //else if ($('#PaymentMode').val() == '6') {
        //    if ($('#TransactionNumber').val() == '') {
        //        $("#TransactionNumber").addClass('errortext');
        //        $('#TransactionNumber').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //    if ($('#TransactionDate').val() == '') {
        //        $("#TransactionDate").addClass('errortext');
        //        $('#TransactionDate').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //    if ($('#BankName').val() == '') {
        //        $("#BankName").addClass('errortext');
        //        $('#BankName').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //    if ($('#BankBranch').val() == '') {
        //        $("#BankBranch").addClass('errortext');
        //        $('#BankBranch').focus();
        //        $("#divload").css({ 'display': 'none' });
        //        return false;
        //    }
        //}
        else if ($('#PaymentMode').val() == '7') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }

        }
        else if ($('#PaymentMode').val() == '8') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#PaymentMode').val() == '9') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#PaymentMode').val() == '10') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            //if ($('#TransactionDate').val() == '') {
            //    $("#TransactionDate").addClass('errortext');
            //    $('#TransactionDate').focus();
            //    $("#divload").css({ 'display': 'none' });
            //    return false;
            //}
            //if ($('#BankName').val() == '') {
            //    $("#BankName").addClass('errortext');
            //    $('#BankName').focus();
            //    $("#divload").css({ 'display': 'none' });
            //    return false;
            //}
            //if ($('#BankBranch').val() == '') {
            //    $("#BankBranch").addClass('errortext');
            //    $('#BankBranch').focus();
            //    $("#divload").css({ 'display': 'none' });
            //    return false;
            //}
        }
        else if ($('#PaymentMode').val() == '11') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            //if ($('#BankName').val() == '') {
            //    $("#BankName").addClass('errortext');
            //    $('#BankName').focus();
            //    $("#divload").css({ 'display': 'none' });
            //    return false;
            //}
            //if ($('#BankBranch').val() == '') {
            //    $("#BankBranch").addClass('errortext');
            //    $('#BankBranch').focus();
            //    $("#divload").css({ 'display': 'none' });
            //    return false;
            //}
        }


        $("#divload").css({ 'display': '' });

        return true;
    }

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }

    function onSiteChange() {
        $("#divload").css({ 'display': '' });
        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/Master/GetSiteDetailsForPlotBooking",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                var j = 1;
                if (data.Result == "yes") {
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Sector'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));

                    });
                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }
            }

        });

    }

    function onSectorChange() {

        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/Master/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });

            }

        });
    }

    function CheckPlotStatus() {
        debugger
        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        var block = $('#BlockID').val();
        var plotno = $('#PlotNumber').val();

        $.ajax({
            url: '/Plot/CheckPlot', type: 'get', dataType: 'json',
            data: { 'SiteID': siteID, 'SectorID': sectorID, 'BlockID': block, 'PlotNumber': plotno },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                if (data.Result == "yes") {
                    $("#PlotNumber").removeClass('errortext');
                    $("#PlotID").val(data.PlotID);
                    $("#BookingPercent").val(data.BookingPercent);
                    $("#PlotSize").val(data.PlotSize);
                    $("#PlotAmount").val(data.PlotAmount);
                    $("#ActualPlotRate").val(data.ActualPlotRate);
                    $("#PlotRate").val(data.ActualPlotRate);
                    $("#BookingAmount").val(data.BookingAmount);
                    $("#TotalPLC").val(data.TotalPLC);
                    $("#NetPlotAmount").val(data.NetPlotAmount);
                    $("#PlotArea").val(data.PlotArea);
                }
                else if (data.Result == "no") {
                    alert('Invalid Plot Number !');
                    $("#PlotNumber").addClass('errortext');
                    $('#PlotNumber').focus();
                    $("#PlotNumber").val('');
                    $("#ActualPlotRate").val('');
                    $("#BookingAmount").val('');
                    $("#TotalPLC").val('');
                    $("#PlotAmount").val('');
                    $("#PlotArea").val('');
                }
                else {
                    alert('Plot not available !');
                    $("#PlotNumber").addClass('errortext');
                    $("#PlotNumber").val('');
                    $("#PlotAmount").val('');
                    $("#ActualPlotRate").val('');
                    $("#BookingAmount").val('');
                    $("#TotalPLC").val('');
                    $("#PlotAmount").val('');
                }
            }
        });
    }

    function CheckPayMode() {
        if ($('#PaymentMode').val() == '2') {
            $('#txnNo').html('Cheque No.');
            $('#txndt').html('Cheque Date');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#spntrannumber").show();
            $("#spntradate").show();
            $("#spnbankname").show();
            $("#spnbankbranch").show();
            $("#TransactionNumber").attr("placeholder", "Cheque No.");
            $("#TransactionDate").attr("placeholder", "Cheque Date");
        }
        else if ($('#PaymentMode').val() == '3') {
            $('#txndt').html('NEFT Date');
            $('#txnNo').text('NEFT No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#spntrannumber").hide();
            $("#spntradate").hide();
            $("#spnbankname").hide();
            $("#spnbankbranch").hide();
            $("#TransactionNumber").attr("placeholder", "NEFT No.");
            $("#TransactionDate").attr("placeholder", "NEFT Date");
        }
        else if ($('#PaymentMode').val() == '4') {
            $('#txndt').html('DD Date');
            $('#txnNo').text('DD No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#spntrannumber").show();
            $("#spntradate").show();
            $("#spnbankname").show();
            $("#spnbankbranch").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#TransactionNumber").attr("placeholder", "DD No.");
            $("#TransactionDate").attr("placeholder", "DD Date");
        }
        else if ($('#PaymentMode').val() == '5') {
            $('#txndt').html('RTGS Date');
            $('#txnNo').text('RTGS No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#spntrannumber").hide();
            $("#spntradate").hide();
            $("#spnbankname").hide();
            $("#spnbankbranch").hide();
            $("#TransactionNumber").attr("placeholder", "RTGS No.");
            $("#TransactionDate").attr("placeholder", "RTGS Date");
        }
        else if ($('#PaymentMode').val() == '6') {
            $('#txndt').html('IMPS Date');
            $('#txnNo').text('IMPS No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#spntrannumber").hide();
            $("#spntradate").hide();
            $("#spnbankname").hide();
            $("#spnbankbranch").hide();
            $("#divbankbranch").show();
            $("#TransactionNumber").attr("placeholder", "IMPS No.");
            $("#TransactionDate").attr("placeholder", "IMPS Date");
        }
        else if ($('#PaymentMode').val() == '7') {

            $('#txnNo').text('Mobile No./UPI ID');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#spntrannumber").show();
          
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No. / UPI ID");
        }
        else if ($('#PaymentMode').val() == '8') {

            $('#txnNo').text('Mobile No. / UPI ID');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#spntrannumber").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No. / UPI ID");
        }
        else if ($('#PaymentMode').val() == '9') {

            $('#txnNo').text('Mobile No. / UPI ID');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#spntrannumber").show();
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No. / UPI ID");
        }
        else if ($('#PaymentMode').val() == '10') {
            $("#spntrannumber").show();
            $('#txnNo').text('Mobile No. / UPI ID');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No. / UPI ID");
        }
        else if ($('#PaymentMode').val() == '11') {

            $('#txndt').html('Transaction Date');
            $('#txnNo').text('Reciept No.');
            $("#spntrannumber").show();
            $("#spntradate").show();
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#TransactionNumber").attr("placeholder", "Reciept No.");
            $("#TransactionDate").attr("placeholder", "Transaction Date");
        }
        else {
            $("#divPaymentMode").hide();
            $("#divtransactiono").hide();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
        }

    }

</script>

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

<script>

    $('#PaymentDate').datepicker({
        dateFormat: 'dd/mm/yy',
        maxDate: 0,
        changeYear: true,
        changeMonth: true
    });
    $('#TransactionDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
        minDate: new Date(new Date().setMonth(new Date().getMonth() - 2))
    });
    $('#BookingDate').datepicker({
        dateFormat: 'dd/mm/yy',
        maxDate: 0,
        changeYear: true,
        changeMonth: true
    });

</script>
@section script{
    @if (TempData["PlotBookingSucesssMessage"] != null && Session["BookingId"] != null)
    {

        <script>
            swal({
                title: "Plot Booked successfully !!",
                text: "If you want to print Click OK !!",
                icon: "success",
                buttons: true,
                buttons:["Cancel","Print"],
                dangerMode: false,
            }).then((willDelete) => {
                if (willDelete) {
                    var a = window.location.href;
                    id = "@Session["BookingId"]";
                    window.open('/Plot/PrintPlotBooking' + '?PrintId=' + id + "");
                }
                else {

                }
            });
        </script>
    }
}

