@model RadhekunkInfra.Models.Plot

@{
    ViewBag.Title = "RowHouseBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("RowHouseBooking", "Plot", FormMethod.Post, new { @id = "form1" }))
{



    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Plot</li>
            <li class="breadcrumb-item">Row House Booking</li>
        </ul>
    </section>


    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Plot Booking</h4>

                    <p style="color: red">
                        @TempData["RowHouse"]
                        @TempData["Booking"]
                    </p>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                Select Branch <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.BranchID, new SelectList(ViewBag.ddlBranch, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Customer ID <span style="color: red">*</span>
                                @if (Model.RowHouseBookingID == null)
                                {
                                    @Html.TextBoxFor(m => m.CustomerLoginID, new { @class = "form-control", @Placeholder = "Customer ID", @onchange = "return getCustomerName();" })

                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.CustomerLoginID, new { @class = "form-control", @Placeholder = "Customer ID", @onchange = "return getCustomerName();", @readonly = "d" })
                                }
                                @Html.HiddenFor(m => m.UserID)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Customer Name
                                @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @Placeholder = "Customer Name", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Associate ID
                                @Html.TextBoxFor(m => m.AssociateLoginID, new { @class = "form-control", @Placeholder = "Associate ID", @onchange = "return GetAssociateNameByAssociateID();", @readonly = "abc" })
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                Associate Name
                                @Html.TextBoxFor(m => m.AssociateName, new { @class = "form-control", @Placeholder = "Associate Name", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Select Site <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Plot Area
                                @Html.TextBoxFor(m => m.PlotArea, new { @class = "form-control", @Placeholder = "Plot Area", @onkeypress = "return isNumberOrDecimal(event);" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Ground Floor Area
                                @Html.TextBoxFor(m => m.GroundFloorArea, new { @class = "form-control", @Placeholder = "Ground Floor Area", @onkeypress = "return isNumberOrDecimal(event);" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                First Floor Area
                                @Html.TextBoxFor(m => m.FirstFloorArea, new { @class = "form-control", @Placeholder = "First Floor Area", @onkeypress = "return isNumberOrDecimal(event);" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Buildup Area/Home Area <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.BuildupArea, new { @class = "form-control", @Placeholder = "Buildup Area", @onchange = "return getAmount();", @onkeypress = "return isNumberOrDecimal(event);" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Rate <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.Rate, new { @class = "form-control", @Placeholder = "Rate", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Amount
                                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @Placeholder = "Amount", @onkeypress = "return isNumberOrDecimal(event);", @onchange = "return getAmount();", })
                                @Html.HiddenFor(m => m.BookingPercent)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                Plot Number <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @maxlength = "8", @Placeholder = "Plot Number" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Payment Plan <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.PaymentPlanID, new SelectList(ViewBag.ddlPlan, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Booking Amount  <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.BookingAmount, new { @class = "form-control", @maxlength = "8", @Placeholder = "BookingAmount", @onkeypress = "return isNumberOrDecimal(event);", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Booking Date <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.BookingDate, new { @class = "form-control", @Placeholder = "Booking Date", @readonly = "readonly" })
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                Discount (In Amount)
                                @Html.TextBoxFor(m => m.Discount, new { @class = "form-control", @Placeholder = "Discount", @onchange = "return checkDiscount()", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "10" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Pay Amount <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.PayAmount, new { @class = "form-control", @Placeholder = "PayAmount", onkeypress = "return isNumberOrDecimal(event);", @onchange = "return validatePayAmount();" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                Payment Date <span style="color: red">*</span>
                                @Html.TextBoxFor(m => m.PaymentDate, new { @class = "form-control", @Placeholder = "PaymentDate", @readonly = "readonly" })
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                Payment Mode <span style="color: red">*</span>
                                @Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlPaymentMode, "Value", "Text"), new { @class = "form-control", @onchange = "return CheckPayMode()" })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3" id="divtransactiono" style="display: none">
                            <div class="form-group">
                                <span id="txnNo"></span> <span id="spntrannumber" style="color: red">*</span>
                                @Html.TextBoxFor(m => m.TransactionNumber, new { @class = "form-control", @Placeholder = "Mobile Number", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="col-md-3" id="divPaymentMode" style="display: none">
                            <div class="form-group">
                                <span id="txndt"></span><span id="spntradate" style="color: red">*</span>
                                @Html.TextBoxFor(m => m.TransactionDate, new { @class = "form-control", @Placeholder = "Date", @Readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3" id="divbankname" style="display: none">
                            <div class="form-group">
                                Bank Name <span id="spnbankname" style="color: red">*</span>
                                @Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @maxlength = "100", @Placeholder = "Bank Name" })
                            </div>
                        </div>
                        <div class="col-md-3" id="divbankbranch" style="display: none">
                            <div class="form-group">
                                Bank Branch <span id="spnbankbranch" style="color: red">*</span>
                                @Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control", @maxlength = "100", @Placeholder = "Bank Branch" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="example1_wrapper" class="table table-bordered table-hover display nowrap margin-top-10 table-responsive dataTable">
                                <thead>
                                    <tr>
                                        <th>SrNo</th>
                                        <th>Name</th>
                                        <th>PLC Charge</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyAttd"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @if (Model.PK_BookingId == null)
                                {
                                    <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="Save" />
                                }
                                else
                                {
                                    @Html.HiddenFor(m => m.PK_BookingId, new { @Value = @Model.PK_BookingId })
                                    <input class="btn btn-success pull-left" type="submit" value="Update" id="btnUpdate" name="Update" />
                                }
                            </div>

                        </div>
                    </div>







                </div>
            </div>
        </div>
    </div>


}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>

    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });
    function getAmount() {

        //var buildup = $('#BuildupArea').val();
        //var rate = $('#Rate').val();
        //var amount = (Number)(buildup) * (Number)(rate);
        //var bookingPer = "10";
        //var bookingAmount = amount * bookingPer / 100;
        //$("#Amount").val(amount);
        //$("#BookingAmount").val(bookingAmount);

        var amount = $("#Amount").val();
        var buildup = $('#BuildupArea').val();

        var rate = (Number)(amount) / (Number)(buildup);
        var bookingPer = "10";
        var bookingAmount = amount * bookingPer / 100;

        $("#Rate").val(rate);
        $("#BookingAmount").val(bookingAmount);
    }

    function calculatePlotAmount() {
        //var plotSize = $('#PlotSize').val();
        var plotRate = $('#PlotRate').val();
        var bookingPer = $('#BookingPercent').val();

        //alert('Size : ' + plotSize + '\nRate : ' + plotRate);
      //  var plotAmount = (Number)(plotSize) * (Number)(plotRate);
        var bookingAmount = plotRate * bookingPer / 100;
        //alert('Size : ' + plotSize + '\nRate : ' + plotRate + '\nAmount : ' + plotAmount);
     //   $("#PlotAmount").val(plotAmount);
        $("#BookingAmount").val(bookingAmount);
    }

    function validatePayAmount() {
        debugger
        var payAmount = $('#PayAmount').val();
        var actualAmount = $('#PlotAmount').val();
        var disc = $('#Discount').val();
        if ((Number)(payAmount) > (Number)(actualAmount)) {
            $("#PayAmount").addClass('errortext');
            $('#PayAmount').focus();
            $("#PayAmount").val('');
            alert("Pay Amount cannot be greater than Actual Plot Amount.");
            return false;
        }
        else if ((Number)(payAmount) > ((Number)(actualAmount) - (Number)(disc))) {
            $("#PayAmount").addClass('errortext');
            $('#PayAmount').focus();
            $("#PayAmount").val('');
            alert("Pay Amount cannot be greater than Actual Plot Amount after discount");
            return false;
        }

        else {
            $("#PayAmount").removeClass('errortext');
            return true;
        }
    }

    function checkDiscount() {
        //alert("Called");
        var discount = $('#Discount').val();
        var actualAmount = $('#PlotAmount').val();
        var disc = $('#Discount').val();
        if ((Number)(discount) > (Number)(actualAmount)) {
            $("#Discount").addClass('errortext');
            $('#Discount').focus();
            $("#Discount").val('');
            alert("Discount cannot be greater than Actual Plot Amount.");
            return false;
        }
        else {
            var plotSize = $('#PlotSize').val();
            var plotRate = $('#PlotRate').val();

            var plotAmount = (Number)(plotSize) * (Number)(plotRate);

            var newPlotAmount = (Number)(plotAmount) - (Number)(discount);
            //alert(newPlotAmount);
            $('#PlotAmount').val(newPlotAmount);
        }
    }

    function getStateCity() {

        var pincode = $('#Pincode').val();
        $.ajax({
            url: '/Master/GetStateCity', type: 'post', dataType: 'json',
            data: { 'Pincode': pincode },
            success: function (data) {
                if (data.Result == "yes") {
                    $("#State").val(data.State);
                    $("#City").val(data.City);
                    $("#State").removeClass('errortext');
                    $("#City").removeClass('errortext');
                    $("#Pincode").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    $("#State").val('');
                    $("#City").val('');
                    $("#State").addClass('errortext');
                    $("#City").addClass('errortext');
                    $("#Pincode").addClass('errortext');
                    $('#Pincode').focus();
                }
            }

        });
    }

    function GetAssociateNameByAssociateID() {
        $("#divload").css({ 'display': '' });

        var Associate = $('#AssociateID').val();
        $.ajax({
            url: '/Plot/GetAssociateName', type: 'post', dataType: 'json',
            data: { 'AssociateID': Associate },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                if (data.Result == "yes") {
                    $("#AssociateName").val(data.AssociateName);
                    $("#UserID").val(data.UserID);
                    $("#AssociateName").removeClass('errortext');
                    $("#AssociateID").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    $("#AssociateName").val('');
                    $("#AssociateName").addClass('errortext');
                    $("#AssociateID").addClass('errortext');
                    $('#AssociateID').focus();

                    alert("Invalid Associate ID");
                    $('#AssociateID').val('');
                }
            }

        });
    }

    function getCustomerName() {

        $("#divload").css({ 'display': '' });
        var sponsorID = $('#CustomerLoginID').val();
        $.ajax({
            url: '/Plot/GetCustomerNameFromCustomerID', type: 'post', dataType: 'json',
            data: { 'CustomerID': sponsorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                if (data.Result == "yes") {
                    $("#CustomerName").val(data.CustomerName);
                    $("#AssociateName").val(data.AssociateName);
                    $("#AssociateLoginID").val(data.AssociateID);
                    $("#CustomerName").removeClass('errortext');
                    $("#CustomerLoginID").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    $("#CustomerName").val('');
                    $("#CustomerName").addClass('errortext');
                    $("#CustomerLoginID").addClass('errortext');
                    $('#CustomerLoginID').focus();
                    alert("Invalid Customer ID");
                    $('#CustomerLoginID').val('');
                }
            }

        });
    }

    function validateform() {
        debugger
        $("#divload").css({ 'display': '' });

        $(".errortext").removeClass("errortext");

        if ($('#BranchID').val() == '0') {
            $("#BranchID").addClass('errortext');
            $('#BranchID').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#CustomerLoginID').val() == '') {
            $("#CustomerLoginID").addClass('errortext');
            $('#CustomerLoginID').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#AssociateLoginID').val() == '') {
            $("#AssociateLoginID").addClass('errortext');
            $('#AssociateLoginID').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }


        if ($('#SiteID').val() == '0') {
            $("#SiteID").addClass('errortext');
            $('#SiteID').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }


        //if ($('#PlotArea').val() == '') {
        //    $("#PlotArea").addClass('errortext');
        //    $('#PlotArea').focus();
        //    $("#divload").css({ 'display': 'none' });
        //    return false;
        //}
        //if ($('#GroundFloorArea').val() == '') {
        //    $("#GroundFloorArea").addClass('errortext');
        //    $('#GroundFloorArea').focus();
        //    $("#divload").css({ 'display': 'none' });
        //    return false;
        //}
        //if ($('#FirstFloorArea').val() == '') {
        //    $("#FirstFloorArea").addClass('errortext');
        //    $('#FirstFloorArea').focus();
        //    $("#divload").css({ 'display': 'none' });
        //    return false;
        //}
        if ($('#BuildupArea').val() == '') {
            $("#BuildupArea").addClass('errortext');
            $('#BuildupArea').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#Rate').val() == '') {
            $("#Rate").addClass('errortext');
            $('#Rate').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#Amount').val() == '') {
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#PlotNumber').val() == '') {
            $("#PlotNumber").addClass('errortext');
            $('#PlotNumber').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

        if ($('#PaymentPlanID').val() == '0') {
            $("#PaymentPlanID").addClass('errortext');
            $('#PaymentPlanID').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

        if ($('#BookingDate').val() == '') {
            $("#BookingDate").addClass('errortext');
            $('#BookingDate').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }


        if ($('#PayAmount').val() == '') {
            $("#PayAmount").addClass('errortext');
            $('#PayAmount').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

        if ($('#PaymentDate').val() == '') {
            $("#PaymentDate").addClass('errortext');
            $('#PaymentDate').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

        if ($('#PaymentMode').val() == '0') {
            $("#PaymentMode").addClass('errortext');
            $('#PaymentMode').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }

        if ($('#PaymentMode').val() == '0') {
            $("#PaymentMode").addClass('errortext');
            $('#PaymentMode').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        if ($('#PaymentMode').val() == '2') {
            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
            //else if ($('#PaymentMode').val() == '3') {
            //    if ($('#TransactionNumber').val() == '') {
            //        $("#TransactionNumber").addClass('errortext');
            //        $('#TransactionNumber').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#TransactionDate').val() == '') {
            //        $("#TransactionDate").addClass('errortext');
            //        $('#TransactionDate').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#BankName').val() == '') {
            //        $("#BankName").addClass('errortext');
            //        $('#BankName').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#BankBranch').val() == '') {
            //        $("#BankBranch").addClass('errortext');
            //        $('#BankBranch').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //}
        else if ($('#PaymentMode').val() == '4') {
            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
            //else if ($('#PaymentMode').val() == '5') {
            //    if ($('#TransactionNumber').val() == '') {
            //        $("#TransactionNumber").addClass('errortext');
            //        $('#TransactionNumber').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#TransactionDate').val() == '') {
            //        $("#TransactionDate").addClass('errortext');
            //        $('#TransactionDate').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#BankName').val() == '') {
            //        $("#BankName").addClass('errortext');
            //        $('#BankName').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#BankBranch').val() == '') {
            //        $("#BankBranch").addClass('errortext');
            //        $('#BankBranch').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //}
            //else if ($('#PaymentMode').val() == '6') {
            //    if ($('#TransactionNumber').val() == '') {
            //        $("#TransactionNumber").addClass('errortext');
            //        $('#TransactionNumber').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#TransactionDate').val() == '') {
            //        $("#TransactionDate").addClass('errortext');
            //        $('#TransactionDate').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#BankName').val() == '') {
            //        $("#BankName").addClass('errortext');
            //        $('#BankName').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //    if ($('#BankBranch').val() == '') {
            //        $("#BankBranch").addClass('errortext');
            //        $('#BankBranch').focus();
            //        $("#divload").css({ 'display': 'none' });
            //        return false;
            //    }
            //}
        else if ($('#PaymentMode').val() == '7') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }

        }
        else if ($('#PaymentMode').val() == '8') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#PaymentMode').val() == '9') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#PaymentMode').val() == '10') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#PaymentMode').val() == '11') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else {
            $('#TransactionNumber').val('');
            $('#TransactionDate').val('');
            $('#BankName').val('');
            $('#BankBranch').val('');
        }

        $("#divload").css({ 'display': '' });

        return true;
    }

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }
    function  getrate()
    {

               $("#divload").css({ 'display': '' });
            var value = $('#PlotArea').val();


            $.ajax({
                url: "/Plot/GetRate",
                Type: "Get",
                DataType: "JSON",
                data: { PlotArea: value },
                success: function (data) {
                   $("#divload").css({ 'display': 'none' });
                    var j = 1;
                    if (data.Result == "1") {
                        $('#PlotRate').val(data.PlotRate);
                        $('#BookingAmount').val(data.BookingAmount);
                        $('#BookingPercent').val(data.BookingPercent);
                    }
                    else {
                        $("#PlotArea").empty();
                        $('#Rate').val('');
                    }
                }

            });


    }

    function onSiteChange() {
       $("#divload").css({ 'display': '' });
        var value = $('#SiteID').val();
        var values = $('#PlotArea').val();
        var tr = [];
        $.ajax({
            url: "/Plot/GetRateandPLC",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
        $("#divload").css({ 'display': 'none' });
                var i = 1;
                if (data.Result == "1") {
                    $('#PlotRate').val(data.PlotRate);
                    $('#BookingAmount').val(data.BookingAmount);

                    $("#PlotArea").html(""); // clear before appending new list
                    $("#PlotArea").empty();
                    $("#PlotArea").append(
                          $('<option></option>').val(0).html('Select '));
                    $.each(data.ddlPlotArea, function (index, Sectorcount) {
                        $("#PlotArea").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));

                    });

                    if (data.lstPlot.length > 0) {

                        $('#tbodyAttd').empty();
                        for (var j = 0; j < data.lstPlot.length; j++) {
                            debugger;

                            tr.push('<tr>');
                            tr.push("<td>" + i + "</td>");
                            tr.push("<td>" + data.lstPlot[j].PLCName + "</td>");
                            tr.push("<td> <input type='text' value=" + data.lstPlot[j].TotalPLC + " name='plccharge_" + j + "'/> </td>");
                            tr.push("<td> <input type='hidden' value=" + data.lstPlot[j].PK_PLCCharge + " name='Pk_Plcid_" + j + "'/></td>");


                            tr.push('</tr>');
                            i++;

                        }
                        tr.push("<td><input type='hidden' value='" + i + "' id='hdrows' name='hdrows'></td>");
                        $('#tbodyAttd').append($(tr.join('')));
                    }


                }
                else {
                    $("#PlotArea").empty();
                    $('#Rate').val('');
                }
            }

        });

    }
    function CheckPayMode() {
        if ($('#PaymentMode').val() == '2') {
            $('#txnNo').html('Cheque No.');
            $('#txndt').html('Cheque Date');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#spntrannumber").show();
            $("#spntradate").show();
            $("#spnbankname").show();
            $("#spnbankbranch").show();
            $("#TransactionNumber").attr("placeholder", "Cheque No.");
            $("#TransactionDate").attr("placeholder", "Cheque Date");
        }
        else if ($('#PaymentMode').val() == '3') {
            $('#txndt').html('NEFT Date');
            $('#txnNo').text('NEFT No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#spntrannumber").hide();
            $("#spntradate").hide();
            $("#spnbankname").hide();
            $("#spnbankbranch").hide();
            $("#TransactionNumber").attr("placeholder", "NEFT No.");
            $("#TransactionDate").attr("placeholder", "NEFT Date");
        }
        else if ($('#PaymentMode').val() == '4') {
            $('#txndt').html('DD Date');
            $('#txnNo').text('DD No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#spntrannumber").show();
            $("#spntradate").show();
            $("#spnbankname").show();
            $("#spnbankbranch").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#TransactionNumber").attr("placeholder", "DD No.");
            $("#TransactionDate").attr("placeholder", "DD Date");
        }
        else if ($('#PaymentMode').val() == '5') {
            $('#txndt').html('RTGS Date');
            $('#txnNo').text('RTGS No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#spntrannumber").hide();
            $("#spntradate").hide();
            $("#spnbankname").hide();
            $("#spnbankbranch").hide();
            $("#TransactionNumber").attr("placeholder", "RTGS No.");
            $("#TransactionDate").attr("placeholder", "RTGS Date");
        }
        else if ($('#PaymentMode').val() == '6') {
            $('#txndt').html('IMPS Date');
            $('#txnNo').text('IMPS No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#spntrannumber").hide();
            $("#spntradate").hide();
            $("#spnbankname").hide();
            $("#spnbankbranch").hide();
            $("#divbankbranch").show();
            $("#TransactionNumber").attr("placeholder", "IMPS No.");
            $("#TransactionDate").attr("placeholder", "IMPS Date");
        }
        else if ($('#PaymentMode').val() == '7') {

            $('#txnNo').text('Mobile No./UPI ID');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#spntrannumber").show();

            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No. / UPI ID");
        }
        else if ($('#PaymentMode').val() == '8') {

            $('#txnNo').text('Mobile No. / UPI ID');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#spntrannumber").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No. / UPI ID");
        }
        else if ($('#PaymentMode').val() == '9') {

            $('#txnNo').text('Mobile No. / UPI ID');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#spntrannumber").show();
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No. / UPI ID");
        }
        else if ($('#PaymentMode').val() == '10') {
            $("#spntrannumber").show();
            $('#txnNo').text('Mobile No. / UPI ID');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No. / UPI ID");
        }
        else if ($('#PaymentMode').val() == '11') {

            $('#txndt').html('Transaction Date');
            $('#txnNo').text('Reciept No.');
            $("#spntrannumber").show();
            $("#spntradate").show();
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#TransactionNumber").attr("placeholder", "Reciept No.");
            $("#TransactionDate").attr("placeholder", "Transaction Date");
        }
        else {
            $("#divPaymentMode").hide();
            $("#divtransactiono").hide();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
        }

    }
   

</script>

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

<script>

    $('#PaymentDate').datepicker({
        dateFormat: 'dd/mm/yy',
        maxDate: 0,
        changeYear: true,
        changeMonth: true
    });
    $('#TransactionDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
        minDate: new Date(new Date().setMonth(new Date().getMonth() - 2))
    });
    $('#BookingDate').datepicker({
        dateFormat: 'dd/mm/yy',
        maxDate: 0,
        changeYear: true,
        changeMonth: true
    });

</script>


