@model RadhekunkInfra.Models.Plot

@{
    ViewBag.Title = "UploadPlotDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #divload {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url("../files/assets/images/login-gif-11.gif") no-repeat center center rgba(0,0,0,0.25);
    }

    .errortext {
        border: 1px solid red !important;
    }
</style>
<div class="loader" id="divload"></div>


@using (Html.BeginForm("UploadPlotDocument", "Plot", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{

    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Plot</li>
            <li class="breadcrumb-item">Upload Plot/House Document</li>
        </ul>
    </section>


    <div class="section-body">

        <div class="card">
            <div class="card-header">
                <h4>Upload Plot/House Document</h4>

                <p style="color: red">
                    @TempData["Doc"]
                </p>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="input-field col m2 s12">
                        <div class="form-group">
                            Select Site <span style="color: red">*</span>
                            @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                        </div>
                    </div>
                    <div class="input-field col m2 s12">
                        <div class="form-group">
                            Select Phase <span style="color: red">*</span>
                            @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @onchange = "return onSectorChange();" })
                        </div>
                    </div>
                    <div class="input-field col m2 s12">
                        <div class="form-group">
                            Select Block <span style="color: red">*</span>
                            @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="input-field col m2 s12">
                        <div class="form-group">
                            Plot Number <span style="color: red">*</span>
                            @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @Placeholder = "Plot Number" })
                            @Html.HiddenFor(m => m.PlotID)
                        </div>
                    </div>
                    <div class="input-field col m2 s12">
                        <div class="form-group">
                            Booking Number
                            @Html.TextBoxFor(m => m.BookingNumber, new { @class = "form-control", @Placeholder = "Booking Number" })
                            @Html.HiddenFor(m => m.PK_BookingId)
                        </div>
                    </div>
                    <div class="input-field col m2 s12">
                        <br />
                        <div class="form-group">
                            <input type="button" name="SearchPlot" value="Search" id="btnSearchPlot" class="btn btn-success" onclick="return GetDetails(); " />
                        </div>
                    </div>
                </div>


                <div class="row" id="Details1" style="display: none;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Plot Details @*<small>List Of Sites</small>*@</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row ">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Associate ID :</b></label>
                                        <label id="AssoID"></label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Associate Name :</b></label>
                                        <label id="AssoName"></label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b> Customer ID :</b></label>
                                        <label id="CustID"></label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label> <b>Customer Name :</b></label>
                                        <label id="CustName"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Plot Rate :</b></label>
                                        <label id="Plotrte"></label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Plot Area :</b></label>
                                        <label id="Plotarea"></label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Actual Plot Amount :</b></label>
                                        <label id="ActPlotAmt"></label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Discount :</b></label>
                                        <label id="disct"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Booking Amount :</b></label>
                                        <label id="bookingAmt"></label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Booking Date :</b></label>
                                        <label id="Bookigdt"></label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Paid Amount:</b></label>
                                        <label id="Payamt"></label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Payment Date:</b></label>
                                        <label id="Paydt"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Payment Plan :</b></label>
                                        <label id="Payplan"></label>

                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Total Allotment Amount:</b></label>
                                        <label id="totAlotamt"></label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Paid Allotment Amount:</b></label>
                                        <label id="paidaltamt"></label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Balance Allotment Amount :</b></label>
                                        <label id="balalotamt"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Net Plot Amount:</b></label>
                                        <label id="netPlotAmt"></label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><b>Balance Amount:</b></label>
                                        <label id="remamt"></label>
                                    </div>
                                </div>

                            </div>
                            <br />
                            <hr />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <b>Upload File</b> <span style="color: red">*</span>
                                        <input type="file" name="postedFile" id="Image" />
                                    </div>
                                </div>

                            </div>

                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" name="Save" value="Save" id="btnSave" class="btn btn-success" onclick="return validateform();" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}



<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });



    function validateform() {
        $(".errortext").removeClass("errortext");

        if ($('#Image').val() == '') {
            $("#Image").addClass('errortext');
            $('#Image').focus();
            return false;
        }

        return true;
    }

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }

    function onSiteChange() {
        $("#divload").css({ 'display': '' });
        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/Master/GetSiteDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                var j = 1;
                if (data.Result == "yes") {
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Phase'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));

                    });
                    $("#SectorID").formSelect();
                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }
            }

        });

    }

    function onSectorChange() {

        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/Master/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });
                $("#BlockID").formSelect();
            }

        });
    }

    function GetDetails() {
        $("#divload").css({ 'display': '' });
        if ($('#PlotNumber').val() == '' && $('#BookingNumber').val() == '') {
            alert(" Please, either select Site ID,Phase ID,Block ID and fill Plot Number OR fill Booking Number");
            $("#divload").css({ 'display': 'none' });
        }
        else if ($('#BookingNumber').val() != '') {


            var siteID = $('#SiteID').val();
            var sectorID = $('#SectorID').val();
            var block = $('#BlockID').val();
            var plotno = $('#PlotNumber').val();
            var bookno = $('#BookingNumber').val();
            $.ajax({

                url: '/Plot/PlotBookingDetails', type: 'get', dataType: 'json',
                data: { 'SiteID': siteID, 'SectorID': sectorID, 'BlockID': block, 'PlotNumber': plotno, 'BookingNumber': bookno },
                success: function (data) {
                    $("#divload").css({ 'display': 'none' });
                    if (data.Result == "yes") {



                        $("#Details1").show();

                        $("#AssoID").text(data.AssociateLoginID);
                        $("#AssoName").text(data.AssociateName);
                        $("#CustID").text(data.CustomerLoginID);
                        $("#CustName").text(data.CustomerName);

                        $("#ActPlotAmt").text(data.PlotAmount);
                        $("#ActPlotRate").text(data.ActualPlotRate);
                        $("#Plotrte").text(data.PlotRate);
                        $("#Bookigdt").text(data.BookingDate);
                        $("#bookingAmt").text(data.BookingAmount);
                        $("#Payamt").text(data.PaidAmount);
                        $("#Paydt").text(data.PaymentDate);
                        $("#disct").text(data.Discount);
                        $("#Payplan").text(data.PlanName);
                        $("#PK_BookingId").val(data.PK_BookingId);
                        $("#PaymentDate").val(data.PaymentDate);
                        $("#totAlotamt").text(data.TotalAllotmentAmount);
                        $("#paidaltamt").text(data.PaidAllotmentAmount);
                        $("#balalotamt").text(data.BalanceAllotmentAmount);
                        $("#Plotarea").text(data.PlotArea);
                        $("#bal").text(data.Balance);
                        $("#netPlotAmt").text(data.NetPlotAmount);
                        //var totalAmt = $('#ActPlotAmt').text();
                        //var paidAmt = $('#Payamt').text();
                        //var checkAmt = (Number)(totalAmt) - (Number)(paidAmt);
                        $("#remamt").text(data.Balance);

                        //$("#SiteID").val('');
                        //$("#SectorID").val('');
                        //$("#BlockID").val('');
                        //$("#PlotNumber").val('');

                    }
                    else {
                        alert(data.Result);
                        //    alert("Invalid Request")
                        $("#SiteID").val('0');
                        $("#SectorID").val('0');
                        $("#BlockID").val('0');
                        $("#PlotNumber").val('');
                    }

                }

            });
        }

        else if ($('#SiteID').val() != '0' && $('#SectorID').val() != '0' && $('#BlockID').val() != '0' && $('#PlotNumber').val() != '') {
            $("#divload").css({ 'display': 'none' });
            var siteID = $('#SiteID').val();
            var sectorID = $('#SectorID').val();
            var block = $('#BlockID').val();
            var plotno = $('#PlotNumber').val();
            var bookno = $('#BookingNumber').val();
            $.ajax({

                url: '/Plot/PlotBookingDetails', type: 'get', dataType: 'json',
                data: { 'SiteID': siteID, 'SectorID': sectorID, 'BlockID': block, 'PlotNumber': plotno, 'BookingNumber': bookno },
                success: function (data) {
                    $("#divload").css({ 'display': 'none' });
                    if (data.Result == "yes") {
                        var totalAmt = $('#ActPlotAmt').text();
                        var paidAmt = $('#Payamt').text();
                        var checkAmt = (Number)(totalAmt) - (Number)(paidAmt);

                        $("#Details1").show();

                        $("#AssoID").text(data.AssociateLoginID);
                        $("#AssoName").text(data.AssociateName);
                        $("#CustID").text(data.CustomerLoginID);
                        $("#CustName").text(data.CustomerName);

                        $("#ActPlotAmt").text(data.PlotAmount);
                        $("#ActPlotRate").text(data.ActualPlotRate);
                        $("#Plotrte").text(data.PlotRate);
                        $("#Bookigdt").text(data.BookingDate);
                        $("#bookingAmt").text(data.BookingAmount);
                        $("#Payamt").text(data.PaidAmount);
                        $("#Paydt").text(data.PaymentDate);
                        $("#disct").text(data.Discount);
                        $("#Payplan").text(data.PlanName);
                        $("#PK_BookingId").val(data.PK_BookingId);
                        $("#PaymentDate").val(data.PaymentDate);
                        $("#totAlotamt").text(data.TotalAllotmentAmount);
                        $("#paidaltamt").text(data.PaidAllotmentAmount);
                        $("#balalotamt").text(data.BalanceAllotmentAmount);
                        $("#Plotarea").text(data.PlotArea);
                        $("#bal").text(data.Balance);
                        $("#netPlotAmt").text(data.NetPlotAmount);
                        //var totalAmt = Number($('#ActPlotAmt').text()) - Number($('#disct').text()) ;
                        //var paidAmt = $('#Payamt').text();
                        //var checkAmt = (Number)(totalAmt) - (Number)(paidAmt);

                        $("#remamt").text(data.Balance);
                        //$("#SiteID").val('');
                        //$("#SectorID").val('');
                        //$("#BlockID").val('');
                        //$("#PlotNumber").val('');

                    }
                    else {
                        alert(data.Result);
                        // alert("Invalid Request")
                        $("#SiteID").val('0');
                        $("#SectorID").val('0');
                        $("#BlockID").val('0');
                        $("#PlotNumber").val('');

                    }

                }

            });
        }
    }



</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

<script>

    $('#TransactionDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
        minDate: new Date(new Date().setMonth(new Date().getMonth() - 2))
    });
    $('#PaymentDate').datepicker({
        dateFormat: 'dd/mm/yy',
        maxDate: 0,
        changeYear: true,
        changeMonth: true
    });

</script>


