@model RadhekunkInfra.Models.Wallet

@{
    ViewBag.Title = "DirectIncome";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}
@using (Html.BeginForm("DirectIncome", "UserReports", FormMethod.Post, new { @id = "form1" }))
{

    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Payout</li>
            <li class="breadcrumb-item">Direct</li>
        </ul>
    </section>

    <div class="section-body">
        <div class="card">
            <div class="card-header">
                <h4>Direct Income</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label>
                            Payout No
                        </label>
                            @Html.TextBoxFor(m => m.PayoutNo, new { @class = "form-control", @onclick = "return isNumberOrDecimal(event);" })
</div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>From Date  </label>
                            @Html.TextBoxFor(m => m.FromDate, new {  @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>To Date  </label>
                            @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <br />
                        <input class="btn btn-success" type="submit" value="Search" name="btnSearch" id="btnSearch" />
                    </div>
                </div>
                    <div class="table-responsive">
                    <table class="table table-bordered table-md" data-page-length='50' id="tableExport" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>Login ID</th>
                            <th>Name</th>
                            <th>Payout No</th>
                            <th>Closing Date</th>
                            <th>Direct Income</th>


                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.lstPayoutDetail != null)
                            {
                                int i = 1;
                                foreach (var Item in Model.lstPayoutDetail)
                                {
                                    <tr class="text-left">
                                        <td>@i</td>
                                        <td>@Item.LoginId</td>
                                        <td>@Item.DisplayName</td>
                                        <td>@Item.PayoutNo</td>
                                        <td>@Item.ClosingDate</td>
                                        <td>@Item.DirectIncome</td>

                                    </tr>
                                    i++;
                                }

                            }
                        }
                    </tbody>
                </table>
                       </div>
            </div>
        </div>
    </div>
}

<script src="../../vendor/jquery/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>


    $('#FromDate').datepicker({
        autoclose: true,
        format: "yyyy-mm-dd",
        immediateUpdates: true,
        todayBtn: true,
        todayHighlight: true
    }).datepicker("setDate", "0");
    $('#ToDate').datepicker({
        autoclose: true,
        format: "yyyy-mm-dd",
        immediateUpdates: true,
        todayBtn: true,
        todayHighlight: true
    }).datepicker("setDate", "0");
 

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

</script>

