@model RadhekunkInfra.Models.Reports

@{
    ViewBag.Title = "LuckyDraw";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}


@using (Html.BeginForm("LuckyDraw", "UserReports", FormMethod.Post, new { @id = "form1" }))
{

    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Lucky Draw</li>
        </ul>
    </section>

    <div class="section-body">
        <div class="card">
            <div class="card-header">
                <h4>Lucky Draw</h4>
            </div>
            <div class="card-body">
              
                <br />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>S No.</th>
                            <th>Month</th>
                            <th>LoginId</th>
                            <th>Name</th>
                            <th>Plot Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.lstLuckyDraw != null)
                            {
                                int i = 1;
                                foreach (var Item in Model.lstLuckyDraw)
                                {
                                    <tr class="text-left">

                                        <td>@i</td>
                                        <td>@Item.Month</td>
                                        <td>@Item.LoginId</td>
                                        <td>@Item.Name</td>
                                        <td>@Item.PlotNumber</td>

                                    </tr>
                                    i++;
                                }
                            }
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
}
<script src="../vendor/jquery/jquery.min.js"></script>


<script src="../..//WebsiteCss/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script src="../../AdminCSS/js/jquery.min.js"></script>
<script>

    function editRecord(month, loginId, name, plotNumber, id) {
        debugger

        $('select[name="Month"]').val(month);
        $('input[name="Name"]').val(name);
        $('input[name="Id"]').val(id);
        $('input[name="LoginId"]').val(loginId);
        $('input[name="PlotNumber"]').val(plotNumber);
        $('#btnSave').hide();
        $('#btnUpdate').show();
    }

    function updateRecord() {

        $(".errortext").removeClass("errortext");

        if ($('select[name="Month"]').val() == '') {
            $('select[name="Month"]').addClass('errortext');
            $('select[name="Month"]').focus();
            return false;
        }
        if ($('input[name="Name"]').val() == '') {
            $('input[name="Name"]').addClass('errortext');
            $('input[name="Name"]').focus();
            return false;
        }
        //if ($('input[name="LoginId"]').val() == '') {
        //    $('input[name="LoginId"]').addClass('errortext');
        //    $('input[name="LoginId"]').focus();
        //    return false;
        //}
        if ($('input[name="PlotNumber"]').val() == '') {
            $('input[name="PlotNumber"]').addClass('errortext');
            $('input[name="PlotNumber"]').focus();
            return false;
        }
    }

    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('select[name="Month"]').val() == '') {
            $('select[name="Month"]').addClass('errortext');
            $('select[name="Month"]').focus();
            return false;
        }
        if ($('input[name="Name"]').val() == '') {
            $('input[name="Name"]').addClass('errortext');
            $('input[name="Name"]').focus();
            return false;
        }
        //if ($('input[name="LoginId"]').val() == '') {
        //    $('input[name="LoginId"]').addClass('errortext');
        //    $('input[name="LoginId"]').focus();
        //    return false;
        //}
        if ($('input[name="PlotNumber"]').val() == '') {
            $('input[name="PlotNumber"]').addClass('errortext');
            $('input[name="PlotNumber"]').focus();
            return false;
        }
        return true;
    }
</script>

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>


