@model RadhekunkInfra.Models.Reports

@{
    ViewBag.Title = "PayReport";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}

@using (Html.BeginForm("PayReport", "UserReports", FormMethod.Post, new { @id = "form1" }))
{

    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">EMI Report</li>
        </ul>
    </section>

    <div class="section-body">
        <div class="card">
            <div class="card-header">
                <h4>EMI Report</h4>
            </div>
            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sr No.</th>

                            <th>Login Id</th>
                            <th>Payment Date</th>
                            <th>Paid Amt</th>
                            <th>Receipt No</th>
                            <th>Plot Number</th>
                            @*<th>Print</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.lstassociate != null)
                            {
                                int i = 1;
                                foreach (var Item in Model.lstassociate)
                                {
                                    <tr class="text-left">
                                        <td>@i</td>
                                        <td>@Item.LoginId</td>
                                        <td>@Item.PaymentDate</td>
                                        <td>@Item.Amount</td>
                                        <td>@Item.ReceiptNo</td>
                                        <td>@Item.PlotNumber</td>
                                        @*<td> <a href="/UserReports/PrintInstallmentReceipt?ReceiptNo=@Item.ReceiptNo" class="btn btn-success btn-sm" target="_blank">Print</a></td>*@
                                    </tr>
                                    i++;
                                }

                            }
                        }
                    </tbody>


                </table>
            </div>
        </div>
    </div>
}

<script src="../..//WebsiteCss/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>

    function Validate() {

        $(".errortext").removeClass("errortext");

        if ($("#IsDownline").prop("checked") == true) {
            if ($('#LoginId').val() == '') {
                $("#LoginId").addClass('errortext');
                $('#LoginId').focus();
                return false;
            }
        }
        else {
            return true;
        }
    }


    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>


