@model RadhekunkInfra.Models.Reports

@{
    ViewBag.Title = "PlotAvailability";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }

    #divload {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 9999;
        background: url("https://thuRadhekunkInfra.gfycat.com/LameDifferentBalloonfish-small.gif") no-repeat center center rgba(0,0,0,0.25);
    }
</style>
@using (Html.BeginForm("PlotAvailability", "UserReports", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="loader" id="divload"></div>
    <div>
        <div class="login-row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 mx-auto align-self-center">
                <div class="card border-0 shadow-sm mb-4">
                    <div class="card-header">
                        <div class="row ">
                            <div class="col-auto">
                                <h4 class="mt-0 mb-1">Plot Availability </h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        Select Site <span style="color: red">*</span>
                                        @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                                    </div>
                                    <div class="col-md-3 form-group">
                                        Select Phase @*<span style="color: red">*</span>*@
                                        @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @onchange = "return onSectorChange();" })
                                    </div>
                                    <div class="col-md-3 form-group" hidden="hidden">
                                        Select Block
                                        @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-3 form-group">
                                        Plot Number @*<span style="color: red">*</span>*@
                                        @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @placeholder = "Plot Number" })
                                    </div>
                                    <div class="col-md-3">
                                        <br />
                                        <div class="form-group">
                                            <input type="submit" name="Search" value="Search" id="btnSearchPlot" class="btn btn-success" onclick="return GetDetails(); " />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12" id="DivPlots">
                                    <div class="col-lg-12">
                                        <label style="color: orange;"><b><u>Availability Status</u></b></label>
                                        <br />
                                        <div class="col-md-2 float-left">
                                            <div style="border:solid; border-color:#d60808; background-color:#d60808; height:20px; width:20px; float:left"></div>
                                            - Booked
                                        </div>
                                        <div class="col-md-2 float-left">
                                            <div style="border:solid; border-color:#69ce69; background-color:#69ce69; height:20px; width:20px; float:left"></div>
                                            - Available
                                        </div>
                                        <div class="col-md-2 float-left">
                                            <div style="border:solid; border-color:yellow; background-color:yellow; height:20px; width:20px; float:left"></div>
                                            - Allotted
                                        </div>
                                        @*@*<div class="col-md-2 float-left">
                                                <div style="border:solid; border-color: #e470e4; background-color: #e470e4; height:20px; width:20px; float:left"></div>
                                                - Allotted
                                            </div>*@
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            @if (Model != null)
                            {
                                if (Model.lstPlot != null)
                                {
                                    foreach (var Item in Model.lstPlot)
                                    {
                                        @*<a href="#" data-toggle="tooltip" title="Plot Amount :@Item.PlotAmount ; Plot Area :@Item.PlotArea">*@
                                        <div style="margin-left:0.5%;color:black;background: @Item.ColorCSS; border:Solid; float:left; height:100px; margin-bottom:0.5%; text-align:center; padding-top:0.5%">
                                            <input type="hidden" value="@Item.PlotID" />
                                            <input type="hidden" value="@Item.SiteID" />
                                            <input type="hidden" value="@Item.SectorID" />
                                            <b>Plot Number : </b>@Item.PlotNumber
                                            <br />
                                            @*<b>Plot Area : </b>@Item.PlotArea
                                                <br />*@
                                            (@Item.SectorName)
                                            <br />
                                            <b>Plot Area : </b>@Item.PlotArea
                                            <br />
                                            <b>Plot Size : </b>@Item.PlotSize
                                        </div>
                                        @*</a>*@
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
        $("#SectorID").html("");// clear before appending new list
        $("#SectorID").empty();
        $("#SectorID").append(
              $('<option></option>').val(0).html('Select Phase'));
   });

    function GetDetails() {
        $(".errortext").removeClass("errortext");
        if ($('#SiteTypeID').val() == '0') {
            $("#SiteTypeID").addClass('errortext');
            $('#SiteTypeID').focus();
            return false;
        }
        if ($('#SiteID').val() == '0') {
            $("#SiteID").addClass('errortext');
            $('#SiteID').focus();
            return false;
        }
        //if ($('#SectorID').val() == '0') {
        //    $("#SectorID").addClass('errortext');
        //    $('#SectorID').focus();
        //    return false;
        //}
        //if ($('#PlotNumber').val() == '') {
        //    $("#PlotNumber").addClass('errortext');
        //    $('#PlotNumber').focus();
        //    return false;
        //}
        return true;
    }
    function onSiteTypeChange() {
        debugger;
         $("#divload").css({ 'display': '' });
        var value = $('#SiteTypeID').val();
        var values = $('#SiteID').val();
        var tr = [];
        $.ajax({
            url: "/UserReports/GetSiteBySiteType",
            Type: "Get",
            DataType: "JSON",
            data: { SiteTypeID: value },
            success: function (data) {
                debugger;
                var j = 1;
                $("#divload").css({ 'display': 'none' });
                $("#SiteID").html(""); // clear before appending new list
                $("#SiteID").empty();
                $("#SiteID").append(
                      $('<option></option>').val(0).html('Select Site'));
                $("#SiteID").html(""); // clear before appending new list
                $("#SiteID").empty();
                $("#SiteID").append(
                      $('<option></option>').val(0).html('Select Site'));
                $.each(data.ddlSite, function (index, Sectorcount) {
                    $("#SiteID").append(
                          $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));
                });
            }
        });
    }
    function onSiteChange() {
       // $("#divload").css({ 'display': '' });
        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/UserReports/GetSiteDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                var j = 1;
                if (data.Result == "yes") {
                   // $("#divload").css({ 'display': 'none' });
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html("");// clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Phase'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));
                    });
                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }
            }
        });
    }
    function onSectorChange() {
       // $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/UserReports/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
               // $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });
            }
        });
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>






