@model RadhekunkInfra.Models.Home
    <aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light navbar-full sidenav-active-rounded">
     

        <ul class="sidebar-menu" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
            @if (Model != null)
            {
                if (Model.lstMenu != null)
                {
                    int i=1;
                    foreach (var item in Model.lstMenu)
                    {

                        if (Model.lstsubmenu != null && Model.lstsubmenu.Count > 0)
                        {
                            <li class="dropdown">
                               
                                @if (item.Url == "#")
                                {
                                    <a href="@item.Url" class="menu-toggle nav-link has-dropdown"><i data-feather="mail"></i><span>@item.MenuName</span></a>
                                    <ul class="dropdown-menu">
                                        @foreach (var item1 in Model.lstsubmenu)
                                        {
                                            if (item1.MenuId == item.MenuId)
                                            {
                                                @*<li id="FormView" style="display:none">@item1.FormView</li>
                                                <li id="FormSave" style="display:none">@item1.FormSave</li>
                                                <li id="FormUpdate" style="display:none">@item1.FormUpdate</li>
                                                <li id="FormDelete" style="display:none">@item1.FormDelete</li>*@
                                                <li><a class="nav-link menu" data-formview="@item1.FormView" data-formsave="@item1.FormSave" data-formupdate="@item1.FormUpdate" data-formdelete="@item1.FormDelete" href="@item1.Url">@item1.SubMenuName</a></li>
                                            }
                                        }
                                    </ul>

                                }
                                else
                                {
                                    <a href="@item.Url" class="nav-link"><i data-feather="clipboard"></i><span>@item.MenuName</span></a>
                                }
                            </li>
                        }


                    }
                }
            }
        </ul>
     
    </aside>

@*<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light navbar-full sidenav-active-rounded">

        <ul class="sidebar-menu" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">



            @if (Model != null)
                {
                    if (Model.lstMenu != null)
                    {

                        foreach (var item in Model.lstMenu)
                        {

                        <li class="dropdown">
                            <a class="menu-toggle nav-link has-dropdown" href="@item.Url"><i data-feather="check-circle"></i><span class="menu-title" data-i18n="Templates">@item.MenuName</span></a>

                            @if (item.Url == "#")
                            {

                                    <ul class="dropdown-menu">
                                        @foreach (var item1 in Model.lstsubmenu)
                                        {
                                            if (item1.MenuId == item.MenuId)
                                            {

                                                <li >
                                                    <a class="nav-link" href="@item1.Url"><span data-i18n="Modern Menu">@item1.SubMenuName</span></a>
                                                </li>

                                            }
                                        }
                                    </ul>
                            }
                        </li>


                    }
                }
            }

        </ul>
    </aside>*@