<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Associate Dashboard</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="../AssociateCSS/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="../AssociateCSS/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="../AssociateCSS/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../AssociateCSS/assets/css/style.css">
    <link rel="stylesheet" href="../AssociateCSS/assets/css/components.css">
    <link rel="stylesheet" href="../AssociateCSS/assets/bundles/jqvmap/dist/jqvmap.min.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="../AssociateCSS/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href="~/WebsiteCss/assets/images/favicon.png" />
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"><i data-feather="menu"></i></a>
                        </li>
                        <li>
                            @*<form class="form-inline mr-auto">
                                <div class="search-element">
                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                                    <button class="btn" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>*@
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li>
                        <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                            <i data-feather="maximize"></i>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/AssociatePanelcss/assets/img/icon.png"
                                 class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Hello @Session["LoginId"]</div>
                            @*<a href="/AssociateDashboard/ViewProfile" class="dropdown-item has-icon">
                                <i class="far
										fa-user"></i> Profile
                            </a>*@
                            <div class="dropdown-divider"></div>
                            <a href="/Home/Login" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="/AssociateDashboard/AssociateDashboard">
                            <img class="header-logo" alt="@Session["FullName"]" src="~/WebsiteCss/assets/images/radhekunj_logo.png" title="@Session["FullName"]" />
                        </a>
                    </div>
                    <div class="sidebar-user">
                        <div class="sidebar-user-picture">
                            <img alt="image" src="~/AssociatePanelcss/assets/img/icon.png" title="@Session["FullName"]" class="header-logo" />
                            </div>
                        <div class="sidebar-user-details">
                            <div class="user-name">@Session["FullName"]</div>
                              <div class="user-role" style="color:#fff;font-size:12px;font-weight:700">@Session["DesignationName"]</div>

                        </div>
                    </div>
                    <ul class="sidebar-menu">

                        <li class="dropdown">
                            <a href="/AssociateDashboard/AssociateDashboard" class="nav-link">
                                <i data-feather="monitor"></i><span>Dashboard</span>
                            </a>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown">
                                <i data-feather="command"></i><span>My Profile</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/AssociateDashboard/ViewProfile">View Profile</a></li>
                                <li><a class="nav-link" href="/AssociateDashboard/KYCDocuments">Upload KYC</a></li>

                            </ul>
                        </li>
                        @*<li class="dropdown">
                            <a href="/AssociateDashboard/Registration" class="nav-link"><i data-feather="check-circle"></i><span>Registration</span></a>
                        </li>*@
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown">
                                <i data-feather="shopping-bag"></i><span>Customer</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/AssociateDashboard/CustomerList">Customer Details</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown">
                                <i data-feather="briefcase"></i><span>Team</span>
                            </a>
                            <ul class="dropdown-menu">
                                @*<li><a class="nav-link" href="/User/BinaryTree">Binary Tree</a></li>
                                <li><a class="nav-link" href="/Downline/DownLineList">DownLine</a></li>
                                <li><a class="nav-link" href="/Downline/DirectList">Direct</a></li>*@
                                <li><a class="nav-link" href="/AssociateDashboard/Tree">Level Tree</a></li>
                    <li><a class="nav-link" href="/AssociateDashboard/AssociateTree">Down Team Tree</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown">
                                <i data-feather="copy"></i><span>
                                    Reports
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                @*<li><a class="nav-link" href="/AssociateDashboard/AssociateBookingList">Plot Bookings</a></li>*@
                                <li><a class="nav-link" href="/AssociateDashboard/AssociateBookingList">Self Plot Bookings</a></li>
                                <li><a class="nav-link" href="/AssociateDashboard/AssociateTeamBookingList">Team Plot Bookings</a></li>
                                <li><a class="nav-link" href="/UserReports/BusinessReport">Business Summary</a></li>
                                @*<li><a class="nav-link" href="/UserReports/TopupList">Business Summary</a></li>*@
                                @*<li><a class="nav-link" href="/UserReports/PayReport">EMI Report</a></li>*@
                                <li><a class="nav-link" href="/AssociateDashboard/CustomerLedgerReport">Plot Ledger</a></li>
                                <li><a class="nav-link" href="/AssociateDashboard/ReturnBenefitReport">Return Benefit Report</a></li>
                                @*<li><a class="nav-link" href="/AssociateDashboard/AssociateUplineDetail">Associate Upline</a></li>
                    <li><a class="nav-link" href="/AssociateDashboard/AssociateDownlineDetail">Associate Downline</a></li>*@
                                @*<li><a class="nav-link" href="/AssociateDashboard/UnpaidIncome">Unpaid Income</a></li>*@
                                @*<li><a class="nav-link" href="/AssociateDashboard/PayoutRequestReport">Payout Request List</a></li>*@
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="/AssociateDashboard/UserReward" class="nav-link"><i data-feather="check-circle"></i><span>User Rewards</span></a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="mail"></i><span>Payout</span></a>
                            <ul class="dropdown-menu">
                                @*<li><a class="nav-link" href="/UserReports/DirectIncome">Direct Income</a></li>
                                <li><a class="nav-link" href="/UserReports/PairIncome">Pair Income</a></li>*@
                                <li><a class="nav-link" href="/AssociateDashboard/PayoutRequest">Payout Request</a></li>
                                <li><a class="nav-link" href="/AssociateDashboard/PayoutLedger">Payout Ledger</a></li>
                                <li><a class="nav-link" href="/AssociateDashboard/PayoutDetails">Payout Details</a></li>
                                @*<li><a class="nav-link" href="/UserReports/PaidPayout">Paid Payout</a></li>*@
                           

                            </ul>
                        </li>
                        @*<li class="dropdown">
                <a href="/AssociateDashboard/KYCDocuments" class="nav-link"><i data-feather="command"></i><span>Upload KYC</span></a>
            </li>*@
                        @*<li class="dropdown">
                            <a href="/UserReports/LuckyDraw" class="nav-link"><i data-feather="check-circle"></i><span>Lucky Draw</span></a>
                        </li>*@
                        <li class="dropdown">
                            <a href="/UserReports/PlotAvailability" class="nav-link"><i data-feather="command"></i><span>Plot Availability</span></a>
                        </li>

                        <li class="dropdown">
                            <a href="/AssociateDashboard/ChangePasswordAssociate" class="nav-link"><i data-feather="calendar"></i><span>Change Password</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="/AssociateDashboard/EnquiryList" class="nav-link"><i data-feather="shopping-bag"></i><span>Support</span></a>
                        </li>
                        @*<li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown">
                                <i data-feather="shopping-bag"></i><span>Support</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/AssociateDashboard/EnquiryList">Enquiry</a></li>
                            </ul>
                        </li>*@

                    </ul>
                </aside>
            </div>

            <div class="main-content">
                <section class="section">
                    @RenderBody()
                </section>
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2020 <div class="bullet"></div> Design By <a href="#">Radhe Kunj Infratech pvt. ltd. LLP</a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="../AssociateCSS/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="../AssociateCSS/assets/bundles/apexcharts/apexcharts.min.js"></script>
    <script src="../AssociateCSS/assets/bundles/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="../AssociateCSS/assets/bundles/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <!-- Page Specific JS File -->
    <script src="../AssociateCSS/assets/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="../AssociateCSS/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="../AssociateCSS/assets/js/custom.js"></script>
    <script src="~/AssociateCSS/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/AssociateCSS/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AssociateCSS/assets/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
    <script src="~/AssociateCSS/assets/bundles/datatables/export-tables/buttons.flash.min.js"></script>
    <script src="~/AssociateCSS/assets/bundles/datatables/export-tables/jszip.min.js"></script>
    <script src="~/AssociateCSS/assets/bundles/datatables/export-tables/pdfmake.min.js"></script>
    <script src="~/AssociateCSS/assets/bundles/datatables/export-tables/vfs_fonts.js"></script>
    <script src="~/AssociateCSS/assets/bundles/datatables/export-tables/buttons.print.min.js"></script>
    <script src="~/AssociateCSS/assets/js/page/datatables.js"></script>
    <script src="~/AssociateCSS/assets/bundles/apexcharts/apexcharts.min.js"></script>
</body>

</html>