<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Customer Dashboard</title>
    <!-- General CSS Files -->
    <link href="~/AssociateCSS/assets/bundles/datatables/datatables.min.css" rel="stylesheet" />

    <link href="~/AssociateCSS/assets/bundles/datatables/DataTables-1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../AssociateCSS/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="../AssociateCSS/assets/css/style.css">
    <link rel="stylesheet" href="../AssociateCSS/assets/css/components.css">
    <link rel="stylesheet" href="../AssociateCSS/assets/bundles/jqvmap/dist/jqvmap.min.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="../AssociateCSS/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href="~/AssociateCSS/assets/img/favicon.png" />
    <style>
        .main-sidebar .sidebar-brand a {
            text-decoration: none;
            text-transform: uppercase;
            /* letter-spacing: 3px; */
            font-weight: 700;
            font-size: 17px;
            vertical-align: bottom;
            color: #f80909;
        }
    </style>
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"><i data-feather="menu"></i></a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li>
                        <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                            <i data-feather="maximize"></i>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/AssociatePanelcss/assets/img/Emplogo.jpg"
                                 class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Hello -: @Session["LoginId"]</div>
                            @*<a href="/CustomerDashboard/EditProfile" class="dropdown-item has-icon">
                                <i class="far
										fa-user"></i> Profile
                            </a>*@
                            <div class="dropdown-divider"></div>
                            <a href="/Home/Login" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="~/CustomerDashboard/CustomerDashboard">
                            <img class="header-logo" alt="@Session["FullName"]" src="~/images/logo.png" title="@Session["FullName"]" />
                           
                        </a>
                    </div>
                    <div class="sidebar-user">
                        <div class="sidebar-user-picture">
                                <img alt="image" title="@Session["LoginId"]" src="@Session["ProfilePic"]">
                            </div>
                        <div class="sidebar-user-details">
                            <div class="user-name">@Session["FullName"]</div>
                        </div>
                    </div>
                    <ul class="sidebar-menu">
                        @if (Session["Pk_AdminId"] != null)
                        {
                            <li class="dropdown">
                                <a href="/Admin/AdminDashBoard" class="nav-link">
                                    <i data-feather="monitor"></i><span>Back To Admin Login</span>
                                </a>

                            </li>
                        }
                        <li class="dropdown">
                            <a href="/CustomerDashboard/CustomerDashboard" class="nav-link">
                                <i data-feather="monitor"></i><span>Dashboard</span>
                            </a>

                        </li>
                        <li class="dropdown">
                            <a href="/CustomerDashboard/EditProfile" class="nav-link"><i data-feather="calendar"></i><span>Profile</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown">
                                <i data-feather="copy"></i><span>
                                    Reports
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/CustomerDashboard/CustomerBookingList">Plot Bookings</a></li>
                                <li><a class="nav-link" href="/CustomerDashboard/CustomerLedgerReport">Ledger</a></li>
                                <li><a class="nav-link" href="/CustomerDashboard/DueInstallmentReport">Due Installment </a></li>
                                <li><a class="nav-link" href="/CustomerDashboard/ReturnBenefitByLogin">Return Benefit</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="/CustomerDashboard/ChangePasswordCustomer" class="nav-link"><i data-feather="calendar"></i><span>Change Password</span></a>
                        </li>
                    </ul>
                </aside>
            </div>

            <div class="main-content">
                <section class="section">
                    @RenderBody()
                </section>
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2020 <div class="bullet"></div> Design By <a href="#">Radhe Kunj Infratech pvt. ltd. LLP</a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>
    <script src="~/AssociateCSS/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="~/AssociateCSS/assets/bundles/chartjs/chart.min.js"></script>
    <script src="~/AssociateCSS/assets/bundles/jquery.sparkline.min.js"></script>
    <script src="~/AssociateCSS/assets/bundles/apexcharts/apexcharts.min.js"></script>
    <script src="~/AssociateCSS/assets/bundles/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="~/AssociateCSS/assets/bundles/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/AssociateCSS/assets/bundles/jqvmap/dist/maps/jquery.vmap.indonesia.js"></script>

    <!-- Page Specific JS File -->
    <script src="~/AssociateCSS/assets/js/page/widget-chart.js"></script>
    <!-- Template JS File -->
    <script src="~/AssociateCSS/assets/js/scripts.js"></script>

    <!-- Custom JS File -->
    <script src="~/AssociateCSS/assets/js/custom.js"></script>
    <!-- Page Specific JS File -->
    <script src="../AssociateCSS/assets/bundles/datatables/datatables.min.js"></script>
    <script src="../AssociateCSS/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="../AssociateCSS/assets/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
    <script src="../AssociateCSS/assets/bundles/datatables/export-tables/buttons.flash.min.js"></script>
    <script src="../AssociateCSS/assets/bundles/datatables/export-tables/jszip.min.js"></script>
    <script src="../AssociateCSS/assets/bundles/datatables/export-tables/pdfmake.min.js"></script>
    <script src="../AssociateCSS/assets/bundles/datatables/export-tables/vfs_fonts.js"></script>
    <script src="../AssociateCSS/assets/bundles/datatables/export-tables/buttons.print.min.js"></script>
    <script src="../AssociateCSS/assets/js/page/datatables.js"></script>
    <!-- Template JS File -->
    <script src="../AssociateCSS/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="../AssociateCSS/assets/js/custom.js"></script>
    <!-- General JS Scripts -->
    <!-- JS Libraies -->
    <script src="../AssociateCSS/assets/bundles/apexcharts/apexcharts.min.js"></script>
    <script src="../AssociateCSS/assets/bundles/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="../AssociateCSS/assets/bundles/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <!-- Page Specific JS File -->
    <script src="../AssociateCSS/assets/js/page/index.js"></script>

</body>

</html>