@model RadhekunkInfra.Models.Employee

@{
    ViewBag.Title = "EmployeeRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EmployeeRegistration", "Employee", FormMethod.Post, new { @id = "form1" }))
{
    <div id="divload" class="loader"></div>
    <section class="section">
        <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
                <a href="#">
                    <i data-feather="home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">Permission</li>
            <li class="breadcrumb-item">Employee Registration</li>
        </ul>
    </section>
    
    <div class="section-body">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Employee Registration</h4>

                    <p style="color: red">
                        @TempData["Employee"]
                    </p>
                </div>
                <div class="card-body">
                    <div class="row ">
                        <div class="input-field col m6 s12">
                            User Type<span style="color:red">*</span>
                            @Html.DropDownListFor(m => m.UserTypeID, new SelectList(ViewBag.ddlUserType, "Value", "Text"), new { @class = "form-control" })

                        </div>

                        <div class="input-field col m6 s12">
                            Name<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Placeholder = " Name" })
                        </div>


                    </div>

                    <div class="row">
                        <div class="input-field col m6 s12">
                            Mobile No.<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @Placeholder = "Mobile Number", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "10" })
                        </div>
                        <div class="input-field col m6 s12">
                            Email Id
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @Placeholder = "Email" })
                        </div>
                    </div>
                    <div class="row">

                        <div class="input-field col m3 s12">
                            Joining  Date<span style="color:red">*</span>
                            @Html.TextBoxFor(m => m.JoiningDate, new { @class = "form-control", @readonly = "readonly" })
                        </div>

                        <div class="input-field col m3 s12">
                            Salary
                            @Html.TextBoxFor(m => m.Salary, new { @class = "form-control", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "15" })
                        </div>

                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="input-field col m6 s12">
                            @if (Model.UserID == null)
                {
                                <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="Registration" />
                            }
                            else
                            {
                                @Html.HiddenFor(m => m.UserID, new { @Value = @Model.UserID })
                                <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Update" id="btnUpdate" name="Update" />
                            }
                            <a class="btn btn-info" href="/Employee/EmployeeList" style="margin-left:5px;">Back To List</a>
                        </div>


                    </div>





                </div>
            </div>
        </div>
    </div>
}

                <script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
                <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
                <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

                <script>
                    $(document).ready(function () {
                        $("#divload").css({ 'display': 'none' });
                    });

                    function validatePan() {
                        var panVal = $('#PanNo').val();
                        var regpan = /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/;

                        if (regpan.test(panVal)) {
                            $("#PanNo").removeClass('errortext');
                        } else {
                            alert("Invalid PAN Number");
                            $("#PanNo").val('');
                            $("#PanNo").addClass('errortext');
                        }
                    }

                    function getStateCity() {

                        var pincode = $('#Pincode').val();
                        $.ajax({
                            url: '/Master/GetStateCity', type: 'post', dataType: 'json',
                            data: { 'Pincode': pincode },
                            success: function (data) {
                                if (data.Result == "yes") {
                                    $("#State").val(data.State);
                                    $("#City").val(data.City);
                                    $("#State").removeClass('errortext');
                                    $("#City").removeClass('errortext');
                                    $("#Pincode").removeClass('errortext');
                                }
                                else if (data.Result == "no") {
                                    alert("Invalid Pincode");
                                    $("#State").val('');
                                    $("#City").val('');
                                    $("#State").addClass('errortext');
                                    $("#City").addClass('errortext');
                                    $("#Pincode").addClass('errortext');
                                    $('#Pincode').focus();
                                    $('#Pincode').val('');

                                }
                            }

                        });
                    }



                    function validateform() {
                        $("#divload").css({ 'display': 'none' });
                        $(".errortext").removeClass("errortext");

                        if ($('#UserTypeID').val() == '0') {
                            $("#UserTypeID").addClass('errortext');
                            $('#UserTypeID').focus();
                            return false;
                        }
                        if ($('#Name').val() == '') {
                            $("#Name").addClass('errortext');
                            $('#Name').focus();
                            return false;
                        }
                        if ($('#Mobile').val() == '') {
                            $("#Mobile").addClass('errortext');
                            $('#Mobile').focus();
                            return false;
                        }
                        if ($('#JoiningDate').val() == '') {
                            $("#JoiningDate").addClass('errortext');
                            $('#JoiningDate').focus();
                            return false;
                        }

                        $("#divload").css({ 'display': '' });
                        return true;
                    }

                    function isNumberOrDecimal(evt) {
                        var charCode = (evt.which) ? evt.which : evt.keyCode;
                        if (charCode != 46 && charCode > 31
                          && (charCode < 48 || charCode > 57))
                            return false;

                        return true;
                    }

                    function onlyAlphabets(e, t) {
                        try {
                            if (window.event) {
                                var charCode = window.event.keyCode;
                            }
                            else if (e) {
                                var charCode = e.which;
                            }
                            else { return true; }
                            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                                return true;
                            else
                                return false;
                        }
                        catch (err) {
                            alert(err.Description);
                        }
                    }

                </script>

                <style>
                    .errortext {
                        border: 1px solid red !important;
                        background-color: #fff0f0 !important;
                    }
                </style>


                <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
                <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
                <script>

                    $('#JoiningDate').datepicker({
                        format: 'dd/mm/yyyy',
                        changeYear: true,
                        changeMonth: true,
                        maxDate: 0
                    });



                </script>
